@import "variables.less";

.crucible.sheet.actor {
  --headerHeight: 200px;
  --titleHeight: 50px;
  --skillHeight: 30px;

  /* General Sheet Styles */
  label {
    font-family: @caslon;
    color: @colorOlive;
  }

  input[type="text"] {
    border: 1px solid @colorBeige;
  }

  .header-content {
    label {
      font-size: 24px;
    }
  }

  h1.charname {
    flex: 3;
    margin: 0;
    border-bottom: 1px solid @colorBeige;

    input {
      height: calc(var(--titleHeight) - 10px);
      margin: 5px 0;
      background: none;
      border: none;
    }
  }

  h2.level {
    flex: 1;
    text-align: right;
    margin: 0;
    border-bottom: 1px solid @colorBeige;

    input {
      height: 40px;
      width: 40px;
      margin: 5px;
      font-size: 28px;
      line-height: 40px;
      text-align: center;
    }
  }

  .ancestry,
  .background {
    flex: 1;
    font-size: 24px;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid @colorBeige;

    label {
      float: left;
    }

    h2 {
      margin: 0;
      border: none;
      text-align: right;
    }
  }

  .ancestry {
    border-right: 1px solid @colorBeige;
  }

  .resource {
    padding: 0 8px;
    border-right: 1px solid @colorFaint;
    &:last-child {
      border-right: none;
    }

    .resource-name {
      margin: 3px 10px 0;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: @colorOlive;
      border-bottom: 1px solid @colorFaint;
    }
    .resource-values {
      margin: 3px 0;
      span.sep {
        flex: 0 0 20px;
        color: @colorFaint;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
      input, .resource-max {
        height: 24px;
        line-height: 24px;
        text-align: center;
      }
    }
  }

  /* Badge Icons */
  .badge {
    text-align: left;
    padding-left: 28px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .badge.attributes {
    background-image: url("ui/badges/attributes-inactive.png");
    &.active {
      background-image: url("ui/badges/attributes-active.png");
    }
  }
  .badge.skills {
    background-image: url("ui/badges/skills-inactive.png");
    &.active {
      background-image: url("ui/badges/skills-active.png");
    }
  }
  .badge.talents {
    background-image: url("ui/badges/talents-inactive.png");
    &.active {
      background-image: url("ui/badges/talents-active.png");
    }
  }
  .badge.inventory {
    background-image: url("ui/badges/inventory-inactive.png");
    &.active {
      background-image: url("ui/badges/inventory-active.png");
    }
  }
  .badge.spells {
    background-image: url("ui/badges/spells-inactive.png");
    &.active {
      background-image: url("ui/badges/spells-active.png");
    }
  }
  .badge.biography {
    background-image: url("ui/badges/biography-inactive.png");
    &.active {
      background-image: url("ui/badges/biography-active.png");
    }
  }

  .badge.strength { background-image: url("ui/badges/strength-active.png"); }
  .badge.dexterity { background-image: url("ui/badges/dexterity-active.png"); }
  .badge.constitution { background-image: url("ui/badges/constitution-active.png"); }
  .badge.intellect { background-image: url("ui/badges/intellect-active.png"); }
  .badge.wisdom { background-image: url("ui/badges/wisdom-active.png"); }
  .badge.charisma { background-image: url("ui/badges/charisma-active.png"); }

  .badge.physical-defense { background-image: url("ui/badges/physical-defense.png"); }
  .badge.saving-throws { background-image: url("ui/badges/saving-throws.png"); }
  .badge.physical-resistance { background-image: url("ui/badges/physical-resistance.png"); }
  .badge.elemental-resistance { background-image: url("ui/badges/elemental-resistance.png"); }
  .badge.spiritual-resistance { background-image: url("ui/badges/spiritual-resistance.png"); }

  /** --------------------------------------
   * ATTRIBUTES TAB
   * ------------------------------------- */

  .tab {

    /* Point Pools */
    .point-pools {
      flex: 0 0 24px;
      margin: 6px 0;
      text-align: right;
      font-size: 16px;
      line-height: 24px;

      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
      }

      label {
        flex: 0 0 80px;
      }

      span.value {
        flex: 0 0 32px;
        height: 24px;
        margin: 0 12px 0 6px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  /* Attributes Tab */
  .tab.attributes {

    /* Ability Scores */
    .ability-scores {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, 36px);
      grid-gap: 5px;
      flex: 0;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 5px 0;
      border-top: 1px solid @colorBeige;
      border-bottom: 2px solid @colorTan;
    }

    .ability {
      flex: 0 0 33.33%;
      height: 36px;
      align-items: center;

      h4.label {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        font-family: @caslon;
        line-height: 36px;
      }

      .ability-score {
        flex: 0 0 36px;
        height: 36px;
        font-size: 20px;
        line-height: 34px;
        text-align: center;
      }
    }

    /* Physical Defenses */
    .physical-defenses {
      flex: 0 0 80px;
      list-style: none;
      padding: 5px 0;
      margin: 0;
      border-bottom: 2px solid @colorTan;

      .defense {
        height: 80px;
        text-align: center;
        &.physical {
          flex: 0 0 150px;
          h4 { font-weight: bold; }
        }
        h4 {
          flex: 0 0 24px;
          font-family: @caslon;
          font-size: 18px;
          margin: 0;
        }
        input {
          flex: 0 0 36px;
          width: 36px;
          margin: 0 auto;
          font-size: 20px;
        }
        .total {
          flex: 0 0 36px;
          line-height: 36px;
          font-size: 24px;
        }
        .subtitle {
          flex: 0 0 20px;
          font-family: @caslon;
          font-size: 18px;
        }
      }
      .sep {
        flex: 0 0 20px;
        line-height: 80px;
        font-size: 24px;
      }
    }

    /* Saving Throws */
    .other-defenses {
      flex: 0;
      padding: 5px 0;
      border-bottom: 2px solid @colorTan;

      h4 {
        flex: 0 0 100px;
        margin: 0;
        font-family: @caslon;
        font-size: 16px;
      }
      .base, .bonus, .total {
        flex: 1;
        margin: 0 3px;
        text-align: center;
      }
      .total {
        font-weight: 600;
        border-left: 1px solid @colorBeige;
      }
    }

    /* Resistances */
    .resistances-category > h4,
    .saves > h4 {
      font-size: 18px;
      font-weight: 700;
    }

    .resistances {
      list-style: none;
      margin: 0;
      padding: 0 3px;

      .resistance {
        align-items: center;
        margin: 3px 0;
      }
    }
  }

  /* Skills Tab */
  .tab.skills {
    justify-content: flex-start;
    height: 100%;
    overflow-y: scroll;

    .skills-header {
      flex: 0 0 24px;
      line-height: 24px;
      font-weight: bold;
      .skill-name {
        margin: 0 24px 0 8px;
      }
    }

    .skills-list {
      flex: 0;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .skill {
      line-height: var(--skillHeight);
      img {
        flex: 0 0 var(--skillHeight);
        height: var(--skillHeight);
        margin-right: 4px;
      }

      .skill-config {
        flex: 0 0 20px;
        text-align: center;
        color: @colorTan;
      }

      .skill-ranks {
        flex: 0 0 92px;
        height: 24px;
        padding: 3px 0;

        .pip {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin: 0;
          background: rgba(0, 0, 0, 0.05);
          border: 1px solid @colorTan;
          border-radius: 1px 2px;
          &.trained {
            background: rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 2px #FFF inset;
            border: 1px solid @colorOlive;
          }
        }
      }

      .bonus {
        padding: 3px;
      }

      .points, .bonus {
        height: var(--skillHeight);
      }
    }

    // Common components
    .skill-name {
      flex: 3;
      h3 {
        margin: 0;
      }
    }

    .bonus {
      flex: 0 0 64px;
      text-align: center;

      .active,
      .passive {
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 0 2px;
      }

      .active {
        font-size: 15px;
        font-weight: bold;
      }

      .passive {
        color: @colorTan;
      }
    }

    // Attribute scores
    .attributes {
      flex: 0 0 72px;
      margin: 0 12px 0 6px;
      text-align: center;
      .attribute {
        height: 20px;
        line-height: 20px;
        margin: 5px 2px;
        width: 32px;
        float: left;
        color: @colorOlive;
      }
    }

    .rank, .path {
      font-family: @caslon;
      font-size: 16px;
    }

    // Denote untrained skills
    .unspecialized .path {
      color: @colorTan;
    }
    .untrained .rank {
      color: @colorTan;
    }

    .points {
      flex: 0 0 100px;
      text-align: center;

      .control {
        margin: 0;
      }

      .cumulative, .next {
        display: inline-block;
        width: 16px;
      }

      .cumulative {
        font-weight: bold;
      }
      .next {
        color: @colorTan;
      }
    }
  }
}