.crucible .action {
  gap: 4px;

  /** Action Header */
  .action-header {
    flex: none;
    img.large {
      height: 48px;
      flex: 0 0 48px;
    }
  }

  .action-tags {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label.tag-icon {
    flex: none;
  }

  /** Text Description */
  .action-description {
    padding: 4px 0;
    font-size: var(--font-size-12);
    font-style: italic;
    border-top: 1px solid @colorBeige;
    border-bottom: 1px solid @colorBeige;
  }
}
