
#chat-log .message .flavor-text {
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}



.dice-roll.standard-check {
  .dice-pool {
    justify-content: space-between;
    margin: 5px 0;
  }
  .die {
    position: relative;
    flex: 0 0 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 6px #EEE;
    background-size: 48px 48px;
    filter: drop-shadow(0px 0px 6px #EEE);

    .denom {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -5px;
      color: @colorOlive;
      font-size: 12px;
      line-height: 16px;
    }

  }
  .die.d4 { background-image: url("/icons/svg/d4-grey.svg"); }
  .die.d6 { background-image: url("/icons/svg/d6-grey.svg"); }
  .die.d8 { background-image: url("/icons/svg/d8-grey.svg"); }
  .die.d10 { background-image: url("/icons/svg/d10-grey.svg"); }
  .die.d12 { background-image: url("/icons/svg/d12-grey.svg"); }

  .boons {
    position: relative;
    flex: 0 0 48px;
    text-align: center;
    padding: 8px 0;
    i, span {
      height: 16px;
      line-height: 16px;
      display: block;
    }
  }

  .dice-tooltip {
    border-top: 1px solid @colorBeige;
    margin: 5px 0;
    padding: 5px 0 0;
    div.counter {
      padding: 2px 0;
      label {
        font-size: 16px;
        font-family: var(--fontFamilySerif);
      }
      span {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 10px;
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid @colorTan;
        border-radius: 2px;
        text-align: center;
      }
    }
  }

  .dice-total {
    position: relative;
    margin: 5px 0 0;
    .outcome, .target {
      position: absolute;
      color: @colorOlive;
      font-weight: normal;
      font-size: 14px;
    }
    .outcome {
      left: 5px;
    }
    .target {
      right: 5px;
    }
  }

  &.success .dice-total {
    background: rgba(0,255,0,0.05);
    border: 1px solid green;
  }
  &.success.critical .dice-total {
    color: green;
  }
  &.failure .dice-total  {
    background: rgba(255,0,0,0.05);
    border: 1px solid red;
  }
  &.failure.critical .dice-total  {
    color: red;
  }
}
















/**
 * Roll Dialog
 */
.roll {
  button {
    height: 32px;
  }

  select {
    height: 30px;
    width: 100%;
    background: none;
    border: 1px solid @colorBeige;
  }

  input {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  .form-group {
    margin: 0;
  }

  // GM Request Roller
  header.request {
    flex: 0 0 32px;
    padding: 0 0 5px;
    border-bottom: 1px solid @colorBeige;
    select {
      flex: 2;
    }
    .buttons {
      flex: 1;
      margin: -1px 0 0 5px;
    }
  }

  .content {
    flex: 0 0 200px;
    padding: 5px 0;
  }

  .roller {
    flex: 2;
    padding: 0 5px 0 0;
    text-align: center;

    .boons {
      flex: 0 0 32px;
      margin: 3px 0;
      label {
        font-family: var(--fontFamilySerif);
        font-weight: normal;
        font-size: 20px;
        padding-left: 32px;
        line-height: 32px;
        cursor: pointer;
        &:hover {
          text-shadow: 0 0 6px red;
        }
      }
      input {
        flex: 0 0 32px;
        height: 32px;
      }
    }

    .pool {
      margin: 5px 0;
      justify-content: space-evenly;
      .die {
        flex: 0 0 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 6px #EEE;
        filter: drop-shadow(0px 0px 6px #EEE);
      }
      .die.d4 { background-image: url("/icons/svg/d4-grey.svg"); }
      .die.d6 { background-image: url("/icons/svg/d6-grey.svg"); }
      .die.d8 { background-image: url("/icons/svg/d8-grey.svg"); }
      .die.d10 { background-image: url("/icons/svg/d10-grey.svg"); }
      .die.d12 { background-image: url("/icons/svg/d12-grey.svg"); }
    }

    .bonuses {
      list-style: none;
      margin: 5px 0 0;
      padding: 0;
      li {
        flex: 1;
        height: 46px;
        margin: 0 3px;
        label, input {
          display: block;
          width: 100%;
        }
        label {
          height: 16px;
          color: @colorTan;
          font-family: var(--fontFamilySerif);
          font-size: 16px;
        }
        input {
          height: 30px;
        }
      }
    }
  }

  .target {
    justify-content: space-between;
    border-left: 1px solid @colorBeige;
    margin: 0;
    padding: 0 0 0 5px;

    select {
      flex: 0 0 30px;
    }

    label.difficulty {
      flex: 0 0 16px;
      color: @colorOlive;
      font-family: var(--fontFamilySerif);
      font-size: 20px;
      text-align: center;
    }

    input.dc {
      flex: 0 0 64px;
      width: 64px;
      margin: 0 auto;
    }
  }

  .buttons {
    flex: 0 0 32px;
  }
}