@import "./variables.less";

.crucible {
  .window-content {
    background: @sheetBackground;
    font-size: 13px;
    color: @colorDark
  }

  h1 {
    font-family: var(--fontFamilySerif);
    font-size: 32px;
  }

  h2 {
    font-family: var(--fontFamilySerif);
    font-size: 24px;
  }

  h3 {
    font-family: var(--fontFamilySerif);
    font-size: 18px;
    border: none;
  }

  h4 {
    font-family: var(--fontFamilySerif);
    font-size: 16px;
  }

  p {
    margin: 0.25em 0;
  }

  // Tags
  span.tag {
    display: inline-block;
    flex: none;
    margin: 0 1px;
    padding: 1px 2px;
    font-family: var(--fontFamilySans);
    font-size: 12px;
    line-height: 16px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid @colorBeige;
    border-radius: 4px;
  }

  // Input Fields
  input, select, span.input {
    border: 1px solid @colorBeige;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    color: @colorDark;
  }
  input, span.input {
    text-align: center;
  }
}

/* Tooltips */
#crucible-tooltip,
.crucible .tooltip {
  display: none;
  width: max-content;
  max-width: 320px;
  line-height: 16px;
  position: absolute;
  top: 120%;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.95);
  font-family: "Signika", serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  color: @colorFaint;
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
  z-index: 999;
  &.left { left: 0; }
  &.right { right: 0; }
  &.center { left: calc(100% - 180px); }
}
// Global tooltip
#crucible-tooltip {
  position: absolute;
  &.active { display: block }
}
// Relative tooltip
.crucible .tooltipped {
  position: relative;
  &:hover > .tooltip { display: block; }
}

// Divider Headers
h1.divider,
h2.divider,
h3.divider,
h4.divider {
  display: flex;
  text-align: center;
  border: none;
  label {
    padding: 0 8px;
    white-space: nowrap;
  }
  span {
    flex: 1;
    position: relative;
    top: 12px;
    pointer-events: none;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
  }
  span:nth-of-type(1) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(@colorOlive));
    background-image: -webkit-linear-gradient(180deg, transparent, @colorOlive);
    background-image: -moz-linear-gradient(180deg, transparent, @colorOlive);
    background-image: -o-linear-gradient(180deg, transparent, @colorOlive);
    background-image: linear-gradient(90deg, transparent, @colorOlive);
  }
  span:nth-of-type(2) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@colorOlive), to(transparent));
    background-image: -webkit-linear-gradient(180deg, @colorOlive, transparent);
    background-image: -moz-linear-gradient(180deg, @colorOlive, transparent);
    background-image: -o-linear-gradient(180deg, @colorOlive, transparent);
    background-image: linear-gradient(90deg, @colorOlive, transparent);
  }
}
h1.divider span {
  top: 18px;
}
h2.divider span {
  top: 16px;
}
