@import "variables.less";

/** ----------------------------------------- *
 *  Item Sheets                               *
 * ------------------------------------------ */

.crucible.sheet.item {
  --headerHeight: 80px;
  --titleHeight: 40px;

  .form-group.stacked > label {
    text-decoration: underline;
  }

  .item-properties {
    justify-content: flex-start;
    flex-wrap: wrap;
    label.checkbox {
      text-align: left;
      min-width: 80px;
    }
  }
}


/** ----------------------------------------- *
 *  Background and Ancestry                   *
 * ------------------------------------------ */

.crucible.sheet .form-group.skills {
  .form-fields {
    flex-wrap: wrap;
    gap: 0;
  }
  label {
    flex: 0 0 25%;
    margin: 0;
    padding: 0;
    text-align: left;
    input {
      width: 16px;
      margin: 0;
    }
  }
}

/** ----------------------------------------- *
 *  Armor Sheet                               *
 * ------------------------------------------ */

.crucible.sheet.armor {
  .resistance {
    flex: 0 0 50%;
    margin: 0 0 3px;
    padding: 0 6px;

    > input {
      flex: 0 0 64px;
      text-align: center;
    }
  }
}

/** ----------------------------------------- *
 *  Talent Sheet                              *
 * ------------------------------------------ */
.crucible.talent {

  // This is because the talent sheet uses tabbed navigation
  .sheet-header {
    border-bottom: none;
  }

  // Talent Description
  .description {
    margin: 0.5rem 0;
  }

  // Included Actions
  .action {
    .action-header {
      padding: 0;
      border-bottom: none;

      .action-icon {
        flex: 0 0 24px;
        height: 24px;
        border-radius: 4px;
      }
    }

    .condition {
      margin: 0.5rem 0 0;
      flex: 0 0 100%;
    }
  }
}
