@import "variables.less";

.crucible.sheet.item {
  --headerHeight: 80px;
  --titleHeight: 40px;
}

@skillTitleHeight: 40px;
@skillRanksHeight: 26px;


.crucible.sheet.item.skill {

  h2.skill-rank {
    flex: 2;
    margin: 2px 0 2px 5px;
    height: @skillTitleHeight - 2px;
    text-align: center;
    font-size: 20px;
    color: @colorOlive;
    line-height: @skillTitleHeight;
    border: 1px dashed @colorBeige;
    border-radius: 5px;
  }

  .skill-ranks {
    flex: 0 0 100%;
    height: @skillRanksHeight;
    margin: 5px 2px;
    line-height: @skillRanksHeight - 2px;
    text-align: center;
    color: @colorOlive;

    .rank-detail {
      flex: 0 0 70px;
      font-size: 18px;
      color: @colorOlive;

      .rank-detail-label {
        font-size: 16px;
        color: @colorTan;
      }

      .rank-detail-value {
        padding: 0 8px;
        font-size: 20px;
        color: @colorOlive;
        border: 1px dashed @colorBeige;
        border-radius: 5px;
      }
    }

    .rank-control {
      flex: 0 0 36px;
      height: @skillRanksHeight;
      line-height: @skillRanksHeight;
      font-size: 20px;
      color: @colorBeige;
      &:hover {
        color: @colorDark;
      }
    }

    .rank-progress-bar {
      height: @skillRanksHeight;
      background: rgba(0, 0, 0, 0.10);
      border: 2px solid @colorBeige;
      border-radius: 5px;

      .rank-progress {
        border: 1px solid @colorDark;
        border-radius: 8px 4px 8px 4px;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 3px #000 inset;
        margin: 2px;
      }

      &.exp .rank-progress.purchased {
        background: #23911d;
        border: 1px solid #0a2b00;
      }
      &.kno .rank-progress.purchased {
        background: #91b1f5;
        border: 1px solid #17182b;
      }
      &.soc .rank-progress.purchased {
        background: #c154bd;
        border: 1px solid #2b0425;
      }
    }

    .rank-name {
      flex: 0 0 150px;
      height: @skillRanksHeight;
      font-size: 24px;
      border: 2px dashed @colorBeige;
      border-radius: 5px;
    }
  }

  .skill-header {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: @colorOlive;
    text-align: center;
    border-bottom: 1px solid @colorBeige;
  }

  .skill-benefits {
    flex: 1;
    height: 100%;
    padding-right: 5px;
    margin-right: 5px;
    overflow-y: auto;

    .skill-benefit {
      margin: 0.25em 0;
      line-height: 20px;
    }

    .benefit-rank {
      display: inline-block;
      padding: 2px 8px 0;
      font-family: @caslon;
      font-size: 24px;
      background: rgba(0, 0, 0, 0.10);
      border: 1px dashed @colorTan;
      border-radius: 3px;
    }

    .benefit-from {
      font-family: @caslon;
      font-size: 20px;
      margin: 0 5px;
    }
    
    .benefit-desc {
      display: inline;
    }
  }

  .progression-paths {
    flex: 0 0 64px;
    img {
      width: 64px;
      height: 64px;
      border: 1px solid #000;
      border-radius: 3px;
    }
    img.inactive {
      filter: grayscale(100%);
    }
  }
}



.crucible.sheet .form-group.skills {
  label {
    flex: 0 0 25%;
    margin: 0;
    padding: 0;
    input {
      width: 16px;
      margin: 0;
    }
  }
}