@import "variables.less";

.crucible.sheet {
  --headerHeight: 50px;
  --profileSize: 50px;

  h1, h2, h3, h4 {
    margin: 0;
  }

  /** Sheet Header */
  .sheet-header {
    flex: 0 0 var(--headerHeight);
    align-items: flex-start;
    border-bottom: 1px solid @colorBeige;

    .title {
      flex: 3;
      height: var(--titleHeight);
      margin: 2px;
      border: none;
      input {
        text-align: left;
        margin: 0;
      }
    }

    .header-tags {
      flex: 0 0 100%;
      margin: 8px 0;
      label {
        font-weight: bold;
        margin-right: 5px;
      }
      span {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid @colorBeige;
        border-radius: 3px;
        padding: 1px 3px;
      }
    }
  }

  /** Sheet Profile Image */
  img.profile {
    flex: 0 0 var(--profileSize);
    width: var(--profileSize);
    height: var(--profileSize);
    margin: 0 5px 0 0;
    border: 1px solid #000;
    border-radius: 4px;
    object-fit: cover;
    object-position: 0 10%;
  }

  .window-content, form, .sheet-body {
    overflow: hidden;
  }

  /* Highlight Boxes */
  .highlight {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid @colorFaint;
    border-radius: 3px;
  }

  /* Control Buttons */
  a.button {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    line-height: 24px;
    padding: 0;
    margin: 0 3px;
    color: @colorTan;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;

    &:hover {
      border: 1px solid @colorTan;
      box-shadow: 0 0 4px #FFF;
      text-shadow: none;
      color: @colorDark;
    }

    &.inactive {
      visibility: hidden;
    }
  }

  /** Incompletion Warnings */
  .incomplete {
    margin-left: 2px;
    font-size: var(--fontSizeMain);
    color: var(--color-text-hyperlink);
    text-shadow: 0 0 4px #FFF;
  }
}

