
/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */

@font-face {
  font-family: "CaslonAntique";
  src: url("fonts/CaslonAntique/CaslonAntique.ttf");
}

@font-face {
  font-family: "Planewalker";
  src: url("fonts/Planewalker/Planewalker.otf");
}

/* ----------------------------------------- */
/*  LESS Variables                           */
/* ----------------------------------------- */

@colorDark: #191813;
@colorFaint: #c9c7b8;
@colorBeige: #b5b3a4;
@colorTan: #7a7971;
@colorOlive: #33332e;
@colorCrimson: #44191A;
@borderGroove: 2px groove #eeede0;
@sheetBackground: url("ui/parchment.jpg") repeat;

/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */

:root {
  --fontFamilySerif: "CaslonAntique", "Palatino Linotype", serif;
  --fontFamilySans: "Signika", sans-serif;
}

.crucible {
  --fontSizeTitle: 20px;
  --fontSizeHeader: 16px;
  --fontSizeMain: 14px;
  --fontSizeSmall: 12px;

  --colorError: #cb2f30;
}
