# IDE
.idea/
.vs/
tsconfig.local.json

# Node Modules
node_modules/

# Photoshop files
*.psd

# Foundry VTT
crucible.lock
signature.json
packs/
crucible-compiled.mjs
styles/crucible.css

# Generated Docs
_dts/
_docs/
_typedoc/
