/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: "CaslonAntique";
  src: url("fonts/CaslonAntique/CaslonAntique.ttf");
}
@font-face {
  font-family: "Planewalker";
  src: url("fonts/Planewalker/Planewalker.otf");
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Element Styles                           */
/* ----------------------------------------- */
.crucible h1 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 32px;
}
.crucible h2 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 24px;
}
.crucible h3 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 18px;
}
.crucible p {
  margin: 0.25em 0;
}
/* ----------------------------------------- */
/*  Application Windows                      */
/* ----------------------------------------- */
.crucible {
  /* Form Groups */
}
.crucible .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.crucible input,
.crucible select,
.crucible span.input {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.crucible input[type="text"]:hover,
.crucible input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.crucible input:disabled,
.crucible select:disabled,
.crucible textarea:disabled {
  color: #4b4a44;
}
.crucible input:disabled:hover,
.crucible select:disabled:hover,
.crucible textarea:disabled:hover,
.crucible input:disabled:focus,
.crucible select:disabled:focus,
.crucible textarea:disabled:focus {
  box-shadow: none !important;
}
.crucible button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.crucible label.checkbox {
  flex: auto;
  margin: 0;
  line-height: 20px;
  font-size: 11px;
  text-align: right;
}
.crucible label.checkbox input[type="checkbox"] {
  height: auto;
  position: relative;
  top: 3px;
}
.crucible .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.crucible .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.crucible .form-group .form-fields > * {
  flex: 1;
}
.crucible .form-group .form-fields .flex1 {
  flex: 1;
}
.crucible .form-group .form-fields .flex2 {
  flex: 2;
}
.crucible .form-group .form-fields .flex3 {
  flex: 3;
}
.crucible .form-group .form-fields .flex4 {
  flex: 4;
}
.crucible .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.crucible .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.crucible .form-group.stacked > label {
  flex: 0 0 100%;
}
.crucible .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
  margin-right: 10px;
}
.crucible.sheet {
  --headerHeight: 50px;
  --navHeight: 32px;
  /* Highlight Boxes */
  /* Control Buttons */
  /* Tooltips */
  /* Form Group Labels */
}
.crucible.sheet .sheet-header {
  flex: 0 0 var(--headerHeight);
  align-items: flex-start;
  padding-bottom: 8px;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet .sheet-header img.profile {
  flex: 0 0 var(--headerHeight);
  height: var(--headerHeight);
  margin: 0 5px 0 0;
  border: 1px solid #000;
  border-radius: 0;
  object-fit: cover;
  object-position: 0 10%;
}
.crucible.sheet .sheet-header .header-content {
  flex: 1;
}
.crucible.sheet .sheet-header .title {
  flex: 3;
  height: var(--titleHeight);
  margin: 2px 0;
  border: none;
}
.crucible.sheet .sheet-header .title input {
  margin: 0;
}
.crucible.sheet .window-content,
.crucible.sheet form,
.crucible.sheet .sheet-body {
  overflow: hidden;
}
.crucible.sheet .sheet-navigation {
  flex: 0 0 var(--navHeight);
  line-height: var(--navHeight);
  border-bottom: 1px solid #b5b3a4;
  font-size: 20px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  justify-content: flex-start;
}
.crucible.sheet .sheet-navigation .item {
  flex: auto;
  color: #4b4a44;
}
.crucible.sheet .sheet-navigation .item.active {
  color: #191813;
  font-weight: bold;
  text-shadow: 0 0 5px #FFF;
}
.crucible.sheet .highlight {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #c9c7b8;
  border-radius: 3px;
}
.crucible.sheet a.button {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  line-height: 24px;
  padding: 0 2px;
  margin: 0 3px;
  color: #7a7971;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
}
.crucible.sheet a.button:hover {
  border: 1px solid #7a7971;
  box-shadow: 0 0 4px #FFF;
  text-shadow: none;
  color: #191813;
}
.crucible.sheet a.button.inactive {
  visibility: hidden;
}
.crucible.sheet .tooltipped {
  position: relative;
}
.crucible.sheet .tooltipped .tooltip {
  display: none;
  line-height: 22px;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 120%;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.95);
  font-family: "Signika";
  font-size: 12px;
  font-weight: normal;
  color: #b5b3a4;
  border: 1px solid #000;
  border-radius: 3px;
  z-index: 999;
}
.crucible.sheet .tooltipped:hover > .tooltip {
  display: block;
}
.crucible.sheet .form-group label {
  font-size: 16px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.crucible.sheet label.checkbox {
  font-size: 11px;
  font-family: "Signika", sans-serif;
  font-weight: normal;
}
.crucible.sheet.actor {
  --headerHeight: 200px;
  --titleHeight: 40px;
  --skillHeight: 30px;
  --tagHeight: 26px;
  /* General Sheet Styles */
  /* Character Sheet Title */
  /* Character Sheet Subtitle */
  /* Badge Icons */
  /** --------------------------------------
   * ATTRIBUTES TAB
   * ------------------------------------- */
  /* Attributes Tab */
  /* Skills Tab */
}
.crucible.sheet.actor label {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  color: #4b4a44;
}
.crucible.sheet.actor input[type="text"] {
  border: 1px solid #b5b3a4;
}
.crucible.sheet.actor .header-content label {
  font-size: 24px;
}
.crucible.sheet.actor .title h1.charname {
  flex: 3;
  height: var(--titleHeight);
  margin: 0;
}
.crucible.sheet.actor .title h1.charname input {
  height: var(--titleHeight);
  margin: 0;
  background: none;
  border: none;
}
.crucible.sheet.actor .title h2.level {
  flex: 1;
  text-align: right;
  margin: 0;
  border: none;
}
.crucible.sheet.actor .title h2.level input {
  height: var(--titleHeight);
  width: var(--titleHeight);
  font-size: 28px;
  line-height: var(--titleHeight);
  text-align: center;
}
.crucible.sheet.actor .subtitle {
  margin: 5px 0;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor .subtitle .ancestry,
.crucible.sheet.actor .subtitle .background {
  flex: none;
  font-size: 20px;
  line-height: var(--tagHeight);
  padding: 0 8px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  margin: 5px 3px;
}
.crucible.sheet.actor .subtitle .resource-tracker {
  margin: 0 3px;
  line-height: 18px;
  text-align: right;
}
.crucible.sheet.actor .subtitle .resource-tracker label {
  font-size: 16px;
  color: #4b4a44;
  margin-right: 3px;
}
.crucible.sheet.actor .subtitle .resource-tracker i {
  -webkit-text-stroke: 1px #000;
}
.crucible.sheet.actor .subtitle .resource-tracker .action-points i {
  color: #1b2b14;
}
.crucible.sheet.actor .subtitle .resource-tracker .action-points i.available {
  color: #328d32;
}
.crucible.sheet.actor .subtitle .resource-tracker .focus-points i {
  color: #181839;
}
.crucible.sheet.actor .subtitle .resource-tracker .focus-points i.available {
  color: #4545b5;
}
.crucible.sheet.actor .resource {
  padding: 0 8px;
  border-right: 1px solid #c9c7b8;
}
.crucible.sheet.actor .resource:last-child {
  border-right: none;
}
.crucible.sheet.actor .resource .resource-name {
  margin: 3px 10px 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}
.crucible.sheet.actor .resource .resource-values {
  margin: 3px 0;
}
.crucible.sheet.actor .resource .resource-values span.sep {
  flex: 0 0 20px;
  color: #c9c7b8;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .resource .resource-values input,
.crucible.sheet.actor .resource .resource-values .resource-max {
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .badge {
  text-align: left;
  padding-left: 28px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.crucible.sheet.actor .badge.attributes {
  background-image: url("ui/badges/attributes-inactive.png");
}
.crucible.sheet.actor .badge.attributes.active {
  background-image: url("ui/badges/attributes-active.png");
}
.crucible.sheet.actor .badge.skills {
  background-image: url("ui/badges/skills-inactive.png");
}
.crucible.sheet.actor .badge.skills.active {
  background-image: url("ui/badges/skills-active.png");
}
.crucible.sheet.actor .badge.talents {
  background-image: url("ui/badges/talents-inactive.png");
}
.crucible.sheet.actor .badge.talents.active {
  background-image: url("ui/badges/talents-active.png");
}
.crucible.sheet.actor .badge.inventory {
  background-image: url("ui/badges/inventory-inactive.png");
}
.crucible.sheet.actor .badge.inventory.active {
  background-image: url("ui/badges/inventory-active.png");
}
.crucible.sheet.actor .badge.spells {
  background-image: url("ui/badges/spells-inactive.png");
}
.crucible.sheet.actor .badge.spells.active {
  background-image: url("ui/badges/spells-active.png");
}
.crucible.sheet.actor .badge.biography {
  background-image: url("ui/badges/biography-inactive.png");
}
.crucible.sheet.actor .badge.biography.active {
  background-image: url("ui/badges/biography-active.png");
}
.crucible.sheet.actor .badge.strength {
  background-image: url("ui/badges/strength-active.png");
}
.crucible.sheet.actor .badge.dexterity {
  background-image: url("ui/badges/dexterity-active.png");
}
.crucible.sheet.actor .badge.constitution {
  background-image: url("ui/badges/constitution-active.png");
}
.crucible.sheet.actor .badge.intellect {
  background-image: url("ui/badges/intellect-active.png");
}
.crucible.sheet.actor .badge.wisdom {
  background-image: url("ui/badges/wisdom-active.png");
}
.crucible.sheet.actor .badge.charisma {
  background-image: url("ui/badges/charisma-active.png");
}
.crucible.sheet.actor .badge.physical-defense {
  background-image: url("ui/badges/physical-defense.png");
}
.crucible.sheet.actor .badge.saving-throws {
  background-image: url("ui/badges/saving-throws.png");
}
.crucible.sheet.actor .badge.physical-resistance {
  background-image: url("ui/badges/physical-resistance.png");
}
.crucible.sheet.actor .badge.elemental-resistance {
  background-image: url("ui/badges/elemental-resistance.png");
}
.crucible.sheet.actor .badge.spiritual-resistance {
  background-image: url("ui/badges/spiritual-resistance.png");
}
.crucible.sheet.actor .tab {
  /* Point Pools */
}
.crucible.sheet.actor .tab .point-pools {
  flex: 0 0 24px;
  margin: 6px 0;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}
.crucible.sheet.actor .tab .point-pools h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.crucible.sheet.actor .tab .point-pools label {
  flex: 0 0 80px;
}
.crucible.sheet.actor .tab .point-pools span.value {
  flex: 0 0 32px;
  height: 24px;
  margin: 0 12px 0 6px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.crucible.sheet.actor .tab.attributes {
  /* Ability Scores */
  /* Physical Defenses */
  /* Saving Throws */
  /* Resistances */
}
.crucible.sheet.actor .tab.attributes .ability-scores {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 36px);
  grid-gap: 5px;
  flex: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor .tab.attributes .ability {
  flex: 0 0 33.33%;
  height: 36px;
  align-items: center;
}
.crucible.sheet.actor .tab.attributes .ability h4.label {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  line-height: 36px;
}
.crucible.sheet.actor .tab.attributes .ability .ability-score {
  flex: 0 0 36px;
  height: 36px;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}
.crucible.sheet.actor .tab.attributes .physical-defenses {
  flex: 0 0 105px;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense {
  height: 80px;
  text-align: center;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense.physical {
  flex: 0 0 150px;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense.physical h4 {
  font-weight: bold;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense h4 {
  flex: 0 0 24px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 18px;
  margin: 0;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense .input {
  flex: 0 0 36px;
  width: 40px;
  line-height: 36px;
  margin: 0 auto;
  font-size: 20px;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense .total {
  flex: 0 0 36px;
  line-height: 36px;
  font-size: 24px;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .defense .subtitle {
  flex: 0 0 20px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 18px;
}
.crucible.sheet.actor .tab.attributes .physical-defenses .sep {
  flex: 0 0 20px;
  line-height: 80px;
  font-size: 24px;
}
.crucible.sheet.actor .tab.attributes .other-defenses {
  flex: 0;
  padding: 5px 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor .tab.attributes .other-defenses h4 {
  flex: 0 0 100px;
  margin: 0;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 16px;
}
.crucible.sheet.actor .tab.attributes .other-defenses .base,
.crucible.sheet.actor .tab.attributes .other-defenses .bonus,
.crucible.sheet.actor .tab.attributes .other-defenses .total {
  flex: 1;
  margin: 0 3px;
  text-align: center;
}
.crucible.sheet.actor .tab.attributes .other-defenses .total {
  font-weight: 600;
  border-left: 1px solid #b5b3a4;
}
.crucible.sheet.actor .tab.attributes .resistances-category > h4,
.crucible.sheet.actor .tab.attributes .saves > h4 {
  font-size: 18px;
  font-weight: 700;
}
.crucible.sheet.actor .tab.attributes .resistances {
  list-style: none;
  margin: 0;
  padding: 0 3px;
}
.crucible.sheet.actor .tab.attributes .resistances .resistance {
  align-items: center;
  margin: 3px 0;
}
.crucible.sheet.actor .tab.skills {
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}
.crucible.sheet.actor .tab.skills .skills-header {
  flex: 0 0 24px;
  line-height: 24px;
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .skills-header .skill-name {
  margin: 0 24px 0 8px;
}
.crucible.sheet.actor .tab.skills .skills-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .tab.skills .skill {
  line-height: var(--skillHeight);
}
.crucible.sheet.actor .tab.skills .skill img {
  flex: 0 0 var(--skillHeight);
  height: var(--skillHeight);
  margin-right: 4px;
}
.crucible.sheet.actor .tab.skills .skill .skill-config {
  flex: 0 0 20px;
  text-align: center;
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks {
  flex: 0 0 92px;
  height: 24px;
  padding: 3px 0;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 1px 2px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip.trained {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px #FFF inset;
  border: 1px solid #4b4a44;
}
.crucible.sheet.actor .tab.skills .skill .bonus {
  padding: 3px;
}
.crucible.sheet.actor .tab.skills .skill .points,
.crucible.sheet.actor .tab.skills .skill .bonus {
  height: var(--skillHeight);
}
.crucible.sheet.actor .tab.skills .skill-name {
  flex: 3;
}
.crucible.sheet.actor .tab.skills .skill-name h3 {
  margin: 0;
}
.crucible.sheet.actor .tab.skills .bonus {
  flex: 0 0 64px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .bonus .active,
.crucible.sheet.actor .tab.skills .bonus .passive {
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0 2px;
}
.crucible.sheet.actor .tab.skills .bonus .active {
  font-size: 15px;
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .bonus .passive {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .attributes {
  flex: 0 0 72px;
  margin: 0 12px 0 6px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .attributes .attribute {
  height: 20px;
  line-height: 20px;
  margin: 5px 2px;
  width: 32px;
  float: left;
  color: #4b4a44;
}
.crucible.sheet.actor .tab.skills .rank,
.crucible.sheet.actor .tab.skills .path {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 16px;
}
.crucible.sheet.actor .tab.skills .unspecialized .path {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .untrained .rank {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .points {
  flex: 0 0 100px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .points .control {
  margin: 0;
}
.crucible.sheet.actor .tab.skills .points .cumulative,
.crucible.sheet.actor .tab.skills .points .next {
  display: inline-block;
  width: 16px;
}
.crucible.sheet.actor .tab.skills .points .cumulative {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .points .next {
  color: #7a7971;
}
/* -------------------------------------- */
/*  Item Lists                            */
/* -------------------------------------- */
.crucible.actor .items-header {
  flex: 0 0 28px;
  align-items: center;
  margin: 3px 0;
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #b5b3a4;
  font-weight: bold;
}
.crucible.actor .item-name {
  align-items: center;
}
.crucible.actor .item-name img {
  flex: none;
  margin-right: 3px;
}
.crucible.actor .item-name h4 {
  flex: none;
  margin: 0;
}
.crucible.actor .item-name span.tag {
  flex: none;
  margin: 0 3px;
  padding: 1px 2px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #b5b3a4;
  border-radius: 4px;
}
.crucible.actor .item-controls {
  flex: 0 0 120px;
  line-height: 22px;
  text-align: right;
}
.crucible.actor .item-controls a.control {
  margin: 0 2px;
  padding: 0 2px;
  border-right: 1px solid #b5b3a4;
}
.crucible.actor .item-controls a.control:last-child {
  border-right: none;
}
.crucible.actor .items-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.actor .items-list .item {
  padding: 2px 4px;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.actor .items-list .item:last-child {
  border-bottom: none;
}
.crucible.actor .unequipped .equipped-state {
  opacity: 0.5;
}
.crucible.sheet.item {
  --headerHeight: 80px;
  --titleHeight: 40px;
}
.crucible.sheet.item .header-tags {
  margin: 8px 0;
}
.crucible.sheet.item .header-tags span {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #b5b3a4;
  border-radius: 3px;
  padding: 1px 3px;
}
.crucible.sheet.item .form-group.stacked > label {
  text-decoration: underline;
}
.crucible.sheet.item .item-properties {
  justify-content: flex-start;
}
.crucible.sheet.item .item-properties label.checkbox {
  flex: none;
  min-width: 80px;
}
.crucible.sheet.armor .resistance {
  flex: 0 0 50%;
  margin: 0 0 3px;
  padding: 0 6px;
}
.crucible.sheet.armor .resistance > input {
  flex: 0 0 64px;
  text-align: center;
}
.crucible.sheet.skill {
  --headerHeight: 48px;
  --titleHeight: 48px;
}
.crucible.sheet.skill .sheet-header {
  margin-bottom: 5px;
}
.crucible.sheet.skill .sheet-header .purchase {
  flex: 0 0 100px;
  align-items: center;
  justify-content: space-around;
}
.crucible.sheet.skill .sheet-header .purchase .rank {
  padding: 0 3px;
  border: 1px solid #7a7971;
  border-radius: 3px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 28px;
  text-align: center;
}
.crucible.sheet.skill .sheet-body {
  overflow-y: auto;
}
.crucible.sheet.skill blockquote.info {
  margin: 0;
  padding: 0.25em;
  border: 1px solid #7a7971;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.crucible.sheet.skill h3 {
  margin: 5px 0 0;
  font-weight: bold;
}
.crucible.sheet.skill input.choose-path {
  margin: 0;
  height: 16px;
  position: relative;
  top: 3px;
}
.crucible.sheet.skill .skill-ranks {
  border-top: 1px solid #b5b3a4;
}
.crucible.sheet.skill .skill-ranks .skill-rank {
  padding: 5px 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.skill .skill-ranks .skill-rank h4 {
  display: inline;
  font-weight: bold;
}
/**
 * Skill Group Selector
 */
.crucible.sheet .form-group.skills label {
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
}
.crucible.sheet .form-group.skills label input {
  width: 16px;
  margin: 0;
}
#chat-log .message .flavor-text {
  font-size: 16px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.dice-roll.standard-check .dice-pool {
  justify-content: space-between;
  margin: 5px 0;
}
.dice-roll.standard-check .die {
  position: relative;
  flex: 0 0 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  background-size: 48px 48px;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.dice-roll.standard-check .die .denom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  color: #4b4a44;
  font-size: 12px;
  line-height: 16px;
}
.dice-roll.standard-check .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.dice-roll.standard-check .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.dice-roll.standard-check .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.dice-roll.standard-check .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.dice-roll.standard-check .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.dice-roll.standard-check .boons {
  position: relative;
  flex: 0 0 48px;
  text-align: center;
  padding: 8px 0;
}
.dice-roll.standard-check .boons i,
.dice-roll.standard-check .boons span {
  height: 16px;
  line-height: 16px;
  display: block;
}
.dice-roll.standard-check .dice-tooltip {
  border-top: 1px solid #b5b3a4;
  margin: 5px 0;
  padding: 5px 0 0;
}
.dice-roll.standard-check .dice-tooltip div.counter {
  padding: 2px 0;
}
.dice-roll.standard-check .dice-tooltip div.counter label {
  font-size: 16px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.dice-roll.standard-check .dice-tooltip div.counter span {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .dice-total {
  position: relative;
  margin: 5px 0 0;
}
.dice-roll.standard-check .dice-total .outcome,
.dice-roll.standard-check .dice-total .target {
  position: absolute;
  color: #4b4a44;
  font-weight: normal;
  font-size: 14px;
}
.dice-roll.standard-check .dice-total .outcome {
  left: 5px;
}
.dice-roll.standard-check .dice-total .target {
  right: 5px;
}
.dice-roll.standard-check.success .dice-total {
  background: rgba(0, 255, 0, 0.05);
  border: 1px solid green;
}
.dice-roll.standard-check.success.critical .dice-total {
  color: green;
}
.dice-roll.standard-check.failure .dice-total {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}
.dice-roll.standard-check.failure.critical .dice-total {
  color: red;
}
/**
 * Roll Dialog
 */
.roll button {
  height: 32px;
}
.roll select {
  height: 30px;
  width: 100%;
  background: none;
  border: 1px solid #b5b3a4;
}
.roll input {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.roll .form-group {
  margin: 0;
}
.roll header.request {
  flex: 0 0 32px;
  padding: 0 0 5px;
  border-bottom: 1px solid #b5b3a4;
}
.roll header.request select {
  flex: 2;
}
.roll header.request .buttons {
  flex: 1;
  margin: -1px 0 0 5px;
}
.roll .content {
  flex: 0 0 200px;
  padding: 5px 0;
}
.roll .roller {
  flex: 2;
  padding: 0 5px 0 0;
  text-align: center;
}
.roll .roller .boons {
  flex: 0 0 32px;
  margin: 3px 0;
}
.roll .roller .boons label {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-weight: normal;
  font-size: 20px;
  padding-left: 32px;
  line-height: 32px;
  cursor: pointer;
}
.roll .roller .boons label:hover {
  text-shadow: 0 0 6px red;
}
.roll .roller .boons input {
  flex: 0 0 32px;
  height: 32px;
}
.roll .roller .pool {
  margin: 5px 0;
  justify-content: space-evenly;
}
.roll .roller .pool .die {
  flex: 0 0 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.roll .roller .pool .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.roll .roller .pool .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.roll .roller .pool .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.roll .roller .pool .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.roll .roller .pool .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.roll .roller .bonuses {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.roll .roller .bonuses li {
  flex: 1;
  height: 46px;
  margin: 0 3px;
}
.roll .roller .bonuses li label,
.roll .roller .bonuses li input {
  display: block;
  width: 100%;
}
.roll .roller .bonuses li label {
  height: 16px;
  color: #7a7971;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 16px;
}
.roll .roller .bonuses li input {
  height: 30px;
}
.roll .target {
  justify-content: space-between;
  border-left: 1px solid #b5b3a4;
  margin: 0;
  padding: 0 0 0 5px;
}
.roll .target select {
  flex: 0 0 30px;
}
.roll .target label.difficulty {
  flex: 0 0 16px;
  color: #4b4a44;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 20px;
  text-align: center;
}
.roll .target input.dc {
  flex: 0 0 64px;
  width: 64px;
  margin: 0 auto;
}
.roll .buttons {
  flex: 0 0 32px;
}
