/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */
@font-face {
  font-family: "CaslonAntique";
  src: url("fonts/CaslonAntique/CaslonAntique.ttf");
}
@font-face {
  font-family: "Planewalker";
  src: url("fonts/Planewalker/Planewalker.otf");
}
/* ----------------------------------------- */
/*  LESS Variables                           */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */
:root {
  --fontFamilySerif: "CaslonAntique", "Palatino Linotype", serif;
  --fontFamilySans: "Signika", sans-serif;
}
.crucible {
  --fontSizeTitle: 20px;
  --fontSizeHeader: 16px;
  --fontSizeMain: 14px;
  --fontSizeSmall: 12px;
  --colorDark: #191813;
  --colorBeige: #b5b3a4;
  --colorFaint: #c9c7b8;
  --colorTan: #7a7971;
  --colorOlive: #33332e;
  --colorError: #cb2f30;
  --colorSuccess: #4e832b;
  --colorActionBG: #e7cc9d;
  --colorAction: #FF9900;
  --colorFocusBG: #b2c3ef;
  --colorFocus: #0066FF;
  --colorHealthBG: #fc6060;
  --colorHealth: #EE0000;
}
.crucible {
  /* Line Items */
}
.crucible .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.crucible h1 {
  font-family: var(--fontFamilySerif);
  font-size: 32px;
}
.crucible h2 {
  font-family: var(--fontFamilySerif);
  font-size: 24px;
}
.crucible h3 {
  font-family: var(--fontFamilySerif);
  font-size: 18px;
  border: none;
}
.crucible h4 {
  font-family: var(--fontFamilySerif);
  font-size: 16px;
}
.crucible p {
  margin: 0.25em 0;
}
.crucible .flexrow {
  align-items: center;
}
.crucible .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  font-size: var(--font-size-10);
}
.crucible .tags label {
  font-size: var(--font-size-12);
  flex: 1;
}
.crucible .tags .tag {
  flex: none;
}
.crucible span.tag {
  display: inline-block;
  padding: 0 3px;
  font-family: var(--fontFamilySans);
  font-size: var(--font-size-11);
  line-height: var(--font-size-16);
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #b5b3a4;
  border-radius: 4px;
}
.crucible .tag.unmet {
  background: #111;
  border-color: var(--colorError);
  color: var(--colorError);
}
.crucible input,
.crucible select,
.crucible span.input {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.crucible input,
.crucible span.input {
  text-align: center;
}
.crucible input:disabled,
.crucible input:read-only {
  border: none;
  pointer-events: none;
}
.crucible .line-item {
  display: flex;
  align-items: center;
  padding: 2px 0;
  gap: 4px;
}
.crucible .line-item .name {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}
.crucible .line-item .name h3,
.crucible .line-item .name h4 {
  line-height: 1rem;
  margin: 0;
}
.crucible .line-item .icon {
  flex: 0 0 24px;
  height: 24px;
  border-radius: 4px;
}
/* Tooltips */
#crucible-tooltip,
.crucible .tooltip {
  display: none;
  width: max-content;
  max-width: 320px;
  line-height: 16px;
  position: absolute;
  top: 120%;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.95);
  font-family: "Signika", serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  color: #c9c7b8;
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
  z-index: 999;
}
#crucible-tooltip.left,
.crucible .tooltip.left {
  left: 0;
}
#crucible-tooltip.right,
.crucible .tooltip.right {
  right: 0;
}
#crucible-tooltip.center,
.crucible .tooltip.center {
  left: calc(100% - 180px);
}
#crucible-tooltip {
  position: absolute;
}
#crucible-tooltip.active {
  display: block;
}
.crucible .tooltipped {
  position: relative;
}
.crucible .tooltipped:hover > .tooltip {
  display: block;
}
h1.divider,
h2.divider,
h3.divider,
h4.divider {
  display: flex;
  text-align: center;
  border: none;
}
h1.divider label,
h2.divider label,
h3.divider label,
h4.divider label {
  padding: 0 8px;
  white-space: nowrap;
}
h1.divider span,
h2.divider span,
h3.divider span,
h4.divider span {
  flex: 1;
  position: relative;
  top: 12px;
  pointer-events: none;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
h1.divider span:nth-of-type(1),
h2.divider span:nth-of-type(1),
h3.divider span:nth-of-type(1),
h4.divider span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#33332e));
  background-image: -webkit-linear-gradient(180deg, transparent, #33332e);
  background-image: -moz-linear-gradient(180deg, transparent, #33332e);
  background-image: -o-linear-gradient(180deg, transparent, #33332e);
  background-image: linear-gradient(90deg, transparent, #33332e);
}
h1.divider span:nth-of-type(2),
h2.divider span:nth-of-type(2),
h3.divider span:nth-of-type(2),
h4.divider span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33332e), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #33332e, transparent);
  background-image: -moz-linear-gradient(180deg, #33332e, transparent);
  background-image: -o-linear-gradient(180deg, #33332e, transparent);
  background-image: linear-gradient(90deg, #33332e, transparent);
}
h1.divider span {
  top: 18px;
}
h2.divider span {
  top: 16px;
}
.crucible.sheet {
  --headerHeight: 50px;
  --profileSize: 50px;
  /** Sheet Header */
  /** Sheet Profile Image */
  /* Highlight Boxes */
  /* Control Buttons */
  /** Incompletion Warnings */
}
.crucible.sheet h1,
.crucible.sheet h2,
.crucible.sheet h3,
.crucible.sheet h4 {
  margin: 0;
}
.crucible.sheet .sheet-header {
  flex: 0 0 var(--headerHeight);
  gap: 4px;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet .sheet-header .title {
  flex: 3;
  height: var(--titleHeight);
  border: none;
}
.crucible.sheet .sheet-header .title input {
  height: 100%;
  width: 100%;
  text-align: left;
  margin: 0;
}
.crucible.sheet .sheet-header .header-tags {
  flex: 0 0 100%;
}
.crucible.sheet .sheet-header .header-tags label {
  font-weight: bold;
  margin-right: 5px;
}
.crucible.sheet nav.sheet-tabs {
  flex: none;
}
.crucible.sheet img.profile {
  flex: 0 0 var(--profileSize);
  width: var(--profileSize);
  height: var(--profileSize);
  margin: 0 5px 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  object-fit: cover;
  object-position: 0 10%;
}
.crucible.sheet .highlight {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #c9c7b8;
  border-radius: 3px;
}
.crucible.sheet .window-content a.button,
.crucible.sheet .window-content a.control {
  display: inline-block;
  min-width: 20px;
  margin: 0;
  padding: 0;
  color: #7a7971;
  text-align: center;
}
.crucible.sheet .window-content a.button.active,
.crucible.sheet .window-content a.control.active {
  color: #191813;
}
.crucible.sheet .window-content a.button.inactive,
.crucible.sheet .window-content a.control.inactive {
  pointer-events: none;
  opacity: 0.5;
}
.crucible.sheet .window-content a.button {
  border: 1px solid transparent;
  border-radius: 3px;
}
.crucible.sheet .window-content a.button:hover {
  border: 1px solid #7a7971;
  box-shadow: 0 0 4px #FFF;
  text-shadow: none;
  color: #191813;
}
.crucible.sheet .incomplete {
  margin-left: 2px;
  font-size: var(--fontSizeMain);
  color: var(--color-text-hyperlink);
  text-shadow: 0 0 4px #FFF;
}
/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */
.crucible.sheet.actor {
  --sidebarWidth: 200px;
  --profileSize: 200px;
  --marginSize: 8px;
  --marginHalfSize: calc(var(--marginSize) / 2);
  --titleHeight: 40px;
  --navHeight: 30px;
  --skillHeight: 24px;
  line-height: 150%;
  /* ----------------------------------------- */
  /*  Sheet Structure                          */
  /* ----------------------------------------- */
  /** Sheet Layout and Structure */
  /** Section Headers */
  /** Labels and Inputs */
  /* ----------------------------------------- */
  /*  Sheet Sidebar                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /** Sheet Title */
  /** Sheet Subtitle */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Resource Tracker                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  --abilityHeight: 32px;
  /* Point Pools */
  /* ----------------------------------------- */
  /*  Defenses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Damage Resistances                       */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Uncategorized Below                      */
  /* ----------------------------------------- */
  /* Badge Icons */
}
.crucible.sheet.actor .sheet-sidebar {
  flex: 0 0 var(--sidebarWidth);
  height: 100%;
  margin-right: var(--marginSize);
}
.crucible.sheet.actor .sheet-body {
  flex: 1;
  height: 100%;
}
.crucible.sheet.actor h2.section-header {
  position: relative;
  font-size: var(--fontSizeTitle);
  font-weight: bold;
  margin: 0;
}
.crucible.sheet.actor h2.section-header > span {
  top: 12px;
}
.crucible.sheet.actor h3.category-header {
  line-height: 80%;
  text-align: center;
  color: var(--colorOlive);
}
.crucible.sheet.actor h3.category-header > span {
  top: var(--marginSize);
}
.crucible.sheet.actor .flexrow > .section-header {
  flex: 0 0 100%;
  height: 24px;
}
.crucible.sheet.actor .flexcol > .section-header {
  flex: 0;
  width: 100%;
}
.crucible.sheet.actor label {
  font-family: var(--fontFamilySerif);
  color: var(--colorOlive);
}
.crucible.sheet.actor input[type="text"] {
  border: 1px solid var(--colorBeige);
}
.crucible.sheet.actor input[type="number"] {
  border: 1px solid var(--colorBeige);
  text-align: center;
}
.crucible.sheet.actor a.section-lock {
  position: absolute;
  right: 0;
  font-size: var(--fontSizeSmall);
}
.crucible.sheet.actor span.slash {
  flex: 0 0 20px;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, #4b4a44, transparent);
  transform: rotate(280deg);
  position: relative;
}
.crucible.sheet.actor .math {
  flex: none;
  font-size: var(--fontSizeTitle);
  line-height: inherit;
  text-align: center;
}
.crucible.sheet.actor .score {
  flex: 0 0 var(--abilityHeight);
  width: var(--abilityHeight);
  font-size: var(--fontSizeTitle);
  line-height: 150%;
  font-weight: bold;
  text-align: center;
}
.crucible.sheet.actor .overview {
  margin-top: var(--marginSize);
  padding-right: var(--marginSize);
  border-right: 1px solid var(--colorBeige);
  gap: 4px;
  /** Overview Containers */
}
.crucible.sheet.actor .overview .equipment,
.crucible.sheet.actor .overview .actions,
.crucible.sheet.actor .overview .effects {
  flex: none;
  align-items: center;
}
.crucible.sheet.actor .overview .tag.ap {
  background: var(--colorActionBG);
  border-color: var(--colorAction);
}
.crucible.sheet.actor .overview .tag.fp {
  background: var(--colorFocusBG);
  border-color: var(--colorFocus);
}
.crucible.sheet.actor .overview .tag.hp {
  background: var(--colorHealthBG);
  border-color: var(--colorHealth);
}
.crucible.sheet.actor .sheet-header {
  flex-direction: column;
  gap: 0;
}
.crucible.sheet.actor .sheet-header .title {
  width: 100%;
  gap: 0.5rem;
  margin: 0;
  border-bottom: 1px solid var(--colorBeige);
  font-family: var(--fontFamilySerif);
}
.crucible.sheet.actor .sheet-header .title .charname {
  margin: 0;
  border: none;
  height: var(--titleHeight);
}
.crucible.sheet.actor .sheet-header .title .charname input {
  height: 100%;
  background: none;
  border: none;
  padding: 0 0.5rem;
}
.crucible.sheet.actor .sheet-header .title > label {
  flex: none;
  font-size: var(--font-size-28);
}
.crucible.sheet.actor .sheet-header .title input.level {
  flex: none;
  width: var(--titleHeight);
  height: var(--titleHeight);
  font-size: var(--font-size-28);
  line-height: var(--titleHeight);
  margin-bottom: -2px;
}
.crucible.sheet.actor .sheet-header .subtitle {
  width: 100%;
  padding: 0.25rem 0;
  gap: 0.25rem;
}
.crucible.sheet.actor .sheet-header .subtitle .tag {
  display: flex;
  flex: none;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  font-size: var(--fontSizeTitle);
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorBeige);
  border-radius: 2px;
}
.crucible.sheet.actor .sheet-header .subtitle .tag i.incomplete {
  display: none;
}
.crucible.sheet.actor .sheet-header .subtitle .tag a.control {
  font-size: var(--font-size-14);
}
.crucible.sheet.actor .sheet-header .subtitle .tag.incomplete {
  border: 2px dashed var(--colorBeige);
}
.crucible.sheet.actor .sheet-header .subtitle .tag.incomplete > i.incomplete {
  display: initial;
}
.crucible.sheet.actor .sheet-navigation {
  flex: 0 0 var(--navHeight);
  justify-content: space-between;
  font-family: var(--fontFamilySerif);
  font-size: var(--fontSizeHeader);
  line-height: var(--navHeight);
  border-bottom: 1px solid var(--colorBeige);
}
.crucible.sheet.actor .sheet-navigation .item {
  flex: auto;
  color: var(--colorOlive);
}
.crucible.sheet.actor .sheet-navigation .item.active {
  color: var(--colorDark);
  font-weight: bold;
  text-shadow: 0 0 5px #FFF;
}
.crucible.sheet.actor .tab.skills,
.crucible.sheet.actor .tab.talents,
.crucible.sheet.actor .tab.inventory,
.crucible.sheet.actor .tab.spells {
  overflow-y: auto;
  padding-right: 4px;
}
.crucible.sheet.actor .resources {
  margin: 4px 0;
  flex: none;
}
.crucible.sheet.actor .resource {
  padding: 0 var(--marginSize);
  border-right: 1px solid var(--colorFaint);
}
.crucible.sheet.actor .resource.action {
  border-right: none;
}
.crucible.sheet.actor .resource .resource-values {
  margin: 3px 0;
}
.crucible.sheet.actor .resource .resource-values input,
.crucible.sheet.actor .resource .resource-values .resource-max {
  height: 24px;
  font-size: var(--fontSizeMain);
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .resource .bar {
  flex: 0 0 100%;
  height: 8px;
  margin: 3px 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1px;
}
.crucible.sheet.actor .resource .bar .fill {
  height: 4px;
  border-radius: 4px;
}
.crucible.sheet.actor .abilities {
  flex: none;
  margin-bottom: 4px;
}
.crucible.sheet.actor .abilities .ability-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, var(--abilityHeight));
  grid-gap: var(--marginHalfSize);
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .ability {
  align-items: center;
}
.crucible.sheet.actor .ability h4.label {
  margin: 0;
  font-weight: normal;
  font-size: var(--fontSizeHeader);
  font-family: var(--fontFamilySerif);
  line-height: var(--abilityHeight);
}
.crucible.sheet.actor .ability .score {
  margin: 0 var(--marginSize);
}
.crucible.sheet.actor .ability .controls {
  flex: 0 0 16px;
  height: 100%;
  margin-right: 4px;
}
.crucible.sheet.actor .ability .controls .control {
  flex: 0 0 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .ability .controls .control.inactive {
  color: var(--colorBeige);
  pointer-events: none;
}
.crucible.sheet.actor .ability .controls .increase {
  margin-bottom: 3px;
}
.crucible.sheet.actor .point-pools {
  flex: none;
  justify-content: flex-end;
  gap: 4px;
  text-align: right;
  margin: calc(var(--marginSize) / 2) 0;
  font-size: var(--fontSizeHeader);
  line-height: 24px;
}
.crucible.sheet.actor .point-pools label {
  flex: none;
}
.crucible.sheet.actor .point-pools span.value {
  flex: 0 0 32px;
  height: 24px;
  margin: 0;
  font-size: var(--fontSizeHeader);
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--colorBeige);
}
.crucible.sheet.actor .point-pools .button.reset {
  flex: none;
  padding: 0 0.5rem;
}
.crucible.sheet.actor .defenses {
  flex: none;
  margin-bottom: 4px;
}
.crucible.sheet.actor .defenses .defense {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: calc(var(--marginSize)/2) 0;
}
.crucible.sheet.actor .defenses .defense .defense-title {
  flex: 0 0 175px;
}
.crucible.sheet.actor .defenses .defense > .flexcol {
  align-items: center;
}
.crucible.sheet.actor .defenses .defense h3,
.crucible.sheet.actor .defenses .defense h4 {
  font-size: var(--fontSizeHeader);
  margin: 0;
  white-space: nowrap;
}
.crucible.sheet.actor .defenses .defense input,
.crucible.sheet.actor .defenses .defense .input {
  margin: 0 var(--marginSize);
  flex: 0 0 32px;
}
.crucible.sheet.actor .defenses .defense .subtitle {
  font-family: var(--fontFamilySerif);
  font-size: var(--fontSizeMain);
  margin: 0;
  white-space: nowrap;
}
.crucible.sheet.actor .save-defenses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--marginHalfSize);
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .damage-resistances {
  flex: none;
  align-items: flex-start;
  gap: 0.5rem 1rem;
  font-size: var(--fontSizeHeader);
}
.crucible.sheet.actor .damage-resistances .resistances {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .damage-resistances .resistances .resistance {
  margin: 0;
  font-size: var(--fontSizeSmall);
  gap: 4px;
}
.crucible.sheet.actor .damage-resistances .resistances label {
  line-height: 24px;
  font-size: var(--fontSizeHeader);
}
.crucible.sheet.actor .damage-resistances .resistances .total,
.crucible.sheet.actor .damage-resistances .resistances input {
  flex: 0 0 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .damage-resistances .resistances .total {
  font-weight: bold;
}
.crucible.sheet.actor .badge {
  text-align: left;
  padding-left: 28px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.crucible.sheet.actor .badge.attributes {
  background-image: url("ui/badges/attributes-inactive.png");
}
.crucible.sheet.actor .badge.attributes.active {
  background-image: url("ui/badges/attributes-active.png");
}
.crucible.sheet.actor .badge.skills {
  background-image: url("ui/badges/skills-inactive.png");
}
.crucible.sheet.actor .badge.skills.active {
  background-image: url("ui/badges/skills-active.png");
}
.crucible.sheet.actor .badge.talents {
  background-image: url("ui/badges/talents-inactive.png");
}
.crucible.sheet.actor .badge.talents.active {
  background-image: url("ui/badges/talents-active.png");
}
.crucible.sheet.actor .badge.inventory {
  background-image: url("ui/badges/inventory-inactive.png");
}
.crucible.sheet.actor .badge.inventory.active {
  background-image: url("ui/badges/inventory-active.png");
}
.crucible.sheet.actor .badge.spells {
  background-image: url("ui/badges/spells-inactive.png");
}
.crucible.sheet.actor .badge.spells.active {
  background-image: url("ui/badges/spells-active.png");
}
.crucible.sheet.actor .badge.biography {
  background-image: url("ui/badges/biography-inactive.png");
}
.crucible.sheet.actor .badge.biography.active {
  background-image: url("ui/badges/biography-active.png");
}
.crucible.sheet.actor .badge.strength {
  background-image: url("ui/badges/strength.png");
}
.crucible.sheet.actor .badge.dexterity {
  background-image: url("ui/badges/dexterity.png");
}
.crucible.sheet.actor .badge.toughness {
  background-image: url("ui/badges/toughness.png");
}
.crucible.sheet.actor .badge.intellect {
  background-image: url("ui/badges/intellect.png");
}
.crucible.sheet.actor .badge.wisdom {
  background-image: url("ui/badges/wisdom.png");
}
.crucible.sheet.actor .badge.presence {
  background-image: url("ui/badges/presence.png");
}
.crucible.sheet.actor .badge.physical {
  background-image: url("ui/badges/physical.png");
}
.crucible.sheet.actor .badge.fortitude {
  background-image: url("ui/badges/fortitude.png");
}
.crucible.sheet.actor .badge.reflex {
  background-image: url("ui/badges/reflex.png");
}
.crucible.sheet.actor .badge.willpower {
  background-image: url("ui/badges/willpower.png");
}
/* -------------------------------------- */
/*  Skills Tab                            */
/* -------------------------------------- */
.crucible.sheet.actor .tab.skills .skills-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .tab.skills .skill {
  padding: 1px 0;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks {
  display: flex;
  align-items: center;
  gap: 3px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorTan);
  border-radius: 1px 2px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip.trained {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px #FFF inset;
  border: 1px solid var(--colorOlive);
}
.crucible.sheet.actor .tab.skills .bonus {
  flex: 0 0 64px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .bonus .active,
.crucible.sheet.actor .tab.skills .bonus .passive {
  height: 24px;
  text-align: center;
  margin: 0 2px;
}
.crucible.sheet.actor .tab.skills .bonus .active {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .bonus .passive {
  color: var(--colorTan);
}
.crucible.sheet.actor .tab.skills .attributes {
  flex: 0 0 72px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .attributes .tag {
  width: 28px;
}
.crucible.sheet.actor .tab.skills .points {
  flex: 0 0 72px;
}
.crucible.sheet.actor .tab.skills .points .cumulative {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .points .next {
  color: var(--colorTan);
}
/* -------------------------------------- */
/*  Biography Tab                         */
/* -------------------------------------- */
.crucible.sheet.actor .tab.biography {
  margin: var(--marginSize) 0;
}
/* -------------------------------------- */
/*  Item Lists                            */
/* -------------------------------------- */
.crucible.actor .items-header {
  flex: 0 0 28px;
  align-items: center;
  margin: 3px 0;
  padding: 0 4px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorBeige);
}
.crucible.actor .items-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.actor .items-list .controls {
  padding-left: 2px;
  border-left: 1px solid var(--colorBeige);
}
.crucible.actor .talents .point-pools a.button {
  color: var(--colorOlive);
  border: 1px solid var(--colorBeige);
  font-size: var(--font-size-14);
  font-weight: bold;
}
.crucible.actor .unequipped .equipped-state {
  opacity: 0.5;
}
/* -------------------------------------- */
/*  Active Effects                        */
/* -------------------------------------- */
/* ----------------------------------------- */
/*  Hero Sheet                               */
/* ----------------------------------------- */
.crucible.sheet.hero {
  /** Advancement Bar */
  /** Level-Up Button */
  /** Resource Order */
}
.crucible.sheet.hero .advancement {
  flex: 0 0 140px;
}
.crucible.sheet.hero .advancement .bar {
  flex: 0 0 100%;
  height: 10px;
  padding: 1px;
  margin-bottom: 4px;
  background: #2a3247;
  border: 1px solid #191813;
  border-radius: 8px;
}
.crucible.sheet.hero .advancement .bar .fill {
  height: 6px;
  background: #91e5f5;
  border-radius: 8px;
}
.crucible.sheet.hero .advancement input,
.crucible.sheet.hero .advancement span.input {
  height: 20px;
  line-height: 20px;
}
.crucible.sheet.hero a.level-up {
  flex: 0 0 36px;
  height: 36px;
  margin: 0;
  line-height: 36px;
  font-size: var(--font-size-20);
  font-weight: bold;
  color: var(--color-text-hyperlink);
}
.crucible.sheet.hero .resource {
  min-width: 160px;
}
.crucible.sheet.hero .resource.health {
  order: 1;
}
.crucible.sheet.hero .resource.morale {
  order: 2;
}
.crucible.sheet.hero .resource.action {
  order: 3;
}
.crucible.sheet.hero .resource.wounds {
  order: 4;
}
.crucible.sheet.hero .resource.madness {
  order: 5;
}
.crucible.sheet.hero .resource.focus {
  order: 6;
}
/* ----------------------------------------- */
/*  Adversary Sheet                          */
/* ----------------------------------------- */
.crucible.sheet.adversary .sheet-header select {
  flex: 0 0 90px;
}
.crucible.sheet.adversary .sheet-header .threat-icon {
  font-size: var(--font-size-18);
  color: var(--colorTan);
}
.crucible.sheet.adversary .sheet-header .controls {
  flex: none;
}
.crucible.sheet.adversary .sheet-header .controls .control {
  flex: none;
  height: 16px;
}
/* ----------------------------------------- */
/*  Archetype Config                         */
/* ----------------------------------------- */
.crucible.sheet.archetype .sheet-header {
  border-bottom: none;
}
/* ----------------------------------------- */
/*  Taxonomy Config                          */
/* ----------------------------------------- */
.crucible.sheet.taxonomy .sheet-header {
  border-bottom: none;
}
/** ----------------------------------------- *
 *  Item Sheets                               *
 * ------------------------------------------ */
.crucible.sheet.item {
  --headerHeight: 80px;
  --titleHeight: 40px;
}
.crucible.sheet.item .sheet-header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.crucible.sheet.item .item-properties {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.crucible.sheet.item .item-properties label.checkbox {
  flex: 0 0 80px;
  text-align: left;
}
/** ----------------------------------------- *
 *  Background and Ancestry                   *
 * ------------------------------------------ */
.crucible.sheet .form-group.skills .form-fields {
  flex-wrap: wrap;
  gap: 0;
}
.crucible.sheet .form-group.skills label {
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.crucible.sheet .form-group.skills label input {
  width: 16px;
  margin: 0;
}
/** ----------------------------------------- *
 *  Archetype Sheet                           *
 * ------------------------------------------ */
.crucible.sheet.archetype .abilities {
  justify-content: space-between;
}
.crucible.sheet.archetype .abilities > label {
  flex: 0 0 60px;
  padding: 0;
}
.crucible.sheet.archetype .resistances {
  justify-content: space-between;
  flex-wrap: wrap;
}
.crucible.sheet.archetype .resistances > label {
  flex: 0 0 72px;
  padding: 0;
}
/** ----------------------------------------- *
 *  Armor Sheet                               *
 * ------------------------------------------ */
.crucible.sheet.armor .resistance {
  flex: 0 0 50%;
  margin: 0 0 3px;
  padding: 0 6px;
}
.crucible.sheet.armor .resistance > input {
  flex: 0 0 64px;
  text-align: center;
}
/** ----------------------------------------- *
 *  Talent Sheet                              *
 * ------------------------------------------ */
.crucible.talent .sheet-header {
  border-bottom: none;
}
.crucible.talent .description {
  margin: 0.5rem 0;
}
.crucible.talent .action .condition {
  margin: 0.5rem 0 0;
  flex: 0 0 100%;
}
.crucible.talent .action .effect {
  font-size: var(--font-size-11);
}
.crucible.journal-sheet .editor-content {
  padding-right: 8px;
}
.crucible.journal-sheet p {
  font-size: 14px;
}
.crucible.journal-sheet input[name="name"] {
  font-family: var(--fontFamilySerif);
  font-size: 28px;
  text-align: left;
}
.crucible.journal-sheet h1 {
  clear: both;
  border: none;
  margin: 0 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.5), transparent);
  -webkit-mask-image: linear-gradient(270deg, transparent 0%, black 25%, black 75%, transparent 100%);
  mask-image: linear-gradient(270deg, transparent 0%, black 25%, black 75%, transparent 100%);
}
.crucible.journal-sheet h1::before {
  content: "";
  width: 50%;
  margin-right: 0.5rem;
  border-top: 6px double #44191A;
}
.crucible.journal-sheet h1::after {
  content: "";
  width: 50%;
  margin-left: 0.5rem;
  border-top: 6px double #44191A;
}
.crucible.journal-sheet h2.divider {
  clear: both;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: var(--font-size-28);
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.5), transparent);
  -webkit-mask-image: linear-gradient(270deg, transparent 0%, black 25%, black 75%, transparent 100%);
  mask-image: linear-gradient(270deg, transparent 0%, black 25%, black 75%, transparent 100%);
}
.crucible.journal-sheet h2.divider::before {
  content: "";
  width: 50%;
  margin-right: 0.5rem;
  border-top: 1px solid #33332e;
}
.crucible.journal-sheet h2.divider::after {
  content: "";
  width: 50%;
  margin-left: 0.5rem;
  border-top: 1px solid #33332e;
}
.crucible.journal-sheet blockquote {
  font-family: var(--fontFamilySerif);
  color: #000;
  line-height: 18px;
  margin: 0 5px;
  padding: 0.5rem;
  border-left: 4px solid #7a7971;
}
.crucible.journal-sheet blockquote > p {
  margin: 0;
  font-size: 16px;
  text-align: justify;
}
.crucible.journal-sheet h3 {
  margin: 1rem 0 0.5rem;
  font-size: var(--font-size-20);
  padding: 2px 0.5rem;
  background: #c9c7b8;
  border: 1px solid #7a7971;
  border-radius: 4px;
}
.crucible.journal-sheet h4 {
  margin: 0.5rem 0;
  padding: 0 8px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #33332e;
  border-radius: 4px;
}
.crucible.journal-sheet pre {
  display: inline-block;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #7a7971;
  border-radius: 4px;
  font-weight: bold;
  margin: 0.25rem 0;
  padding: 0.5rem;
}
.crucible.journal-sheet table thead th {
  text-align: left;
}
.crucible.journal-sheet table td:first-child,
.crucible.journal-sheet table th:first-child {
  padding-left: 0.25rem;
}
.crucible.sheet.skill {
  --headerHeight: 48px;
  --titleHeight: 48px;
}
.crucible.sheet.skill .sheet-header {
  margin-bottom: 5px;
}
.crucible.sheet.skill .sheet-header .purchase {
  flex: 0 0 100px;
  align-items: center;
  justify-content: space-around;
}
.crucible.sheet.skill .sheet-header .purchase .rank {
  padding: 0 3px;
  border: 1px solid #7a7971;
  border-radius: 3px;
  font-family: var(--fontFamilySerif);
  font-size: 28px;
  text-align: center;
}
.crucible.sheet.skill .sheet-body {
  overflow-y: auto;
}
.crucible.sheet.skill blockquote.info {
  margin: 0;
  padding: 0.25em;
  border: 1px solid #7a7971;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.crucible.sheet.skill h3 {
  margin: 5px 0 0;
  font-weight: bold;
}
.crucible.sheet.skill input.choose-path {
  margin: 0;
  height: 16px;
  position: relative;
  top: 3px;
}
.crucible.sheet.skill .skill-ranks {
  border-top: 1px solid #b5b3a4;
}
.crucible.sheet.skill .skill-ranks .skill-rank {
  padding: 5px 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.skill .skill-ranks .skill-rank h4 {
  display: inline;
  font-weight: bold;
}
.crucible .action {
  gap: 4px;
  /** Action Header */
  /** Text Description */
}
.crucible .action .action-header {
  flex: none;
}
.crucible .action .action-tags {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.crucible .action label.tag-icon {
  flex: none;
}
.crucible .action .action-description {
  padding: 4px 0;
  font-size: var(--font-size-12);
  font-style: italic;
  border-top: 1px solid var(--colorBeige);
  border-bottom: 1px solid var(--colorBeige);
}
.crucible.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  color: var(--colorOlive);
  line-height: 20px;
  margin-top: 0.25rem;
}
.message-metadata .confirmed {
  color: var(--colorSuccess);
}
.message-metadata .unconfirmed {
  color: var(--colorError);
}
#chat-log .message .flavor-text {
  font-family: var(--fontFamilySerif);
  font-size: var(--font-size-16);
}
#chat-log .dice-rolls {
  margin-top: 4px;
}
.dice-roll.standard-check .dice-pool {
  justify-content: space-between;
  margin: 10px 0;
}
.dice-roll.standard-check .die {
  position: relative;
  flex: 0 0 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  background-size: 48px 48px;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.dice-roll.standard-check .die .denom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  color: #33332e;
  font-size: 12px;
  line-height: 16px;
}
.dice-roll.standard-check .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.dice-roll.standard-check .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.dice-roll.standard-check .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.dice-roll.standard-check .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.dice-roll.standard-check .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.dice-roll.standard-check .boons {
  position: relative;
  flex: 0 0 48px;
  text-align: center;
  padding: 8px 0;
}
.dice-roll.standard-check .boons i,
.dice-roll.standard-check .boons span {
  height: 16px;
  line-height: 16px;
  display: block;
}
.dice-roll.standard-check .dice-tooltip {
  border-top: 1px solid #b5b3a4;
  margin: 5px 0;
  padding: 5px 0 0;
}
.dice-roll.standard-check .dice-tooltip .counter {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
.dice-roll.standard-check .dice-tooltip .counter label {
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}
.dice-roll.standard-check .dice-tooltip .counter span {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .check-result,
.dice-roll.standard-check .damage-result {
  position: relative;
  margin: 5px 0 0;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome,
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  position: absolute;
  color: #33332e;
  font-weight: normal;
  font-size: 14px;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome {
  left: 5px;
}
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  right: 5px;
}
.dice-roll.standard-check .check-result .applied:before,
.dice-roll.standard-check .damage-result .applied:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 3px;
  content: "\f00c";
}
.dice-roll.standard-check.success .check-result {
  background: rgba(0, 255, 0, 0.05);
  border: 1px solid green;
}
.dice-roll.standard-check.failure .check-result {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}
.dice-roll.standard-check.deflect .check-result {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid yellow;
}
.dice-roll.standard-check.failure.critical .check-result {
  background: rgba(255, 0, 0, 0.05);
  color: red;
  border: 1px solid red;
}
.dice-roll.standard-check.success.critical .check-result {
  background: rgba(0, 255, 0, 0.05);
  color: green;
  border: 1px solid green;
}
/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */
.roll {
  --marginSize: 5px;
}
.roll button {
  height: 32px;
}
.roll select {
  height: 30px;
  width: 100%;
  background: none;
  border: 1px solid #b5b3a4;
}
.roll input {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.roll .form-group {
  margin: 0;
}
.roll header.request {
  flex: 0 0 32px;
  padding: 0 0 var(--marginSize);
  border-bottom: 1px solid #b5b3a4;
}
.roll header.request select {
  flex: 2;
}
.roll header.request .buttons {
  flex: 1;
  margin: -1px 0 0 5px;
}
.roll .content {
  margin-top: var(--marginSize);
}
.roll .roller {
  flex: 2;
  text-align: center;
}
.roll .roller .boons,
.roll .roller .banes {
  flex: 0 0 32px;
}
.roll .roller .boons label,
.roll .roller .banes label {
  padding: 0 var(--marginSize);
  font-family: var(--fontFamilySerif);
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}
.roll .roller .boons input,
.roll .roller .banes input {
  flex: 0 0 32px;
  height: 32px;
}
.roll .roller .boons .action-button,
.roll .roller .banes .action-button {
  flex: 0 0 32px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 1.125rem;
}
.roll .roller .boons .action-button:hover,
.roll .roller .banes .action-button:hover {
  font-weight: bold;
  text-shadow: 0 0 6px red;
}
.roll .roller .pool {
  margin: var(--marginSize) 0;
  justify-content: space-evenly;
}
.roll .roller .pool .die {
  flex: 0 0 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.roll .roller .pool .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.roll .roller .pool .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.roll .roller .pool .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.roll .roller .pool .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.roll .roller .pool .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.roll .roller .bonuses {
  list-style: none;
  margin: var(--marginSize) 0 0;
  padding: 0;
}
.roll .roller .bonuses li {
  flex: 1;
  height: 46px;
  margin: 0 3px;
}
.roll .roller .bonuses li label,
.roll .roller .bonuses li input {
  display: block;
  width: 100%;
}
.roll .roller .bonuses li label {
  height: 16px;
  color: #7a7971;
  font-family: var(--fontFamilySerif);
  font-size: 16px;
}
.roll .roller .bonuses li input {
  height: 30px;
}
.roll .target {
  justify-content: space-between;
  border-left: 1px solid #b5b3a4;
  margin-left: var(--marginSize);
  padding-left: var(--marginSize);
}
.roll .target select {
  flex: 0 0 30px;
}
.roll .target label.difficulty {
  flex: 0 0 16px;
  color: #33332e;
  font-family: var(--fontFamilySerif);
  font-size: 20px;
  text-align: center;
}
.roll .target input.dc {
  flex: 0 0 64px;
  width: 64px;
  margin: 0 auto;
}
.roll .buttons {
  flex: none;
  margin-top: 4px;
  gap: 4px;
}
/* -------------------------------------------- */
/*  Talent Tree Canvas                          */
/* -------------------------------------------- */
#crucible-talent-tree {
  position: absolute;
  z-index: calc(var(--z-index-window) - 1);
}
/* -------------------------------------------- */
/*  Talent Tree HUD                             */
/* -------------------------------------------- */
#crucible-talent-hud {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
}
#crucible-talent-hud #talent-hud-header {
  gap: 0.5rem;
}
/* -------------------------------------------- */
/*  Talent Tree Controls                        */
/* -------------------------------------------- */
#crucible-talent-controls {
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  z-index: var(--z-index-tooltip);
  pointer-events: none;
}
#crucible-talent-controls nav {
  width: 100%;
  max-width: 960px;
  align-items: center;
  padding: 0.5rem 1rem;
  pointer-events: all;
}
#crucible-talent-controls p.points {
  flex: 0 0 240px;
  margin: 0;
  font-size: var(--font-size-20);
}
#crucible-talent-controls span.input {
  display: inline-block;
  width: 36px;
  text-align: center;
  background: var(--color-bg-option);
}
#crucible-talent-controls header.name {
  gap: 0.5rem;
  justify-content: center;
}
#crucible-talent-controls header.name h2 {
  flex: none;
  margin: 0;
  border: none;
  font-size: var(--font-size-32);
}
#crucible-talent-controls header.name span.level {
  flex: none;
  font-family: var(--fontFamilySerif);
  font-size: var(--font-size-24);
  color: var(--color-text-light-4);
}
#crucible-talent-controls div.controls {
  flex: 0 0 240px;
  gap: 0.5rem;
}
