/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
  font-family: "CaslonAntique";
  src: url("fonts/CaslonAntique/CaslonAntique.ttf");
}
@font-face {
  font-family: "Planewalker";
  src: url("fonts/Planewalker/Planewalker.otf");
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Element Styles                           */
/* ----------------------------------------- */
.crucible h1 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 32px;
}
.crucible h2 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 24px;
}
.crucible h3 {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 18px;
}
.crucible p {
  margin: 0.25em 0;
}
/* ----------------------------------------- */
/*  Application Windows                      */
/* ----------------------------------------- */
.crucible {
  /* Form Groups */
}
.crucible .window-content {
  background: url("ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.crucible input,
.crucible select {
  border: 1px solid #b5b3a4;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.crucible input[type="text"]:hover,
.crucible input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.crucible input:disabled,
.crucible select:disabled,
.crucible textarea:disabled {
  color: #4b4a44;
}
.crucible input:disabled:hover,
.crucible select:disabled:hover,
.crucible textarea:disabled:hover,
.crucible input:disabled:focus,
.crucible select:disabled:focus,
.crucible textarea:disabled:focus {
  box-shadow: none !important;
}
.crucible button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #eeede0;
}
.crucible label.checkbox {
  flex: auto;
  margin: 0;
  line-height: 20px;
  font-size: 11px;
  text-align: right;
}
.crucible label.checkbox input[type="checkbox"] {
  height: auto;
  margin: 0 5px 0;
  position: relative;
  top: 3px;
}
.crucible .form-group label {
  flex: 2;
  color: #4b4a44;
  font-weight: bold;
}
.crucible .form-group .form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.crucible .form-group .form-fields > * {
  flex: 1;
}
.crucible .form-group .form-fields .flex1 {
  flex: 1;
}
.crucible .form-group .form-fields .flex2 {
  flex: 2;
}
.crucible .form-group .form-fields .flex3 {
  flex: 3;
}
.crucible .form-group .form-fields .flex4 {
  flex: 4;
}
.crucible .form-group .form-fields > * {
  margin: 0 3px 0 0;
}
.crucible .form-group .form-fields > *:last-child {
  margin-right: 0;
}
.crucible .form-group.stacked label {
  flex: 0 0 100%;
}
.crucible .form-group.stacked label.checkbox {
  flex: auto;
  text-align: left;
}
.crucible.sheet {
  --headerHeight: 50px;
  --navHeight: 32px;
  /* Highlight Boxes */
  /* Tooltips */
}
.crucible.sheet .sheet-header {
  flex: 0 0 var(--headerHeight);
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet .sheet-header img.profile {
  flex: 0 0 var(--headerHeight);
  height: var(--headerHeight);
  margin: 0 5px 0 0;
  border: 1px solid #000;
  border-radius: 0;
  object-fit: cover;
  object-position: 0 10%;
}
.crucible.sheet .sheet-header .header-content {
  flex: 1;
}
.crucible.sheet .sheet-header .title {
  flex: 3;
  height: var(--titleHeight);
  margin: 2px 0;
  border: none;
}
.crucible.sheet .window-content,
.crucible.sheet form,
.crucible.sheet .sheet-body {
  overflow: hidden;
}
.crucible.sheet .sheet-navigation {
  flex: 0 0 var(--navHeight);
  line-height: var(--navHeight);
  border-bottom: 1px solid #b5b3a4;
  font-size: 20px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  justify-content: flex-start;
}
.crucible.sheet .sheet-navigation .item {
  flex: auto;
  color: #4b4a44;
}
.crucible.sheet .sheet-navigation .item.active {
  color: #191813;
  font-weight: bold;
  text-shadow: 0 0 5px #FFF;
}
.crucible.sheet .highlight {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #c9c7b8;
  border-radius: 3px;
}
.crucible.sheet .tooltipped {
  position: relative;
}
.crucible.sheet .tooltipped .tooltip {
  display: none;
  line-height: 22px;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 120%;
  padding: 1px 5px;
  background: rgba(0, 0, 0, 0.95);
  font-size: 12px;
  font-weight: normal;
  color: #b5b3a4;
  border: 1px solid #000;
  border-radius: 3px;
  z-index: 999;
}
.crucible.sheet .tooltipped:hover > .tooltip {
  display: block;
}
.crucible.sheet.actor {
  --headerHeight: 200px;
  --titleHeight: 50px;
  --skillHeight: 30px;
  /* General Sheet Styles */
  /* Badge Icons */
  /** --------------------------------------
   * ATTRIBUTES TAB
   * ------------------------------------- */
  /* Skills Tab */
}
.crucible.sheet.actor label {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  color: #4b4a44;
}
.crucible.sheet.actor input[type="text"] {
  border: 1px solid #b5b3a4;
}
.crucible.sheet.actor .header-content label {
  font-size: 24px;
}
.crucible.sheet.actor h1.charname {
  flex: 3;
  margin: 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor h1.charname input {
  height: calc(var(--titleHeight) - 10px);
  margin: 5px 0;
  background: none;
  border: none;
}
.crucible.sheet.actor h2.level {
  flex: 1;
  text-align: right;
  margin: 0;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor h2.level input {
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}
.crucible.sheet.actor .ancestry,
.crucible.sheet.actor .background {
  flex: 1;
  font-size: 24px;
  line-height: 40px;
  padding: 0 10px;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.actor .ancestry label,
.crucible.sheet.actor .background label {
  float: left;
}
.crucible.sheet.actor .ancestry h2,
.crucible.sheet.actor .background h2 {
  margin: 0;
  border: none;
  text-align: right;
}
.crucible.sheet.actor .ancestry {
  border-right: 1px solid #b5b3a4;
}
.crucible.sheet.actor .resource {
  padding: 0 8px;
  border-right: 1px solid #c9c7b8;
}
.crucible.sheet.actor .resource:last-child {
  border-right: none;
}
.crucible.sheet.actor .resource .resource-name {
  margin: 3px 10px 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
}
.crucible.sheet.actor .resource .resource-values {
  margin: 3px 0;
}
.crucible.sheet.actor .resource .resource-values span.sep {
  flex: 0 0 20px;
  color: #c9c7b8;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .resource .resource-values input {
  height: 24px;
  text-align: center;
}
.crucible.sheet.actor .badge {
  text-align: left;
  padding-left: 28px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.crucible.sheet.actor .badge.attributes {
  background-image: url("ui/badges/attributes-inactive.png");
}
.crucible.sheet.actor .badge.attributes.active {
  background-image: url("ui/badges/attributes-active.png");
}
.crucible.sheet.actor .badge.skills {
  background-image: url("ui/badges/skills-inactive.png");
}
.crucible.sheet.actor .badge.skills.active {
  background-image: url("ui/badges/skills-active.png");
}
.crucible.sheet.actor .badge.talents {
  background-image: url("ui/badges/talents-inactive.png");
}
.crucible.sheet.actor .badge.talents.active {
  background-image: url("ui/badges/talents-active.png");
}
.crucible.sheet.actor .badge.inventory {
  background-image: url("ui/badges/inventory-inactive.png");
}
.crucible.sheet.actor .badge.inventory.active {
  background-image: url("ui/badges/inventory-active.png");
}
.crucible.sheet.actor .badge.spells {
  background-image: url("ui/badges/spells-inactive.png");
}
.crucible.sheet.actor .badge.spells.active {
  background-image: url("ui/badges/spells-active.png");
}
.crucible.sheet.actor .badge.biography {
  background-image: url("ui/badges/biography-inactive.png");
}
.crucible.sheet.actor .badge.biography.active {
  background-image: url("ui/badges/biography-active.png");
}
.crucible.sheet.actor .badge.strength {
  background-image: url("ui/badges/strength-active.png");
}
.crucible.sheet.actor .badge.dexterity {
  background-image: url("ui/badges/dexterity-active.png");
}
.crucible.sheet.actor .badge.constitution {
  background-image: url("ui/badges/constitution-active.png");
}
.crucible.sheet.actor .badge.intellect {
  background-image: url("ui/badges/intellect-active.png");
}
.crucible.sheet.actor .badge.willpower {
  background-image: url("ui/badges/willpower-active.png");
}
.crucible.sheet.actor .badge.charisma {
  background-image: url("ui/badges/charisma-active.png");
}
.crucible.sheet.actor .tab.attributes .ability-scores {
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #b5b3a4;
}
.crucible.sheet.actor .tab.attributes .ability-scores .attribute {
  height: 36px;
  align-items: center;
  margin: 3px 5px 3px 0;
}
.crucible.sheet.actor .tab.attributes .ability-scores .attribute h4.label {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.crucible.sheet.actor .tab.attributes .ability-scores .attribute input {
  flex: 0 0 36px;
  height: 36px;
  font-size: 24px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills {
  justify-content: flex-start;
  height: 100%;
  overflow-y: scroll;
}
.crucible.sheet.actor .tab.skills .skill-points {
  flex: 0 0 24px;
  margin: 6px 0;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
}
.crucible.sheet.actor .tab.skills .skill-points h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.crucible.sheet.actor .tab.skills .skill-points label {
  flex: 0 0 80px;
}
.crucible.sheet.actor .tab.skills .skill-points span.value {
  flex: 0 0 32px;
  height: 24px;
  margin: 0 12px 0 6px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .skills-header {
  flex: 0 0 24px;
  line-height: 24px;
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .skills-header .skill-name {
  margin: 0 24px 0 8px;
}
.crucible.sheet.actor .tab.skills .skills-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .tab.skills .skill {
  line-height: var(--skillHeight);
}
.crucible.sheet.actor .tab.skills .skill img {
  flex: 0 0 var(--skillHeight);
  height: var(--skillHeight);
  margin-right: 4px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks {
  flex: 0 0 110px;
  height: 24px;
  padding: 3px 0;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks a.skill-control {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 24px;
  margin-right: 4px;
  color: #b5b3a4;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 1px 2px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip.trained {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px #FFF inset;
  border: 1px solid #4b4a44;
}
.crucible.sheet.actor .tab.skills .skill .bonus {
  padding: 3px;
}
.crucible.sheet.actor .tab.skills .skill .points,
.crucible.sheet.actor .tab.skills .skill .bonus {
  height: var(--skillHeight);
}
.crucible.sheet.actor .tab.skills .skill-name {
  flex: 3;
}
.crucible.sheet.actor .tab.skills .skill-name h3 {
  margin: 0;
}
.crucible.sheet.actor .tab.skills .bonus {
  flex: 0 0 64px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .bonus .active,
.crucible.sheet.actor .tab.skills .bonus .passive {
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0 2px;
}
.crucible.sheet.actor .tab.skills .bonus .active {
  font-size: 15px;
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .bonus .passive {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .attributes {
  flex: 0 0 72px;
  margin: 0 12px 0 6px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .attributes .attribute {
  height: 20px;
  line-height: 20px;
  margin: 5px 2px;
  width: 32px;
  float: left;
  color: #4b4a44;
}
.crucible.sheet.actor .tab.skills .rank,
.crucible.sheet.actor .tab.skills .path {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 16px;
}
.crucible.sheet.actor .tab.skills .unspecialized .path {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .untrained .rank {
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .points {
  flex: 0 0 100px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .points .skill-control {
  display: inline-block;
  line-height: 20px;
  padding: 0 2px;
  margin: 0 3px;
  color: #7a7971;
}
.crucible.sheet.actor .tab.skills .points .skill-control:hover {
  border: 1px solid #7a7971;
  box-shadow: 0 0 4px #FFF;
  text-shadow: none;
  color: #191813;
}
.crucible.sheet.actor .tab.skills .points .cumulative,
.crucible.sheet.actor .tab.skills .points .next {
  display: inline-block;
  width: 16px;
}
.crucible.sheet.actor .tab.skills .points .cumulative {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .points .next {
  color: #7a7971;
}
.crucible.sheet.item {
  --headerHeight: 80px;
  --titleHeight: 40px;
}
.crucible.sheet.item.skill h2.skill-rank {
  flex: 2;
  margin: 2px 0 2px 5px;
  height: 38px;
  text-align: center;
  font-size: 20px;
  color: #4b4a44;
  line-height: 40px;
  border: 1px dashed #b5b3a4;
  border-radius: 5px;
}
.crucible.sheet.item.skill .skill-ranks {
  flex: 0 0 100%;
  height: 26px;
  margin: 5px 2px;
  line-height: 24px;
  text-align: center;
  color: #4b4a44;
}
.crucible.sheet.item.skill .skill-ranks .rank-detail {
  flex: 0 0 70px;
  font-size: 18px;
  color: #4b4a44;
}
.crucible.sheet.item.skill .skill-ranks .rank-detail .rank-detail-label {
  font-size: 16px;
  color: #7a7971;
}
.crucible.sheet.item.skill .skill-ranks .rank-detail .rank-detail-value {
  padding: 0 8px;
  font-size: 20px;
  color: #4b4a44;
  border: 1px dashed #b5b3a4;
  border-radius: 5px;
}
.crucible.sheet.item.skill .skill-ranks .rank-control {
  flex: 0 0 36px;
  height: 26px;
  line-height: 26px;
  font-size: 20px;
  color: #b5b3a4;
}
.crucible.sheet.item.skill .skill-ranks .rank-control:hover {
  color: #191813;
}
.crucible.sheet.item.skill .skill-ranks .rank-progress-bar {
  height: 26px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #b5b3a4;
  border-radius: 5px;
}
.crucible.sheet.item.skill .skill-ranks .rank-progress-bar .rank-progress {
  border: 1px solid #191813;
  border-radius: 8px 4px 8px 4px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px #000 inset;
  margin: 2px;
}
.crucible.sheet.item.skill .skill-ranks .rank-progress-bar.exp .rank-progress.purchased {
  background: #23911d;
  border: 1px solid #0a2b00;
}
.crucible.sheet.item.skill .skill-ranks .rank-progress-bar.kno .rank-progress.purchased {
  background: #91b1f5;
  border: 1px solid #17182b;
}
.crucible.sheet.item.skill .skill-ranks .rank-progress-bar.soc .rank-progress.purchased {
  background: #c154bd;
  border: 1px solid #2b0425;
}
.crucible.sheet.item.skill .skill-ranks .rank-name {
  flex: 0 0 150px;
  height: 26px;
  font-size: 24px;
  border: 2px dashed #b5b3a4;
  border-radius: 5px;
}
.crucible.sheet.item.skill .skill-header {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #4b4a44;
  text-align: center;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet.item.skill .skill-benefits {
  flex: 1;
  height: 100%;
  padding-right: 5px;
  margin-right: 5px;
  overflow-y: auto;
}
.crucible.sheet.item.skill .skill-benefits .skill-benefit {
  margin: 0.25em 0;
  line-height: 20px;
}
.crucible.sheet.item.skill .skill-benefits .benefit-rank {
  display: inline-block;
  padding: 2px 8px 0;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px dashed #7a7971;
  border-radius: 3px;
}
.crucible.sheet.item.skill .skill-benefits .benefit-from {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 20px;
  margin: 0 5px;
}
.crucible.sheet.item.skill .skill-benefits .benefit-desc {
  display: inline;
}
.crucible.sheet.item.skill .progression-paths {
  flex: 0 0 64px;
}
.crucible.sheet.item.skill .progression-paths img {
  width: 64px;
  height: 64px;
  border: 1px solid #000;
  border-radius: 3px;
}
.crucible.sheet.item.skill .progression-paths img.inactive {
  filter: grayscale(100%);
}
#chat-log .message .flavor-text {
  font-size: 16px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.dice-roll.standard-check .dice-pool {
  justify-content: space-between;
  margin: 5px 0;
}
.dice-roll.standard-check .die {
  position: relative;
  flex: 0 0 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  background-size: 48px 48px;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.dice-roll.standard-check .die .denom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  color: #4b4a44;
  font-size: 12px;
  line-height: 16px;
}
.dice-roll.standard-check .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.dice-roll.standard-check .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.dice-roll.standard-check .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.dice-roll.standard-check .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.dice-roll.standard-check .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.dice-roll.standard-check .boons {
  position: relative;
  flex: 0 0 48px;
  text-align: center;
  padding: 8px 0;
}
.dice-roll.standard-check .boons i,
.dice-roll.standard-check .boons span {
  height: 16px;
  line-height: 16px;
  display: block;
}
.dice-roll.standard-check .dice-tooltip {
  border-top: 1px solid #b5b3a4;
  margin: 5px 0;
  padding: 5px 0 0;
}
.dice-roll.standard-check .dice-tooltip div.counter {
  padding: 2px 0;
}
.dice-roll.standard-check .dice-tooltip div.counter label {
  font-size: 16px;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
}
.dice-roll.standard-check .dice-tooltip div.counter span {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .dice-total {
  position: relative;
  margin: 5px 0 0;
}
.dice-roll.standard-check .dice-total .outcome,
.dice-roll.standard-check .dice-total .target {
  position: absolute;
  color: #4b4a44;
  font-weight: normal;
  font-size: 14px;
}
.dice-roll.standard-check .dice-total .outcome {
  left: 5px;
}
.dice-roll.standard-check .dice-total .target {
  right: 5px;
}
.dice-roll.standard-check.success .dice-total {
  background: rgba(0, 255, 0, 0.05);
  border: 1px solid green;
}
.dice-roll.standard-check.success.critical .dice-total {
  color: green;
}
.dice-roll.standard-check.failure .dice-total {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}
.dice-roll.standard-check.failure.critical .dice-total {
  color: red;
}
/**
 * Roll Dialog
 */
.roll button {
  height: 32px;
}
.roll select {
  height: 30px;
  width: 100%;
  background: none;
  border: 1px solid #b5b3a4;
}
.roll input {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.roll .form-group {
  margin: 0;
}
.roll header.request {
  flex: 0 0 32px;
  padding: 0 0 5px;
  border-bottom: 1px solid #b5b3a4;
}
.roll header.request select {
  flex: 2;
}
.roll header.request .buttons {
  flex: 1;
  margin: -1px 0 0 5px;
}
.roll .content {
  flex: 0 0 200px;
  padding: 5px 0;
}
.roll .roller {
  flex: 2;
  padding: 0 5px 0 0;
  text-align: center;
}
.roll .roller .boons {
  flex: 0 0 32px;
  margin: 3px 0;
}
.roll .roller .boons label {
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-weight: normal;
  font-size: 20px;
  padding-left: 32px;
  line-height: 32px;
  cursor: pointer;
}
.roll .roller .boons label:hover {
  text-shadow: 0 0 6px red;
}
.roll .roller .boons input {
  flex: 0 0 32px;
  height: 32px;
}
.roll .roller .pool {
  margin: 5px 0;
  justify-content: space-evenly;
}
.roll .roller .pool .die {
  flex: 0 0 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.roll .roller .pool .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.roll .roller .pool .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.roll .roller .pool .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.roll .roller .pool .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.roll .roller .pool .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.roll .roller .bonuses {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.roll .roller .bonuses li {
  flex: 1;
  height: 46px;
  margin: 0 3px;
}
.roll .roller .bonuses li label,
.roll .roller .bonuses li input {
  display: block;
  width: 100%;
}
.roll .roller .bonuses li label {
  height: 16px;
  color: #7a7971;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 16px;
}
.roll .roller .bonuses li input {
  height: 30px;
}
.roll .target {
  justify-content: space-between;
  border-left: 1px solid #b5b3a4;
  margin: 0;
  padding: 0 0 0 5px;
}
.roll .target select {
  flex: 0 0 30px;
}
.roll .target label.difficulty {
  flex: 0 0 16px;
  color: #4b4a44;
  font-family: "CaslonAntique", "Palatino Linotype", serif;
  font-size: 20px;
  text-align: center;
}
.roll .target input.dc {
  flex: 0 0 64px;
  width: 64px;
  margin: 0 auto;
}
.roll .buttons {
  flex: 0 0 32px;
}
