<section class="sheet-body">
    <template data-application-part="header"></template>
    {{#each tabs as |tab|}}
    <template data-application-part="{{tab.id}}"></template>
    {{/each}}
</section>
