<section class="action flexcol">
    <header class="action-header line-item">
        <div class="name">
            <img class="icon large" src="{{action.img}}">
            <h3>{{action.name}}</h3>
        </div>
        <div class="tags" data-tag-type="activation">
            {{#each activationTags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </header>

    {{#if hasActionTags}}
    <div class="flexrow">
        <label class="tag-icon" data-tooltip="Action Tags" data-tooltip-direction="LEFT">
            <i class="fa-solid fa-bolt"></i>
        </label>
        <div class="tags" data-tag-type="action">
            {{#each actionTags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if context.tags.size}}
    <div class="flexrow">
        <label class="tag-icon" data-tooltip="{{action.context.label}}" data-tooltip-direction="LEFT">
            <i class="{{context.icon}}"></i>
        </label>
        <div class="tags" data-tag-type="{{context.type}}">
            {{#each context.tags as |label|}}
            <span class="tag">{{label}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if targets.length}}
    <div class="flexrow">
        <label class="tag-icon" data-tooltip="{{localize "ACTION.Targets"}}" data-tooltip-direction="LEFT">
            <i class="fa-solid fa-bullseye"></i>
        </label>
        <div class="tags" data-tag-type="target">
            {{#each targets}}
            <span class="target-link tag" data-uuid="{{this.uuid}}">{{this.name}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div class="action-description">
        {{#if action.condition}}
        <p class="condition"><strong>{{localize "ACTION.Condition"}}:</strong> {{{action.condition}}}</p>
        {{/if}}
        <p>{{{action.description}}}</p>
    </div>
</section>
