<section class="action spell flexcol">
    <header class="action-header line-item">
        <div class="name">
            <img class="icon large" src="{{spell.img}}">
            <h3>{{spell.name}}</h3>
        </div>
        <div class="tags" data-tag-type="activation">
            {{#each activationTags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </header>

    {{#if hasActionTags}}
    <div class="flexrow">
        <label class="tag-icon" data-tooltip="Action Tags" data-tooltip-direction="LEFT">
            <i class="fa-solid fa-bolt"></i>
        </label>
        <div class="tags" data-tag-type="action">
            {{#each actionTags as |label tag|}}
            <span class="tag" data-tag="{{tag}}">{{label}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{#if targets.length}}
    <div class="flexrow">
        <label class="tag-icon" data-tooltip="{{localize "ACTION.Targets"}}" data-tooltip-direction="LEFT">
        <i class="fa-solid fa-bullseye"></i>
        </label>
        <div class="tags" data-tag-type="target">
            {{#each targets}}
            <span class="target-link tag" data-uuid="{{this.uuid}}">{{this.name}}</span>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label>{{localize "SPELL.ComponentRune"}}</label>
        <div class="form-fields">
            <select name="rune" class="component">
                {{selectOptions runes selected=spell.rune.id nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SPELL.ComponentGesture"}}</label>
        <div class="form-fields">
            <select name="gesture" class="component">
                {{selectOptions gestures selected=spell.gesture.id nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SPELL.ComponentInflection"}}</label>
        <div class="form-fields">
            <select name="inflection" class="component">
                {{selectOptions inflections selected=spell.inflection.id blank="" nameAttr="id" labelAttr="name"}}
            </select>
        </div>
    </div>
</section>
