{{#if totalBoons}}
<div class="boon-details flexcol">
    <h4>Boons</h4>
    {{#each boons as |boon|}}
        {{#if boon.number}}
            <div class="boon flexrow">
                <input type="number" value="{{boon.number}}" readonly>
                <span class="label">{{localize boon.label}}</span>
            </div>
        {{/if}}
    {{/each}}
    </ul>
</div>
{{/if}}
{{#if totalBanes}}
<div class="bane-details flexcol">
    <h4>Banes</h4>
    {{#each banes as |bane|}}
        {{#if bane.number}}
            <div class="bane flexrow">
                <input type="number" value="{{bane.number}}" readonly>
                <span class="label">{{localize bane.label}}</span>
            </div>
        {{/if}}
    {{/each}}
</div>
{{/if}}
