{{#if totalBoons}}
<div class="boon-details flexcol">
    {{#each boons as |boon|}}
    {{#if boon.number}}
    <div class="boon flexrow">
        <span class="label">{{localize boon.label}}</span>
        <span class="type"><i class="fa-solid fa-arrow-up"></i> Boon</span>
        <span class="value">{{boon.number}}</span>
    </div>
    {{/if}}
    {{/each}}
</div>
{{/if}}
{{#if totalBanes}}
<div class="bane-details flexcol">
    {{#each banes as |bane|}}
    {{#if bane.number}}
    <div class="bane flexrow">
        <span class="label">{{localize bane.label}}</span>
        <span class="type"><i class="fa-solid fa-arrow-down"></i> Bane</span>
        <span class="value">{{bane.number}}</span>
    </div>
    {{/if}}
    {{/each}}
</div>
{{/if}}
