<aside id="crucible-talent-hud" class="crucible hud talent">
    <header class="flexrow">
        <img class="icon" src="{{source.img}}" title="{{source.name}}"/>
        <h1 class="title">{{source.name}}</h1>
        <div class="talent-tags tags prerequisites">
            {{#each prerequisites as |req|}}
            <span class="tag {{#unless req.met}}unmet{{/unless}}">{{req.tag}}</span>
            {{/each}}
        </div>
    </header>
    {{> "systems/crucible/templates/sheets/item/talent-summary.hbs"}}
</aside>
