<aside id="crucible-talent-hud" class="app crucible">
    <header id="talent-hud-header" class="flexcol">
        <div class="tags">
            <label>Node:</label>
            <span class="tag">Tier {{tier}}</span>
            <span class="tag">{{type}}</span>
            {{#if twin}}<span class="tag">Twinned</span>{{/if}}
            <span class="tag">{{talents}} Talents</span>
        </div>
        <div class="tags">
            <label>Prerequisites:</label>
            {{#each prerequisites as |req|}}
            <span class="tag {{#unless req.met}}unmet{{/unless}}">{{req.tag}}</span>
            {{/each}}
        </div>
    </header>
</aside>
