<aside id="crucible-talent-hud" class="crucible hud talent-node">
    <header class="flexrow">
        <div class="tags">
            <label>{{id}}</label>
            {{#each tags as |tag|}}
            <span class="tag {{tag.class}}">{{tag.label}}</span>
            {{/each}}
        </div>
        <div class="tags prerequisites">
            {{#each prerequisites as |req|}}
            <span class="tag {{#unless req.met}}unmet{{/unless}}">{{req.tag}}</span>
            {{/each}}
        </div>
    </header>
</aside>
