<aside id="crucible-talent-hud" class="app crucible sheet talent">
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}"/>
        <h1 class="title">{{source.name}}</h1>
        <div class="tags header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
                <span class="tag">{{tag}}</span>
            {{/each}}
        </div>
    </header>
    {{> "systems/crucible/templates/sheets/partials/talent-summary.hbs"}}
</aside>
