<aside id="crucible-talent-hud" class="crucible-new hud talent">
    <header class="flexrow">
        <img class="icon" src="{{source.img}}" title="{{source.name}}"/>
        <h1 class="title">{{source.name}}</h1>
        <div class="tags">
            <label>Prerequisites</label>
            {{#each prerequisites as |req|}}
            <span class="tag {{#unless req.met}}unmet{{/unless}}">{{req.tag}}</span>
            {{/each}}
        </div>
    </header>
    {{> "systems/crucible/templates/sheets/partials/talent-summary.hbs"}}
</aside>
