<section class="tab sheet-body flexcol scrollable {{tab.cssClass}}"
         data-tab="{{tab.id}}" data-group="{{tab.group}}">
    {{#each moduleHooks}}
    {{> "systems/crucible/templates/sheets/partials/hook.hbs"}}
    {{/each}}
    {{#unless moduleHooks.length}}
    <p class="hint">{{localize "HOOKS.NoModuleHooks"}}</p>
    {{/unless}}
</section>
