<section class="tab sheet-body flexcol {{tabs.components.cssClass}}" data-tab="{{tabs.components.id}}"
         data-group="{{tabs.components.group}}">
    {{#each inputs as |input|}}
    {{> (lookup @root "inputPartial") input=input itemPartial=@root.itemPartial isEditable=@root.isEditable}}
    {{/each}}
    <hr>
    <fieldset class="outputs">
        <legend>Outputs</legend>
        {{#each outputs as |output|}}
        {{> (lookup @root "itemPartial") equipment=output isEditable=@root.isEditable}}
        {{/each}}
        {{#if isEditable}}
        <div class="output-drop droppable">
            <p class="hint">{{localize "SCHEMATIC.SHEET.OUTPUT_DROP"}}</p>
        </div>
        {{/if}}
    </fieldset>
</section>
