<div class="crucible action" data-action-id="{{id}}">
    <header class="action-header flexrow">
        <img class="chat-icon" src="{{img}}" title="{{name}}" width="32" height="32"/>
        <h3 class="action-name">{{name}}</h3>
        <p class="activation-tags">
            {{#each activationTags}}
            <span class="tag">{{this}}</span>
            {{/each}}
        </p>
    </header>
    <p class="action-description">{{description}}</p>
    <p class="action-tags">
        {{#each actionTags}}
        <span class="tag">{{this}}</span>
        {{/each}}
    </p>
</div>