<form class="standard-check action flexcol">
    {{> "systems/crucible/templates/dice/partials/action-use-header.hbs"}}

    {{#if hasDice}}
    <section class="content roller flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
    </section>
    <section class="details flexcol">
        {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
    </section>
    {{/if}}

    <footer class="buttons flexrow">
        <select name="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}
        </select>
        <button type="button" class="dialog-button frame-brown" data-button="ok">
            <i class="fas fa-dice"></i>
            <label>Use Action</label>
        </button>
    </footer>
</form>
