<div class="crucible action" data-action-id="{{action.id}}">
    <header class="action-header flexrow">
        <img class="chat-icon" src="{{action.img}}" title="{{action.name}}"/>
        <h3 class="action-name">{{action.name}}</h3>
        <div class="tags flexcol">
            <p class="activation-tags">
                {{#each activationTags}}
                <span class="tag">{{this}}</span>
                {{/each}}
            </p>
            <p class="action-tags">
                {{#each actionTags}}
                <span class="tag">{{this}}</span>
                {{/each}}
            </p>
        </div>
    </header>

    <p class="action-description">{{action.description}}</p>

    {{#each rolls}}
    {{{this}}}
    {{/each}}
</div>
