<div class="dice-roll {{cssClass}}">
    {{#if target }}
    <div class="target flexrow">
        <label><i class="fa-solid fa-bullseye"></i> Target</label>
        <div class="tags" data-tag-type="target">
            <span class="target-link tag" data-uuid="{{target.uuid}}">{{target.name}}</span>
        </div>
    </div>
    {{/if}}

    <div class="dice-result">
        <div class="dice-tooltip">
            <div class="dice-formula">{{formula}}</div>
            <div class="dice-pool flexrow">
                <div class="boons">
                    <i class="fas fa-arrow-up"></i>
                    <span>{{data.boons}}</span>
                </div>
                {{#each pool}}
                <div class="die {{this.denom}}">
                    <span class="denom">{{this.denom}}</span>
                    {{this.result}}
                </div>
                {{/each}}
                <div class="boons banes">
                    <i class="fas fa-arrow-down"></i>
                    <span>{{data.banes}}</span>
                </div>
            </div>
            <div class="counter">
                <label>{{localize "DICE.DiceTotal"}}</label>
                <span>{{diceTotal}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.AbilityBonus"}}</label>
                <span>{{data.ability}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.SkillBonus"}}</label>
                <span>{{data.skill}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.EnchantmentBonus"}}</label>
                <span>{{data.enchantment}}</span>
            </div>
        </div>

        <h4 class="dice-total check-result">
            <span class="outcome">{{outcome}}</span>
            <span>{{total}}</span>
            {{#if isGM}}
            <span class="target">{{defenseType}} {{defenseValue}}</span>
            {{/if}}
        </h4>

        {{#if data.damage.total}}
        <div class="dice-tooltip">
            <div class="counter">
                <label>{{localize "DICE.DamageOverflow"}}{{#if hasMultiplier}} (x{{data.damage.multiplier}}){{/if}}</label>
                <span>{{data.damage.overflow}}</span>
            </div>
            <div class="counter">
                <label>{{baseLabel}}</label>
                <span>{{data.damage.base}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.DamageBonus"}}</label>
                <span>{{data.damage.bonus}}</span>
            </div>
            <div class="counter">
                <label>{{localize "DICE.DamageResistance"}}</label>
                <span>{{data.damage.resistance}}</span>
            </div>
        </div>

        <h4 class="dice-total damage-result">
            <span class="outcome">{{damageLabel}}</span>
            <span>{{data.damage.total}}</span>
            <span class="target">{{damageType}}</span>
        </h4>
        {{/if}}
    </div>
</div>
