<div class="{{cssClass}}" data-action="expandRoll">
    {{#if data.newTarget}}
    <div class="roll-target flexrow">
        <label class="tag-icon">
        <i class="fa-solid fa-bullseye"></i>
        </label>
        <div class="tags" data-tag-type="target">
            <span class="target-link tag" data-uuid="{{target.uuid}}">{{target.name}}</span>
        </div>
    </div>
    {{/if}}
    {{> "systems/crucible/templates/dice/partials/standard-check-dice-result.hbs" this}}
</div>
