<div class="dice-roll {{cssClass}}">
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        <div class="dice-pool flexrow">
            <div class="boons">
                <i class="fas fa-arrow-up"></i>
                <span>{{data.boons}}</span>
            </div>
            {{#each pool}}
            <div class="die {{this.denom}}">
                <span class="denom">{{this.denom}}</span>
                {{this.result}}
            </div>
            {{/each}}
            <div class="boons banes">
                <i class="fas fa-arrow-down"></i>
                <span>{{data.banes}}</span>
            </div>
        </div>

        <div class="dice-tooltip">
            <div class="counter">
                <label>Dice Total</label>
                <span>{{diceTotal}}</span>
            </div>
            <div class="counter">
                <label>Ability Bonus</label>
                <span>{{data.ability}}</span>
            </div>
            <div class="counter">
                <label>Skill Bonus</label>
                <span>{{data.skill}}</span>
            </div>
            <div class="counter">
                <label>Enchantment Bonus</label>
                <span>{{data.enchantment}}</span>
            </div>
        </div>

        <h4 class="dice-total">
            <span class="outcome">{{outcome}}</span>
            <span>{{total}}</span>
            {{#if isGM}}
            <span class="target">vs. DC {{dc}}</span>
            {{/if}}
        </h4>
    </div>
</div>
