<section class="roller flexcol">
    {{> "systems/crucible/templates/dice/partials/standard-check-roll.hbs"}}
</section>

{{#if isGM}}
<section class="difficulty form-group">
    <div class="form-fields">
        <select name="difficultyTier">
            {{selectOptions difficulties selected=difficulty.dc nameAttr="dc" labelAttr="label" blank="Custom Difficulty"}}
        </select>
        <label>DC</label>
        {{numberInput difficulty.dc class="dc" name="dc" min=0 max=50}}
    </div>
</section>
{{/if}}

{{#if showDetails}}
<section class="details flexcol">
    {{> "systems/crucible/templates/dice/partials/standard-check-details.hbs"}}
</section>
{{/if}}

<footer class="form-footer">
    <select name="rollMode">
        {{selectOptions rollModes selected=rollMode localize=true}}
    </select>
    {{#if isGM}}
        <button type="submit" class="action-button frame-brown" data-action="request">
            <i class="fas fa-arrow-right"></i>
            <label>Request</label>
        </button>
    {{/if}}
    <button type="submit" class="dialog-button frame-brown" data-action="roll">
        <i class="fas fa-dice"></i>
        <label>Roll</label>
    </button>
</footer>
