<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{data.img}}" title="{{data.name}}" data-edit="img"/>
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{data.name}}" placeholder="Item Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group ability">
            <label>{{localize "ANCESTRY.PrimaryAbility"}}</label>
            <select name="data.primary">
                {{selectOptions system.ABILITIES selected=systemData.primary labelAttr="label"}}
            </select>
            <p class="hint">{{localize "ANCESTRY.PrimaryAbilityHint"}}</p>
        </div>

        <div class="form-group ability">
            <label>{{localize "ANCESTRY.SecondaryAbility"}}</label>
            <select name="data.secondary">
                {{selectOptions system.ABILITIES selected=systemData.secondary labelAttr="label"}}
            </select>
            <p class="hint">{{localize "ANCESTRY.SecondaryAbilityHint"}}</p>
        </div>

        <div class="form-group stacked skills">
            <label>{{localize "ANCESTRY.Skills"}}</label>
            <div class="form-fields">
                {{#each skills}}
                <label class="checkbox">
                    <input type="checkbox" name="{{this.id}}" {{checked this.checked}}/>
                    {{this.name}}
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "ANCESTRY.SkillsHint"}}</p>
        </div>

        <div class="form-group">
            <label>{{localize "ANCESTRY.Resistance"}}</label>
            <select name="data.resistance">
                {{selectOptions system.DAMAGE_TYPES selected=systemData.resistance blank="None" labelAttr="label"}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "ANCESTRY.Vulnerability"}}</label>
            <select name="data.vulnerability">
                {{selectOptions system.DAMAGE_TYPES selected=systemData.vulnerability blank="None" labelAttr="label"}}
            </select>
            <p class="hint">{{localize "ANCESTRY.ResistanceHint"}}</p>
        </div>

        <footer class="sheet-footer">
            <button type="submit"><i class="fas fa-save"></i> {{localize "Submit"}}</button>
        </footer>
    </section>
</form>
