<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{source.img}}" title="{{source.name}}" data-edit="img"/>
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{source.name}}" placeholder="Item Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <textarea name="system.description" rows="4">{{source.system.description}}</textarea>
        </div>

        <div class="form-group stacked skills">
            <label>{{localize "BACKGROUND.Skills"}}</label>
            <div class="form-fields">
                {{#each skills}}
                <label class="checkbox">
                    <input type="checkbox" name="{{this.id}}" {{checked this.checked}}/>
                    {{this.name}}
                </label>
                {{/each}}
            </div>
            <p class="hint">{{localize "BACKGROUND.SkillsHint"}}</p>
        </div>

        <footer class="sheet-footer">
            <button type="submit"><i class="fas fa-save"></i> {{localize "Submit"}}</button>
        </footer>
    </section>
</form>
