{{#*inline "resource"}}
<h3 class="resource-name">{{label}}</h3>
<div class="resource-values flexrow">
    <input name="{{attr}}.value" type="text" value="{{lookup data 'value'}}" data-dtype="Number" placeholder="0"/>
    <span class="sep">/</span>
    <input name="{{attr}}.max" type="text" value="{{lookup data 'max'}}" data-dtype="Number" placeholder="0"/>
</div>
{{/inline}}

<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <div class="header-content">

            <div class="title flexrow">
                <h1 class="charname">
                    <input name="name" type="text" value="{{actor.name}}" placeholder="Actor Name"/>
                </h1>

                <h2 class="level">
                    <label>Level</label>
                    <input name="data.details.level" type="text" value="{{data.details.level}}" placeholder="1" data-dtype="Number"/>
                </h2>
            </div>

            <div class="history flexrow">
                <div class="ancestry">
                    <label>Ancestry</label>
                    <h2>{{data.details.ancestry}}</h2>
                </div>

                <div class="background">
                    <label>Background</label>
                    <h2>{{data.details.background}}</h2>
                </div>
            </div>

            {{!-- Character Resources --}}
            <div class="resources flexrow">
                <div class="resource">
                    {{> resource label="Health" attr="data.attributes.health" data=data.attributes.health}}
                    {{> resource label="Wounds" attr="data.attributes.wounds" data=data.attributes.wounds}}
                </div>

                <div class="resource">
                    {{> resource label="Sanity" attr="data.attributes.sanity" data=data.attributes.sanity}}
                    {{> resource label="Stress" attr="data.attributes.stress" data=data.attributes.stress}}
                </div>

                <div class="resource">
                    {{> resource label="Action" attr="data.attributes.action" data=data.attributes.action}}
                    {{> resource label="Focus" attr="data.attributes.spell" data=data.attributes.spell}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item badge attributes" data-tab="attributes">Attributes</a>
        <a class="item badge skills" data-tab="skills">Skills</a>
        <a class="item badge talents" data-tab="talents">Talents</a>
        <a class="item badge inventory" data-tab="inventory">Inventory</a>
        <a class="item badge spells" data-tab="spells">Grimoire</a>
        <a class="item badge biography" data-tab="biography">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexrow">

        {{!-- Attributes Tab --}}
        <div class="tab attributes flexcol" data-group="primary" data-tab="attributes">

            <div class="point-pools flexrow">
                <h3 class="badge attributes active">Ability Scores</h3>
                {{#if isL1}}
                <label>Pool Size</label>
                <span class="value highlight">36</span>
                <label>Spent</label>
                <span class="value highlight">{{points.ability.bought}}</span>
                <label>Available</label>
                <span class="value highlight">{{points.ability.pool}}</span>
                {{else}}
                <label>Total Points</label>
                <span class="value highlight">{{points.ability.total}}</span>
                <label>Spent</label>
                <span class="value highlight">{{points.ability.spent}}</span>
                <label>Available</label>
                <span class="value highlight">{{points.ability.available}}</span>
                {{/if}}
            </div>

            <ol class="ability-scores">
            {{#each abilityScores as |attr|}}
                <li class="ability flexrow" data-ability="{{attr.id}}">
                    <h4 class="label badge {{attr.id}}">{{attr.label}}</h4>
                    {{#if attr.canDecrease}}
                    <a class="control {{#if attr.canIncrease}}highlight{{/if}} decrease" title="Ability Decrease" data-action="abilityDecrease">
                        <i class="fas fa-minus"></i>
                    </a>
                    {{/if}}
                    <input type="text" name="data.attributes.{{attr.id}}.value" value="{{attr.value}}" data-dtype="Number"/>
                    {{#if attr.canIncrease}}
                    <a class="control highlight increase" title="Ability Increase" data-action="abilityIncrease">
                        <i class="fas fa-plus"></i>
                    </a>
                    {{/if}}
                </li>
            {{/each}}
            </ol>

            <ol class="physical-defenses flexrow">
                <li class="defense physical flexcol">
                    <h4 class="badge physical-defense">Physical Defense</h4>
                    <span class="total">{{data.defenses.physical}}</span>
                    <span class="subtitle">Total Defense</span>
                </li>
                <li class="sep">=</li>
                <li class="defense flexcol">
                    <h4>Dodge</h4>
                    <input type="text" name="data.defenses.dodge.base" value="{{data.defenses.dodge.base}}" data-dtype="Number"/>
                    <span class="subtitle">Maximum 12</span>
                </li>
                <li class="sep">+</li>
                <li class="defense flexcol">
                    <h4>Parry</h4>
                    <input type="text" name="data.defenses.parry.base" value="{{data.defenses.parry.base}}" data-dtype="Number"/>
                    <span class="subtitle">Equipment Bonus</span>
                </li>
                <li class="sep">+</li>
                <li class="defense flexcol">
                    <h4>Block</h4>
                    <input type="text" name="data.defenses.block.base" value="{{data.defenses.block.base}}" data-dtype="Number"/>
                    <span class="subtitle">Equipment Bonus</span>
                </li>
                <li class="sep">+</li>
                <li class="defense flexcol">
                    <h4>Armor</h4>
                    <input type="text" name="data.defenses.armor.base" value="{{data.defenses.armor.base}}" data-dtype="Number"/>
                    <span class="subtitle">Heavy Armor</span>
                </li>
            </ol>

            <div class="other-defenses flexrow">
                <div class="saves">
                    <h4 class="badge saving-throws">Save Defenses</h4>
                    <ol class="resistances saves" data-resistance-type="saves">
                        <li class="resistance flexrow" data-save="fortitude">
                            <h4>Fortitude</h4>
                            <span class="base">{{data.defenses.fortitude.base}} +</span>
                            <input class="bonus" type="text" name="data.defenses.fortitude.bonus" value="{{data.defenses.fortitude.bonus}}" data-dtype="Number"/>
                            <span class="total">{{data.defenses.fortitude.total}}</span>
                        </li>
                        <li class="resistance flexrow" data-save="reflex">
                            <h4>Reflex</h4>
                            <span class="base">{{data.defenses.reflex.base}} +</span>
                            <input class="bonus" type="text" name="data.defenses.reflex.bonus" value="{{data.defenses.reflex.bonus}}" data-dtype="Number"/>
                            <span class="total">{{data.defenses.reflex.total}}</span>
                        </li>
                        <li class="resistance flexrow" data-save="willpower">
                            <h4>Willpower</h4>
                            <span class="base">{{data.defenses.willpower.base}} +</span>
                            <input class="bonus" type="text" name="data.defenses.willpower.bonus" value="{{data.defenses.willpower.bonus}}" data-dtype="Number"/>
                            <span class="total">{{data.defenses.willpower.total}}</span>
                        </li>
                    </ol>
                </div>

                {{#each resistances as |res cat|}}
                <div class="resistances-category">
                    <h4 class="badge {{cat}}-resistance">{{res.label}} Resistance</h4>
                    <ol class="resistances {{cat}}" data-resistance-type="{{cat}}">
                        {{#each res.resists as |r id|}}
                            <li class="resistance flexrow" data-resistance="{{id}}">
                                <h4>{{r.label}}</h4>
                                <span class="base">{{r.base}} +</span>
                                <input class="bonus" type="text" name="data.resistances.{{id}}.bonus" value="{{r.bonus}}" data-dtype="Number"/>
                                <span class="total">{{r.total}}</span>
                            </li>
                        {{/each}}
                    </ol>
                </div>
                {{/each}}
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills flexcol" data-group="primary" data-tab="skills">

            <div class="point-pools flexrow">
                <h3 class="badge skills active">Skill Progression</h3>
                <label>Total Points</label>
                <span class="value highlight">{{points.skill.total}}</span>
                <label>Spent</label>
                <span class="value highlight">{{points.skill.spent}}</span>
                <label>Available</label>
                <span class="value highlight">{{points.skill.available}}</span>
            </div>

            {{!-- Skills List --}}
            {{#each skillCategories as |category catId|}}
            <header class="skills-header flexrow highlight" data-category="{{catId}}">
                <span class="skill-name">{{category.name}} Skills</span>
                <div class="bonus">Bonus</div>
                <div class="attributes">Attributes</div>
                <span>Rank</span>
                <span>Specialization</span>
                <span class="points">Spent (Cost)</span>
            </header>

            <ol class="skills-list">
                {{#each category.skills as |skill skillId|}}
                <li class="skill flexrow {{skill.css}}" data-skill="{{skillId}}">
                    <img class="skill-icon" title="{{skill.name}}" src="{{skill.icon}}"/>
                    <div class="skill-name flexrow">
                        <h3>
                            <a class="skill-control" title="Roll Check" data-action="roll">{{skill.name}}</a>
                        </h3>
                        <div class="skill-ranks">
                            {{#each skill.pips}}
                            <span class="pip {{this}}"></span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="bonus flexrow">
                        <span class="active highlight tooltipped">
                            {{numberFormat skill.score sign=true}}
                            <span class="tooltip">{{skill.tooltips.value}}</span>
                        </span>
                        <span class="passive tooltipped">
                            ({{skill.passive}})
                            <span class="tooltip">{{skill.tooltips.passive}}</span>
                        </span>
                    </div>
                    <div class="attributes">
                        {{#each skill.attributes}}
                        <span class="attribute highlight">{{this.abbreviation}}</span>
                        {{/each}}
                    </div>
                    <span class="rank">{{skill.rankName}}</span>
                    <span class="path">{{skill.pathName}}</span>
                    <div class="points">
                        <a class="control highlight" title="Decrease Rank" data-action="skillDecrease">
                            <i class="fas fa-minus fa-fw"></i>
                        </a>
                        <span class="cumulative">{{skill.cost}}</span>
                        <span class="next">{{#if skill.nextCost}}({{skill.nextCost}}){{else}}-{{/if}}</span>
                        <a class="control highlight" title="Increase Rank" data-action="skillIncrease">
                            <i class="fas fa-plus fa-fw"></i>
                        </a>
                    </div>
                </li>
                {{/each}}
            </ol>
            {{/each}}
        </div>
    </section>
</form>
