<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{config.icon}}" title="{{config.name}}"/>
        <div class="header-content flexrow">
            <h1 class="title">{{config.name}}</h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <blockquote class="info skill-description">
            {{config.description}}
        </blockquote>

        {{#if skill.path}}
        <h3>Specialization Path: {{path.name}}</h3>
        <blockquote class="info path-description">
            {{path.description}}
        </blockquote>
        {{else}}
        <h3>Specialization Paths</h3>
        <div class="skill-ranks current-ranks">
            {{#each config.paths}}
            <div class="skill-rank">
                <h4>{{this.name}}</h4> {{this.description}}
            </div>
            {{/each}}
        </div>
        {{/if}}

        <h3>Trained Ranks</h3>
        <div class="skill-ranks current-ranks">
            {{#each trainedRanks}}
            <div class="skill-rank">
                <h4>Rank {{this.rank}}.</h4> {{this.description}}
            </div>
            {{/each}}
            {{#if skill.path}}
            {{#each skill.path.ranks}}
            <div class="skill-rank">
                <h4>Rank {{this.rank}}.</h4> {{this.description}}
            </div>
            {{/each}}
            {{/if}}
        </div>

        <h3>Untrained Ranks</h3>
        <div class="skill-ranks current-ranks">
            {{#each untrainedRanks}}
            <div class="skill-rank">
                <h4>Rank {{this.rank}}.</h4> {{this.description}}
            </div>
            {{/each}}
        </div>
    </section>
</form>
