<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{config.icon}}" title="{{config.name}}"/>
        <div class="header-content flexrow">
            <h1 class="title">{{config.name}}</h1>
            <div class="purchase flexrow">
                <a class="button control" data-action="decrease"><i class="fas fa-minus"></i></a>
                <span class="rank">{{skill.rank}}</span>
                <a class="button control" data-action="increase"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flexcol">
        <blockquote class="info skill-description">
            {{config.description}}
        </blockquote>

        {{#if displayPath}}
        <h3>Specialization Path: {{path.name}}</h3>
        <blockquote class="info path-description">
            {{path.description}}
        </blockquote>
        {{/if}}

        {{#if choosePath}}
        <h3>Specialization Paths</h3>
        <div class="skill-ranks current-ranks">
            {{#each config.paths as |path id|}}
            <div class="skill-rank">
                <input class="choose-path" type="radio" name="path" value="{{id}}" {{checked (eq ../skill.path id)}}/>
                <h4>{{path.name}}</h4>
                {{path.description}}
            </div>
            {{/each}}
        </div>
        {{/if}}

        {{#if skill.rank}}
        <h3>Trained Ranks</h3>
        {{/if}}
        <div class="skill-ranks current-ranks">
            {{#each trainedRanks}}
            <div class="skill-rank">
                <h4>{{this.label}}.</h4> {{this.description}}
            </div>
            {{/each}}
        </div>

        <h3>Unacquired Ranks</h3>
        <div class="skill-ranks current-ranks">
            {{#each untrainedRanks}}
            <div class="skill-rank">
                <h4>{{this.label}}.</h4> {{this.description}}
            </div>
            {{/each}}
        </div>
    </section>
</form>
