<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{data.img}}" title="{{data.name}}" data-edit="img"/>
        <h1 class="title">
            <input name="name" type="text" value="{{data.name}}" placeholder="Talent Name"/>
        </h1>
        <div class="header-tags">
            <label>Requirements:</label>
            {{#each tags as |tag|}}
            <span>{{tag}}</span>
            {{/each}}
        </div>
    </header>

    <!-- Configuration Tabs -->
    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="details"><i class="fas fa-scroll"></i> Description</a>
        <a class="item" data-tab="config"><i class="fas fa-cogs"></i> Configuration</a>
    </nav>

    {{!-- Description Tab --}}
    <section class="tab sheet-body" data-tab="details">
        <div class="form-group stacked">
            <p class="description">{{{data.system.description}}}</p>
        </div>

        {{#if hasActions}}
        <div class="form-group stacked">
            <h3 class="divider">
                <span></span><label>Actions</label><span></span>
            </h3>
            {{#each document.actions as |action|}}
            <div class="action flexrow" data-action-id="{{this.id}}">
                <div class="action-name flexrow">
                    <img src="{{action.img}}" height="24" width="24"/>
                    <h4>{{action.name}}</h4>
                </div>
                <div class="tags action-tags" data-tag-type="action">
                {{#each action.getTags as |label tag|}}
                    <span class="tag" data-tag="{{tag}}">{{this}}</span>
                {{/each}}
                </div>
                {{#if action.condition}}
                <p class="condition">
                    <strong>{{localize "ACTION.Condition"}}:</strong> <em>{{action.condition}}</em>
                </p>
                {{/if}}
                <div class="description">{{{action.description}}}</div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>

    <!-- Configuration Tab -->
    <section class="tab sheet-body" data-tab="config">
        <div class="form-group">
            <textarea name="data" style="height: 300px">{{jsonData}}</textarea>
        </div>

        <footer>
            <button type="submit">Save Changes</button>
        </footer>
    </section>
</form>
