<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="header-content flexrow">
            <h1 class="title">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Category</label>
            <div class="form-fields">
                <select name="data.category">
                    {{#select data.category}}
                    {{#each categories}}
                    <option value="{{this.id}}">{{this.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Parry (Base and Bonus)</label>
            <div class="form-fields">
                <input type="number" name="data.parry.base" value="{{data.parry.base}}"/>
                <input type="number" name="data.parry.bonus" value="{{data.parry.bonus}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Block (Base and Bonus)</label>
            <div class="form-fields">
                <input type="number" name="data.block.base" value="{{data.block.base}}"/>
                <input type="number" name="data.block.bonus" value="{{data.block.bonus}}"/>
            </div>
        </div>

        <div class="form-group">
            <label>Equipped</label>
            <input type="checkbox" name="data.equipped" {{checked data.equipped}}/>
        </div>

        <div class="form-group stacked physical-details">
            <label>Physical Details</label>
            <div class="form-fields">
                <label>Quantity</label>
                <input type="number" step="any" name="data.quantity" value="{{data.quantity}}"/>
                <label>Weight</label>
                <input type="number" step="any" name="data.weight" value="{{data.weight}}"/>
                <label>Price</label>
                <input type="number" step="any" name="data.price" value="{{data.price}}"/>
            </div>
        </div>

        <footer class="sheet-footer">
            <button type="submit"><i class="fas fa-save"></i> {{localize "Submit"}}</button>
        </footer>
    </section>
</form>
