@import "variables.less";

/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */
.crucible.sheet.actor {
  --sidebar-width: 200px;
  --profile-size: 200px;
  --margin-size: 1rem;
  --margin-half: calc(var(--margin-size) / 2);

  overflow: visible;

  .window-content {
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--margin-size);
    padding: 0 var(--margin-size);
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    padding: 0;

    header.title {
      gap: var(--margin-half);
      input {
        height: var(--sheet-header-height);
        background: var(--color-frame-bg-50);
        padding: 0.5rem;
        border: none;
        font-family: var(--font-h1);
        font-size: var(--font-size-24);
      }
      .charname {
        flex: 1;
        margin-right: 3rem;
      }
      .level,
      a.button {
        flex: none;
      }
      .level + input {
        text-align: center;
        flex: 0 0 48px;
      }
    }
    div.subtitle {
      gap: var(--margin-half);
      h2 {
        flex: none;
        margin: 0;
        font-size: var(--font-size-14);
        padding: 0.5rem;
        background: var(--color-frame-bg-75);
        border: 1px solid var(--color-frame);
        border-radius: 4px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Sidebar                            */
  /* ----------------------------------------- */

  .sheet-sidebar {
    flex: 0 0 var(--sidebar-width);
    height: 100%;
    gap: var(--margin-half);
    overflow: hidden;

    img.profile {
      border: none;
      background: var(--color-frame-bg-50);
    }

    h2.divider {
      margin: 0;
      font-size: var(--font-size-14);
    }

    .item-list {
      overflow: hidden auto;
      display: flex;
      flex-direction: column;
      gap: var(--margin-half);
      max-height: 200px;
    }

    .line-item {
      --icon-size: 32px;
      flex-direction: row;
      header {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        h4.title {
          font-size: var(--font-size-12);
          line-height: 1rem;
        }
      }
      .tags {
        margin-left: -3px; // align padding and border
        .tag {
          font-size: var(--font-size-11);
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Tabs                               */
  /* ----------------------------------------- */

  .sheet-tabs {
    --tab-size: 32px;
    --icon-size: 28px;

    flex-direction: column;
    position: absolute;
    width: calc(var(--tab-size) + 4px);
    right: calc(-1 * (var(--tab-size) + 4px));
    top: 90px;
    padding: 4px 4px 4px 0;
    gap: var(--margin-half);
    border: none;
    overflow: hidden;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--tab-size);
      height: calc(var(--tab-size) + 4px);
      padding: 0;
      background: var(--color-frame-bg-75);
      border: 1px solid #000;
      border-left: none;
      border-radius: 0 4px 4px 0;
      .tab-icon {
        box-sizing: content-box;
        width: var(--icon-size);
        height: var(--icon-size);
        border: none;
        opacity: 0.5;
      }
      &.active {
        background: var(--color-frame-bg);
        border-color: var(--color-accent);
        box-shadow: 0 0 4px var(--color-link-text);
        .tab-icon {
          opacity: 1.0;
        }
      }
    }

  }

  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  .sheet-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: 2rem 0;
  }

  .tab.attributes {
    display: grid;
    grid-template-rows: 140px 160px 1fr;
    grid-template-columns: 3fr 2fr;
    gap: calc(var(--margin-size) * 1.5) var(--margin-size);
    padding-bottom: var(--margin-size);

    .attribute-section {
      background: var(--color-frame-bg-50);
      border-radius: 6px;
      position: relative;
      padding: 1rem 0 0;
      align-items: center;

      > h3 {
        box-sizing: content-box;
        position: absolute;
        margin: 0;
        padding: 0 1rem;
        height: 1.5rem;
        line-height: 1.5rem;
        top: -0.75rem;
        font-size: var(--font-size-14);
        color: var(--color-primary);
        background: var(--color-frame-bg);
        border-radius: 3px;
      }
    }

    /** Resources */
    .resources {
      grid-column: 1;
      grid-row: 1;
      justify-content: center;
      padding: 0 0.5rem;

      .resource {
        --resource-pct: 0%;
        position: relative;
        flex: 0 0 100px;
        height: 100px;
        background: var(--resource-bg) no-repeat center;
        background-size: auto 100px;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;

        .label {
          position: absolute;
          font-size: var(--font-size-11);
          background: var(--color-frame-bg);
          padding: 2px 6px;
          margin: 0;
          z-index: 1;
          &.above {
            top: -12px;
          }
          &.below {
            bottom: -12px;
          }
        }
        .pool {
          z-index: 1;
          justify-content: center;
          align-items: center;
          input {
            flex: 0 0 30px;
            height: 24px;
            background: none;
            padding: 0 0.25rem;
            border: none;
            text-align: center;
            font-size: var(--font-size-20);
            font-family: var(--font-h1);
          }
          .total,
          .sep {
            font-family: var(--font-h1);
            font-size: var(--font-size-16);
            color: var(--color-secondary);
          }
          .sep {
            flex: none;
          }
          .total {
            flex: 0 0 30px;
            text-align: center;
          }
        }
        &::before {
          display: block;
          position: absolute;
          pointer-events: none;
          content: "";
          width: 100px;
          height: 100px;
          background: var(--resource-fill) no-repeat center;
          background-size: auto 100px;
          z-index: 0;
          clip-path: inset(var(--resource-pct) 0px 0px 0px);
          transition: clip-path 1s;
        }
      }
      .resource.health {
        --resource-bg: url("../ui/resources/health-bg.png");
        --resource-fill: url("../ui/resources/health-fill.png");
      }
      .resource.morale {
        --resource-bg: url("../ui/resources/morale-bg.png");
        --resource-fill: url("../ui/resources/morale-fill.png");
      }
    }

    /** Abilities */
    .abilities {
      grid-column: 2;
      grid-row: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 100px);
      justify-items: center;

      .ability {
        position: relative;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        gap: 0;
        background: url("../ui/abilities/frame.svg") no-repeat center;
        background-size: cover;

        .label {
          position: absolute;
          top: -8px;
          background: var(--color-frame-bg);
          padding: 2px 6px;
          font-size: var(--font-size-11);
          margin: 0;
        }
        .input {
          font-size: var(--font-size-24);
          font-family: var(--font-h1);
        }
        &::before {
          display: block;
          position: absolute;
          pointer-events: none;
          content: "";
          width: 80px;
          height: 80px;
          background: var(--ability-icon) no-repeat center;
          background-size: 54px;
        }
      }
      .strength {
        --ability-icon: url("../ui/abilities/strength.svg");
      }
      .toughness {
        --ability-icon: url("../ui/abilities/toughness.svg");
      }
      .dexterity {
        --ability-icon: url("../ui/abilities/dexterity.svg");
      }
      .wisdom {
        --ability-icon: url("../ui/abilities/wisdom.svg");
      }
      .presence {
        --ability-icon: url("../ui/abilities/presence.svg");
      }
      .intellect {
        --ability-icon: url("../ui/abilities/intellect.svg");
      }
      .controls {
        display: none; // FIXME temporarily hidden
      }
    }

    .defenses {
      justify-content: center;
    }

    .resistances {
      grid-column: 1 / span 2;
      justify-content: center;
    }
  }
}
