@import "variables.less";

/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */
.crucible.sheet.actor {
  --sidebar-width: 200px;
  --profile-size: 200px;
  --margin-size: 1rem;
  --margin-half: calc(var(--margin-size) / 2);

  overflow: visible;

  .window-content {
    overflow: visible;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--margin-size);
    padding: 0 var(--margin-size) var(--margin-size);
  }

  // Hide overflow on minimize
  &.minimized,
  &.minimizing,
  &.maximizing {
    overflow: hidden;
    .window-content {
      overflow: hidden;
    }
  }

  // Sheet body
  .sheet-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    gap: 0 1rem;
    height: 100%;
  }

  .tab {
    flex: 1;
    position: relative;
    padding: 1.5rem 0 1rem;
    gap: 1.5rem;
  }

  // Icon buttons
  a.button.icon {
    flex: none;
    font-size: var(--font-size-12);
  }

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  .sheet-section {
    background: var(--color-frame-bg-50);
    border-radius: 6px;
    position: relative;
    padding: 1.5rem 1rem 1rem;

    &.flexcol {
      width: 100%;
      align-items: center;
    }

    &.flexrow {
      justify-content: center;
    }

    > h3 {
      box-sizing: content-box;
      position: absolute;
      margin: 0;
      padding: 0 1rem;
      height: 1.5rem;
      line-height: 1.5rem;
      top: -0.75rem;
      font-size: var(--font-size-14);
      color: var(--color-primary);
      background: var(--color-frame-bg);
      border-radius: 3px;
    }
  }

  h4.label {
    flex: none;
    font-size: var(--font-size-11);
    background: var(--color-frame-bg);
    padding: 2px 6px;
    margin: 0;
  }

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .sheet-header {
    --sheet-header-height: 40px;
    padding: 0;

    header.title {
      gap: var(--margin-half);
      input {
        height: var(--sheet-header-height);
        background: var(--color-frame-bg-50);
        border: none;
        font-family: var(--font-h1);
        font-size: var(--font-size-24);
      }
      .charname {
        margin-right: 2rem;
        padding: 0 0.5rem;
      }
      .level,
      .controls,
      a.level-up {
        flex: none;
      }
      a.level-up {
        opacity: 1.0;
        height: 28px;
        border: 1px solid var(--color-warm-1);
      }
      input:last-child {
        flex: 0 0 var(--sheet-header-height);
        padding: 0;
        text-align: center;
      }
    }
    div.subtitle {
      gap: var(--margin-half);
      h2 {
        flex: none;
        margin: 0;
        font-size: var(--font-size-14);
        line-height: 24px;
        padding: 0 0.5rem;
        background: var(--color-frame-bg-75);
        border: 1px solid var(--color-frame);
        border-radius: 4px;
      }
      h2.incomplete {
        border-color: var(--color-warm-1);
      }
    }
    div.metadata {
      justify-content: flex-end;
      gap: 0.5rem;
      select {
        flex: 0 0 120px;
      }
      div.size {
        flex: none;
        gap: 0.25rem;
        margin-right: 0.5rem;
        span.value {
          flex: none;
          width: 24px;
          background: url("../ui/elements/hex-plain.svg") no-repeat center;
          background-size: 24px;
          font-family: var(--font-h1);
          font-size: var(--font-size-16);
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Sidebar                            */
  /* ----------------------------------------- */

  .sheet-sidebar {
    flex: 0 0 var(--sidebar-width);
    height: 100%;
    gap: var(--margin-half);
    overflow: hidden;
    img.profile {
      border: none;
      background: var(--color-frame-bg-50);
      border-radius: 4px;
      object-fit: contain;
    }
    h2.divider {
      margin: 0;
      font-size: var(--font-size-14);
    }
    .item-list {
      overflow: hidden auto;
      display: flex;
      flex-direction: column;
      gap: var(--margin-half);
      &.equipment {
        flex: none;
      }
      &.actions {
        flex: 1;
      }
    }
    .line-item {
      flex-wrap: nowrap;
      .title {
        font-size: var(--font-size-12);
        line-height: 1rem;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Sheet Tabs                               */
  /* ----------------------------------------- */

  .sheet-tabs {
    --tab-size: 32px;
    --icon-size: 28px;

    flex-direction: column;
    position: absolute;
    width: calc(var(--tab-size) + 4px);
    right: calc(-1 * (var(--tab-size) + 4px));
    top: 90px;
    padding: 4px 4px 4px 0;
    gap: var(--margin-half);
    border: none;
    overflow: hidden;

    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--tab-size);
      height: calc(var(--tab-size) + 4px);
      padding: 0;
      background: var(--color-frame-bg-75);
      border: 1px solid #000;
      border-left: none;
      border-radius: 0 4px 4px 0;
      .tab-icon {
        box-sizing: content-box;
        width: var(--icon-size);
        height: var(--icon-size);
        border: none;
        opacity: 0.5;
      }
      &.active {
        background: var(--color-frame-bg);
        border-color: var(--color-accent);
        box-shadow: 0 0 4px var(--color-link-text);
        .tab-icon {
          opacity: 1.0;
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Attributes Tab                           */
  /* ----------------------------------------- */

  .tab.attributes {
    grid-template-rows: 140px 200px 1fr;
    grid-template-columns: 2fr 1fr;
    padding-bottom: var(--margin-size);
    &.active {
      display: grid;
    }

    /** Resources */
    .resources {
      grid-column: 1;
      grid-row: 1;
      justify-content: center;
      padding: 0 0.5rem;

      /** Pool Resources */
      .resource {
        --resource-pct: 0%;
        position: relative;
        flex: 0 0 100px;
        height: 114px;
        background: var(--resource-bg) no-repeat center;
        background-size: 100px;
        justify-content: center;
        align-items: center;

        .label {
          position: absolute;
          z-index: 1;
          &.above {
            top: -0.5rem;
          }
          &.below {
            bottom: -0.5rem;
          }
        }
        .pool {
          z-index: 1;
          justify-content: center;
          align-items: center;
          input {
            flex: 0 0 40%;
            height: 1.25em;
            background: none;
            padding: 0 0.25rem;
            border: none;
            text-align: center;
            font-family: var(--font-h1);
            font-size: inherit;
          }
          .total,
          .sep {
            font-family: var(--font-h1);
            color: var(--color-secondary);
          }
          .sep {
            flex: none;
          }
          .total {
            flex: 0 0 40%;
            text-align: center;
          }

          // Short Term: Health, Morale
          &.short {
            font-size: var(--font-size-20);
          }

          // Long Term: Wounds, Madness
          &.long {
            font-size: var(--font-size-14);
          }
        }

        // Resource Fill
        &::before {
          display: block;
          position: absolute;
          pointer-events: none;
          content: "";
          width: 100%;
          height: 100%;
          background: var(--resource-fill) no-repeat center;
          background-size: 100px;
          z-index: 0;
          clip-path: inset(var(--resource-pct) 0px 0px 0px);
          transition: clip-path 1s;
        }

        .threshold {
          position: absolute;
          bottom: -8px;
          flex: none;
          width: 32px;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: url("../ui/elements/hex-plain.svg") no-repeat center;
          background-size: auto 32px;
          .value {
            font-size: var(--font-size-12);
            font-family: var(--font-h1);
            color: var(--color-secondary);
          }
          &.wounds {
            right: -12px;
          }
          &.madness {
            left: -12px;
          }
        }
      }
      .resource.health {
        --resource-bg: url("../ui/resources/health-bg.png");
        --resource-fill: url("../ui/resources/health-fill.png");
      }
      .resource.morale {
        --resource-bg: url("../ui/resources/morale-bg.png");
        --resource-fill: url("../ui/resources/morale-fill.png");
      }

      /** Economy Resources */
      .economy {
        height: 100%;
        align-items: center;
        gap: 0.5rem;
        padding: 1.25rem 0 0;
        .currency {
          width: 100%;
          align-items: center;
          .points {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 0.25rem;
            input {
              flex: 0 0 16px;
              height: 16px;
              padding: 0;
              background: none;
              border: none;
              text-align: center;
              font-size: var(--font-size-12);
              font-family: var(--font-sans);
            }
            span.max {
              flex: 0 0 16px;
              font-family: var(--font-sans);
              color: var(--color-secondary);
              font-size: var(--font-size-12);
              text-align: center;
            }
          }
          .pips {
            flex: 0 0 100px;
            justify-content: center;
            gap: 4px 0;
            .pip {
              flex: 0 0 14px;
              height: 14px;
              border: 1px solid var(--color-frame);
              border-radius: 7px;
              &.double {
                border-color: var(--resource-color);
              }
            }
            .full::before {
              display: block;
              content: "";
              width: 8px;
              height: 8px;
              margin: 2px;
              background: var(--resource-color);
              border-radius: 4px;
            }
          }
        }
        .action {
          --resource-color: #FF9900;
        }
        .focus {
          --resource-color: #0066FF;
        }
        .heroism {
          --resource-color: #ff0059;
        }
      }
    }

    /** Abilities */
    .abilities {
      grid-column: 2;
      grid-row: 1 / span 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      padding: 1.5rem 0 0;

      .ability {
        position: relative;
        width: 80px;
        height: 80px;
        justify-content: center;
        align-items: center;
        gap: 0;
        background: url("../ui/abilities/frame.svg") no-repeat center;
        background-size: cover;

        .label {
          position: absolute;
          top: -8px;
        }
        .input {
          font-size: var(--font-size-24);
          font-family: var(--font-h1);
        }
        &::before {
          display: block;
          position: absolute;
          pointer-events: none;
          content: "";
          width: 80px;
          height: 80px;
          background: var(--ability-icon) no-repeat center;
          background-size: 54px;
        }
      }
      .strength {
        --ability-icon: url("../ui/abilities/strength.svg");
      }
      .toughness {
        --ability-icon: url("../ui/abilities/toughness.svg");
      }
      .dexterity {
        --ability-icon: url("../ui/abilities/dexterity.svg");
      }
      .wisdom {
        --ability-icon: url("../ui/abilities/wisdom.svg");
      }
      .presence {
        --ability-icon: url("../ui/abilities/presence.svg");
      }
      .intellect {
        --ability-icon: url("../ui/abilities/intellect.svg");
      }

      // Control Buttons
      a.button {
        position: absolute;
        height: 20px;
        width: 20px;
        top: -10px;
        opacity: 1.0;
        &.decrease { left: -10px; }
        &.increase { right: -10px; }
      }

      // Ability Point Pool
      .point-pools {
        position: absolute;
        padding: 0 0 0 0.5rem;
        bottom: -0.5rem;
        z-index: 1;
        font-size: var(--font-size-12);
        justify-content: center;
        background: var(--color-frame-bg);
        gap: 0.5rem;
        .label {
          flex: none;
          color: var(--color-secondary);
        }
        .value {
          flex: none;
          width: 24px;
          height: 24px;
          margin: -2px -12px -2px 0;
        }
      }
    }

    /** Defenses */
    .defenses {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .defense {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        .label {
          position: absolute;
          top: 0;
        }
        .value {
          font-size: var(--font-size-24);
          font-family: var(--font-h1);
        }
        .pct {
          position: absolute;
          bottom: 0;
        }
      }

      .physical {
        width: 100%;
        justify-content: space-between;
        > * {
          flex: none;
        }
        .total {
          width: 60px;
          height: 100px;
          background: url("../ui/elements/hex-willpower.svg") no-repeat center;
          background-size: 60px;
        }
        .sep {
          color: var(--color-h1);
          font-size: var(--font-size-20);
        }
        .component {
          width: 40px;
          height: 80px;
          background: url("../ui/elements/hex-plain.svg") no-repeat center;
          background-size: 40px;
          .value {
            font-size: var(--font-size-18);
          }
          .pct {
            font-size: var(--font-size-10);
            font-family: var(--font-sans);
          }
          &.inactive {
            opacity: 0.5;
          }
        }
      }

      .magical {
        width: 100%;
        justify-content: space-between;
        > * {
          flex: none;
        }

        // Fortitude, Reflex, and Willpower
        .defense {
          width: 60px;
          height: 80px;
          padding: 16px 0 0;
          background: var(--defense-icon) no-repeat bottom center;
          background-size: auto 64px;
          &.fortitude {
            --defense-icon: url("../ui/elements/hex-fortitude.svg");
          }
          &.willpower {
            --defense-icon: url("../ui/elements/hex-willpower.svg");
          }
          &.reflex {
            --defense-icon: url("../ui/elements/hex-reflex.svg");
          }
        }

        // Stride and Engagement
        .extra {
          --defense-icon: url("../ui/elements/hex-plain.svg");
          width: 32px;
          height: 64px;
          align-self: flex-end;
          padding: 16px 0;
          background-size: auto 32px;
          background-position: center;
          .value {
            font-size: var(--font-size-12);
          }
          .label {
            bottom: 0;
            top: unset;
          }
        }
      }
    }

    /** Resistances */
    .resistances {
      grid-column: 1 / span 2;
      justify-content: center;
      gap: 1rem;
      .resistance-group {
        align-items: center;
        gap: 0.25rem;
      }
      .resistance {
        width: 100%;
        align-items: center;
        .resistance-bar {
          width: 100%;
          height: 12px;
          margin: 6px 0;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid var(--color-frame);
          border-right: 1px solid var(--color-frame);
          &::before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            top: 6px;
            border-top: 1px solid var(--color-frame);
          }
          .value {
            flex: 0 0 24px;
            height: 24px;
            background: url("../ui/elements/hex-plain-filled.svg") no-repeat center;
            background-size: auto 24px;
            line-height: 24px;
            text-align: center;
            font-size: var(--font-size-12);
            z-index: 1;
          }
          .bar {
            position: absolute;
            height: 8px;
            max-width: 50%;
            border: 1px solid;
            border-radius: 2px;
            z-index: 0;
          }
        }
        &.none {
          opacity: 0.5;
          .bar {
            display: none;
          }
        }
        &.res {
          .value {
            background: url("../ui/elements/hex-resistance.svg") no-repeat center;
            background-size: auto 24px;
          }
          .bar {
            left: 50%;
            background: var(--color-damage-resistance);
            border: 1px solid var(--color-damage-resistance-border);
            border-left: none;
          }

        }
        &.vuln {
          .value {
            background: url("../ui/elements/hex-vulnerability.svg") no-repeat center;
            background-size: auto 24px;
          }
          .bar {
            right: 50%;
            background: var(--color-damage-vulnerability);
            border: 1px solid var(--color-damage-vulnerability-border);
            border-right: none;
          }
        }
      }
    }
  }

  /* ----------------------------------------- */
  /*  Biography Tab                            */
  /* ----------------------------------------- */

  .tab.biography {
    flex: 1;
    padding: 1rem 0 0;

    .sheet-section {
      flex: 2;
      padding: 0.5rem;
      &.appearance {
        align-items: flex-start;
        flex: 1;
        fieldset {
          flex: 0 0 150px;
          padding: 0.5rem 1rem;
          font-size: var(--font-size-12);
        }
        > div {
          padding: 0 1rem;
        }
      }
    }

    prose-mirror {
      flex: 1;
      width: 100%;
      &.active {
        margin-top: 0.5rem;
      }
      button.toggle {
        position: absolute;
        top: -12px;
        right: -12px;
      }
      .editor-content {
        overflow: hidden auto;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Inventory, Talents, Skills               */
  /* ----------------------------------------- */

  .tab.secondary {
    .header-section {
      justify-content: space-between;
      a.button {
        flex: none;
      }
      a.framed {
        font-size: var(--font-size-12);
      }
    }
    .point-pools {
      justify-content: flex-end;
      font-size: var(--font-size-12);
      gap: 0.5rem;
      z-index: 1;
      padding: 1px 0.5rem;
      box-sizing: content-box;
      background: var(--color-frame-bg);
      border-radius: 3px;
      .label {
        flex: none;
        color: var(--color-secondary);
      }
      .value {
        flex: 0 0 24px;
        height: 24px;
        background: url("../ui/elements/hex-plain.svg") no-repeat center;
        background-size: auto 24px;
        line-height: 24px;
        text-align: center;
      }
    }

    .item-section {
      padding: 1rem;
      .notes {
        color: var(--color-tertiary);
      }
    }
    ol.items-list {
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      li {
        margin: 0;
      }
    }
  }

  .tab.inventory {
    .inventory-create {
      position: absolute;
      width: 32px;
      bottom: 0;
      right: 0;
    }
  }

  .tab.talents {
    .header-section {
      margin-bottom: -1rem;
    }
    .point-pools {
      flex: none;
      width: 200px;
    }
  }

  /* ----------------------------------------- */
  /*  Skills Tab                               */
  /* ----------------------------------------- */

  .tab.skills {

    // Special case display for available and spent
    .point-pools {
      width: 160px;
      position: absolute;
      right: 1rem;
      top: 0.75rem;
    }

    // Score and passive bonus
    .bonus {
      flex: 0 0 70px;
      justify-content: center;
      span.value {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        flex: 0 0 40px;
      }
      span.passive {
        flex: 0 0 20px;
        text-align: center;
        font-size: var(--font-size-10);
        font-family: var(--font-sans);
        color: var(--color-secondary);
      }
    }

    // Skill ranks
    .ranks {
      flex: 0 0 170px;
      justify-content: center;
      gap: 4px;
    }
    .pips {
      flex: 0 0 80px;
      justify-content: space-between;
      gap: 4px 0;
      .pip {
        flex: 0 0 14px;
        height: 14px;
        border: 1px solid var(--color-frame);
        border-radius: 7px;
      }
      .trained::before {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        margin: 2px;
        background: var(--skill-color);
        border-radius: 4px;
      }
    }
    .cost {
      flex: none;
      text-align: center;
      font-size: var(--font-size-10);
      font-family: var(--font-sans);
      color: var(--color-secondary);
    }
  }
}

/* ----------------------------------------- */
/*  Character Creation Tooltip               */
/* ----------------------------------------- */

#tooltip.creation-steps {
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: var(--font-size-13);
  font-family: var(--font-serif);
}
