
/* ----------------------------------------- */
/*  Application V2 Styles                    */
/* ----------------------------------------- */

.crucible.application {
  --color-header-background: transparent;
  --color-form-label: var(--color-h1);
  --color-form-label-hover: var(--color-primary);
  --color-form-hint: var(--color-tertiary);
  --color-form-hint-hover: var(--color-secondary);
  background: var(--color-cool-5);
  gap: 0;

  .window-header {
    border-bottom: none;
    .window-title {
      font-family: var(--font-h1);
      color: var(--color-secondary);
    }
    .header-control {
      color: var(--color-secondary);
    }
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border: none;
    object-fit: cover;
    object-position: top right;
  }

  .window-content {
    padding: 0;
  }
}

/* ----------------------------------------- */
/*  DocumentSheet V2 Styles                  */
/* ----------------------------------------- */

.crucible.sheet {

  // Sheet Header
  .sheet-header {
    --sheet-header-height: 50px;
    gap: 0.5rem;
    padding: 1rem;

    // Profile Image
    img.profile {
      flex: 0 0 var(--sheet-header-height);
      width: var(--sheet-header-height);
      height: var(--sheet-header-height);
      margin: 0;
      border: 1px solid var(--color-cool-5);
      border-radius: 4px;
      object-fit: contain;
    }

    // Document Name
    .title {
      height: var(--sheet-header-height);
      border: none;
      input {
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0.5rem;
        font-size: var(--font-size-24);
        background: var(--color-cool-5-75);
        border-color: var(--color-cool-4);
        border-radius: 4px;
      }
    }

    // Document Tags
    .header-tags {
      flex: 0 0 100%;
    }
  }

  // Sheet Tabs
  nav.sheet-tabs {
    margin: 0;
    border-color: var(--color-cool-4);
    font-family: var(--font-h1);
    color: var(--color-secondary);
    > a {
      cursor: pointer; // FIXME should this be core?
    }
  }

  // Sheet Body
  .sheet-body {
    padding: 1rem;
    gap: 1rem;
  }

  // Form Elements
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-frame);
    border-radius: 6px;
    legend {
      font-family: var(--font-h1);
      color: var(--color-h1);
      font-weight: normal;
    }
  }

  .form-group {
    margin: 0;
    &.slim {
      .form-fields {
        > label {
          color: var(--color-secondary);
        }
        input {
          text-align: center;
        }
      }
    }
  }

  /** Line Items - Actions, Talents, etc... */
  .line-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.5rem;
    }
    img.icon {
      height: 48px;
      width: 48px;
      flex: 0 0 48px;
    }
    .title {
      margin: 0;
      font-size: var(--font-size-16);
      color: var(--color-text);
    }
    .description {
      font-size: var(--font-size-14);
    }
    .controls {
      flex: none;
      display: flex;
      gap: 0.5rem;
      font-size: var(--font-size-14);
      color: var(--color-secondary);
    }
    .header-tags {
      gap: 0.5rem;
    }
  }
}
