
/* ----------------------------------------- */
/*  Application V2 Styles                    */
/* ----------------------------------------- */

.crucible.application {
  --color-header-background: transparent;
  --color-form-label: var(--color-h1);
  --color-form-label-hover: var(--color-primary);
  --color-form-hint: var(--color-tertiary);
  --color-form-hint-hover: var(--color-secondary);
  --background-texture: url("../ui/journal/background-texture.webp");
  --background-overlay: url("../ui/journal/overlay-dark.webp");
  --margin-size: 1rem;
  --margin-half: 0.5rem;

  background: var(--background-texture) no-repeat;
  background-size: cover;
  gap: 0;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    pointer-events: none;
    background: var(--background-overlay) no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }

  .window-header {
    border-bottom: none;
    .window-title {
      font-family: var(--font-h1);
      font-size: var(--font-size-14);
      color: var(--color-primary);
    }
    .header-control {
      color: var(--color-secondary);
    }
  }

  .window-content {
    padding: 0;
  }

  // Buttons
  button,
  .button,
  .control {
    --button-text-color: var(--color-tertiary);
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-hover-background-color: var(--color-frame-bg-75);
    --button-hover-border-color: var(--color-frame);
    --button-hover-text-color: var(--color-primary);
    padding: 0.25rem 0.5rem;
    text-align: center;
    opacity: 0.5;
    &:disabled {
      opacity: 0.25;
      pointer-events: none;
    }
    &:hover {
      opacity: 1.0;
    }
    &.framed {
      --button-text-color: var(--color-secondary);
      --button-background-color: var(--color-frame-bg-75);
      --button-border-color: var(--color-frame);
    }
    &.invisible {
      visibility: hidden;
      pointer-events: none;
    }
  }

  .header-control button {
    --button-text-color: var(--color-secondary);
    opacity: 1.0;
  }

  // Text Editors
  prose-mirror {
    height: 100%;
    max-height: 600px;
    min-height: 200px;

    // Toggled editors
    &[toggled] {
      position: relative;
      padding: var(--margin-size);
      margin: calc(-1 * var(--margin-size)); // Allow for limited overflow
      button.toggle {
        position: absolute;
        top: 12px;
        right: 4px;
        width: 24px;
        height: 24px;
        padding: 0;
        &:disabled {
          visibility: hidden;
        }
      }
    }

    // Menu buttons
    button {
      padding: revert;
      text-align: revert;
      opacity: revert;
    }

    // Contents
    .editor-container {
      margin: 0;
    }
  }

  prose-mirror .editor-content,
  article.editor-content {
    overflow: hidden auto;
    font-size: var(--font-size-14);
  }
}

/* ----------------------------------------- */
/*  DocumentSheet V2 Styles                  */
/* ----------------------------------------- */

.crucible.sheet {
  --sheet-header-height: 80px;
  --sheet-header-gap: 0.5rem 0.5rem;
  --sheet-body-gap: 0.5rem 1rem;

  // Sheet Header
  .sheet-header {
    gap: var(--sheet-header-gap);
    padding: 0 var(--margin-size);
    margin-bottom: var(--margin-half);
    img.profile {
      flex: 0 0 var(--sheet-header-height);
      width: var(--sheet-header-height);
      height: var(--sheet-header-height);
      margin: 0;
      border: 1px solid var(--color-cool-5);
      border-radius: 4px;
      object-fit: contain;
    }
    .name {
      height: var(--sheet-header-height);
      gap: var(--sheet-header-gap);
      justify-content: center;
    }
    .title {
      border: none;
      margin: 0;
      input {
        display: block;
        height: 60px;
        width: 100%;
        margin: 0;
        padding: 0 0.5rem;
        background: var(--color-cool-5-50);
        border: none;
        font-size: var(--font-size-24);
      }
    }
    .header-tags:empty {
      display: none;
    }
  }

  // Sheet Tabs
  nav.sheet-tabs {
    border-color: var(--color-cool-4);
    font-family: var(--font-h1);
    color: var(--color-secondary);
  }

  // Sheet Body
  .sheet-body {
    padding: var(--sheet-body-gap);
    gap: var(--sheet-body-gap);
  }

  // Form Elements
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--color-frame);
    border-radius: 6px;
    legend {
      display: flex;
      align-items: center;
      font-family: var(--font-h1);
      color: var(--color-h1);
      font-weight: normal;
    }
  }

  .form-group {
    width: 100%;
    margin: 0;
    &.slim {
      .form-fields {
        > label {
          color: var(--color-secondary);
        }
        input {
          text-align: center;
        }
      }
    }
  }
}


/* ----------------------------------------- */
/*  Line Items: Actions, Talents, etc...     */
/* ----------------------------------------- */

.crucible .line-item {
  --icon-size: 32px;
  --title-font-size: var(--font-size-14);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  img.icon {
    height: var(--icon-size);
    width: var(--icon-size);
    flex: none;
    object-fit: contain;
  }
  .title {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    h1, h2, h3, h4 {
      flex: none;
      margin: 0;
      font-size: var(--title-font-size);
      color: var(--color-text);
      overflow: hidden;
      white-space: nowrap;
    }
    .tags {
      width: 100%;
      flex: none;
      justify-content: flex-start;
      margin: 0;
    }
  }

  /** Optional Full-Width Header */
  header {
    display: flex;
    flex: none;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  /** Description */
  .description {
    flex: none;
    width: 100%;
    height: auto;
    font-size: var(--font-size-12);
    color: var(--color-primary);
    > p:first-child {
      margin-top: 0;
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }

  /** Controls */
  .controls {
    flex: none;
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
  .button.icon {
    width: 24px;
    height: 24px;
    font-size: var(--font-size-12);
    padding: 0.25rem;
  }

  /** Applied Effects */
  .effects {
    width: 100%;
    margin: 0;
    padding: 0;
    .effect {
      --icon-size: 24px;
    }
  }

  &.hook {
    textarea {
      font-family: monospace;
      font-size: 12px;
    }
  }
}
