.crucible-fullscreen {
  --max-width: 1600px;
  --ui-scale: 1.0;
  --gap: 32px; // 2rem

  position: fixed;
  width: calc((100vw / var(--ui-scale)) + 1px); // FIXME +1px because round(up) isn't compiling in LESS
  height: calc((100vh / var(--ui-scale)) + 1px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../ui/tree/creation-background.webp") no-repeat center;
  background-size: cover;
  color: var(--color-light-2);
  z-index: var(--z-index-app);
  transform-origin: top left;
  transform: scale(var(--ui-scale));

  // Background Gradient
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, transparent 75%, rgb(178 50 53 / 15%) 100%);
    z-index: -1000;
  }

  // Background Cosmos Design
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    //background: url("../ui/elements/cosmos-design-weathered.webp") no-repeat center;
    //background-size: auto 100%;
    opacity: 0.06;
    z-index: -999;
  }

  // Fullscreen Buttons
  .fullscreen-buttons {
    position: absolute;
    top: var(--gap);
    right: 0;
    align-items: flex-end;
    font-size: var(--font-size-20);
    pointer-events: all;
    z-index: 1;
    gap: 20px;

    button {
      --button-text-color: var(--color-light-3);
      --button-focus-outline-color: transparent;
      --button-hover-background-color: transparent;
      --button-hover-border-color: transparent;
      flex: none;
      width: auto;
      display: flex;
      align-items: center;
      font-family: var(--font-serif);
      text-transform: uppercase;
      letter-spacing: 0.2em;
      > i {
        font-size: 200%;
        margin-right: 0.25rem;
      }
      &:hover {
        text-shadow: 0 0 4px var(--color-active);
        box-shadow: none;
      }
    }
  }

  /* -------------------------------------------- */
  /*  Header                                      */
  /* -------------------------------------------- */

  .fullscreen-header {
    flex: none;
    position: relative;
    width: 100%;
    padding-top: calc(var(--gap) * 2);
    gap: var(--gap);
    max-width: var(--max-width);
    align-items: center;
  }

  #hero-creation-nav {
    width: 60%;
    justify-content: space-between;
    li.step {
      --selection-color: #8a867c;
      flex: none;
      align-items: center;
      width: 120px;
      height: 160px;
      font-family: var(--font-serif);
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      pointer-events: all;
      cursor: var(--cursor-pointer);
      > * {
        pointer-events: none;
      }
      .step-title {
        color: var(--color-text-secondary);
        white-space: nowrap;
      }
      .step-number {
        font-size: 24px;
        color: var(--color-text-subtle);
        font-weight: bold;
      }
      .step-banner {
        position: relative;
        flex: 1;
        width: 104px;
        height: 100px;
        align-items: center;
        padding: 8px 0;
        gap: 8px;
        border-top: 4px ridge var(--color-light-5);
        &::after {
          content: "";
          display: block;
          width: 100px;
          height: 100%;
          position: absolute;
          top: 0;
          margin: 0 2px;
          background: linear-gradient(to bottom, var(--selection-color) 0%, transparent 100%);
          border-radius: 0 0 30px 30px;
          z-index: -1;
        }
        .step-icon {
          width: 60px;
          height: 60px;
        }
        .step-selection {
          font-size: 12px;
          line-height: 1em;
        }
      }

      // Incomplete Steps
      &.incomplete .step-icon {
        opacity: 0.1;
      }

      // Complete Steps

      // Active Step
      &.active .step-title {
        color: var(--color-text-emphatic);
        text-shadow: 0 0 6px var(--color-text-accent);
      }
    }
  }

  #hero-creation-name {
    flex: 0 0 60px;
    width: 600px;
    padding: 0;
    background: linear-gradient(to bottom, rgb(150 150 150 / 25%) 25%, transparent 100%);
    border: none;
    border-radius: 8px;
    color: var(--color-text-subtle);
    font-family: var(--font-serif);
    letter-spacing: 0.1em;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    &::placeholder {
      text-transform: uppercase;
    }
  }

  /* -------------------------------------------- */
  /*  Selection Tab                               */
  /* -------------------------------------------- */

  section.tab.active {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 0; // Flex hack
    gap: calc(2 * var(--gap));
    padding: var(--gap) 0;
    max-width: var(--max-width);
  }

  /* -------------------------------------------- */
  /*  Selection Menu                              */
  /* -------------------------------------------- */

  .step-navigation {
    flex: 0 0 440px;
    height: 100%;
    padding: 20px;
    overflow: hidden auto;
  }

  .selection-menu {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    .option {
      --option-color: #FFFFFF;
      position: relative;
      display: flex;
      justify-content: center;
      height: 48px;
      padding-left: 48px;
      background: var(--color-cool-5-50);
      border-radius: 12px;
      cursor: pointer;

      // Option Icon
      .option-icon {
        width: 64px;
        height: 64px;
        padding: 6px;
        position: absolute;
        left: -16px;
        top: -8px;
        background: linear-gradient(to bottom, var(--option-color) 0%, var(--color-cool-5) 100%);
        border: 2px ridge var(--color-light-4);
        border-radius: 100%;
      }
      h4 {
        margin: 0;
        padding: 8px;
        font-family: var(--font-serif);
        font-size: var(--font-size-14);
        text-transform: uppercase;
        justify-content: center;
        text-align: center;
        line-height: 1em;
      }

      // Diamond Pip
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: calc(50%  + 24px - 3px);
        width: 6px;
        height: 6px;
        background: var(--color-light-4);
        transform: rotate(45deg);
      }

      &.active {
        h4 {
          color: var(--color-text-emphatic);
        }
        .option-icon {
          border: 2px solid var(--color-warm-1);
          filter: drop-shadow(0 0 4px var(--color-warm-1));
        }
        &::after {
          background: var(--color-light-1);
          filter: drop-shadow(0 0 4px var(--color-warm-1));
        }
      }

      // No icon options
      &.noicon {
        padding: 0 0.5rem;
        &::after {
          left: calc(50%  - 3px);
        }
      }
    }
  }
}

// Dynamic scaling
// The fullscreen UI is designed for 1920x1080. Smaller or larger screens must adapt
@media (min-width: 2000px) {
  .crucible-fullscreen {
    --ui-scale: 1.1;
  }
}
@media (max-width: 1660px) {
  .crucible-fullscreen {
    --max-width: 1400px;
  }
}
@media (max-width: 1480px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
  }
}
@media (max-width: 1340px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
    --max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .crucible-fullscreen {
    --ui-scale: 0.8;
    --max-width: 1100px;
  }
}
@media (max-height: 1040px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
  }
}
@media (max-height: 900px) {
  .crucible-fullscreen {
    --ui-scale: 0.8;
  }
}
