.crucible-fullscreen {
  --max-width: 1600px;
  --ui-scale: 1.0;
  --gap-y: 32px; // 2rem

  position: fixed;
  width: calc((100vw / var(--ui-scale)) + 1px); // FIXME +1px because round(up) isn't compiling in LESS
  height: calc((100vh / var(--ui-scale)) + 1px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../ui/tree/creation-background.webp") no-repeat center;
  background-size: cover;
  color: var(--color-light-2);
  z-index: var(--z-index-app);
  transform-origin: top left;
  transform: scale(var(--ui-scale));

  // Background Gradient
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, transparent 75%, rgb(178 50 53 / 15%) 100%);
    z-index: -1000;
  }

  // Background Cosmos Design
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    //background: url("../ui/elements/cosmos-design-weathered.webp") no-repeat center;
    //background-size: auto 100%;
    opacity: 0.06;
    z-index: -999;
  }

  // Fullscreen Buttons
  .fullscreen-buttons {
    position: absolute;
    top: var(--gap-y);
    right: 0;
    align-items: flex-end;
    font-size: var(--font-size-20);
    pointer-events: all;
    z-index: 1;
    gap: 20px;

    button {
      --button-text-color: var(--color-light-3);
      --button-focus-outline-color: transparent;
      --button-hover-background-color: transparent;
      --button-hover-border-color: transparent;
      flex: none;
      width: auto;
      display: flex;
      align-items: center;
      font-family: var(--font-serif);
      text-transform: uppercase;
      letter-spacing: 0.2em;
      > i {
        font-size: 200%;
        margin-right: 0.25rem;
      }
      &:hover {
        text-shadow: 0 0 4px var(--color-active);
        box-shadow: none;
      }
    }
  }

  /* -------------------------------------------- */
  /*  Header                                      */
  /* -------------------------------------------- */

  .fullscreen-header {
    flex: none;
    position: relative;
    width: 100%;
    padding-top: calc(var(--gap-y) * 2);
    gap: var(--gap-y);
    max-width: var(--max-width);
    align-items: center;
  }

  #hero-creation-nav {
    width: 60%;
    justify-content: space-between;
    li.step {
      flex: none;
      align-items: center;
      width: 120px;
      height: 160px;
      font-family: var(--font-serif);
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: center;
      pointer-events: all;
      cursor: var(--cursor-pointer);
      .step-title {
        white-space: nowrap;
      }
      .step-number {
        font-size: 24px;
        color: var(--color-text-subtle);
        font-weight: bold;
      }
      .step-banner {
        position: relative;
        flex: 1;
        width: 104px;
        align-items: center;
        pointer-events: all;
        cursor: pointer;
        .step-icon {
          margin: 8px 0;
        }
        .step-selection {
          font-size: 12px;
          line-height: 1em;
        }
      }
    }
  }

  #hero-creation-name {
    flex: 0 0 60px;
    width: 600px;
    padding: 0;
    background: linear-gradient(to bottom, rgb(150 150 150 / 25%) 25%, transparent 100%);
    border: none;
    border-radius: 8px;
    color: var(--color-text-subtle);
    font-family: var(--font-serif);
    letter-spacing: 0.1em;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    &::placeholder {
      text-transform: uppercase;
    }
  }
}

// Dynamic scaling
// The fullscreen UI is designed for 1920x1080. Smaller or larger screens must adapt
@media (min-width: 2000px) {
  .crucible-fullscreen {
    --ui-scale: 1.1;
  }
}
@media (max-width: 1660px) {
  .crucible-fullscreen {
    --max-width: 1400px;
  }
}
@media (max-width: 1480px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
  }
}
@media (max-width: 1340px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
    --max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .crucible-fullscreen {
    --ui-scale: 0.8;
    --max-width: 1100px;
  }
}
@media (max-height: 1040px) {
  .crucible-fullscreen {
    --ui-scale: 0.9;
  }
}
@media (max-height: 900px) {
  .crucible-fullscreen {
    --ui-scale: 0.8;
  }
}
