/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */
@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/CaslonAntique/CaslonAntique.ttf");
}
@font-face {
  font-family: "Planewalker";
  src: url("../fonts/Planewalker/Planewalker.otf");
}
@font-face {
  font-family: "AwerySmallcaps";
  src: url("../fonts/AwerySmallcaps/AwerySmallcaps.ttf");
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/Constantia/Constantia.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/Constantia/ConstantiaBold.ttf");
  font-style: normal;
  font-weight: 700;
}
/* ----------------------------------------- */
/*  LESS Variables                           */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */
:root {
  --fontFamilySerif: "CaslonAntique", "Palatino Linotype", serif;
  --fontFamilySans: "Signika", sans-serif;
}
.crucible-new {
  --color-background: #0b0909;
  --color-text: #eee8df;
  --color-secondary: #d7c4a9;
  --color-tertiary: #b6967c;
  --color-header: #cac5ba;
  --color-sidebar: #cfc7bb;
  --color-h1: #cfbea2;
  --color-frame: #3f3128;
  --color-table-row: #1c1a1a;
  --color-accent: #cf9356;
  --color-link-text: #f36739;
  --color-border-highlight: var(--color-accent);
  --font-h1: "AwerySmallcaps", serif;
  --font-body: "Constantia", serif;
  --font-quote: "CaslonAntique", serif;
  --font-sans: "Signika", sans-serif;
  --font-size-15: 0.9375rem;
  --color-checkbox-checked: #cf9356;
  --color-bg-option: #3f3128;
}
.crucible {
  --fontSizeTitle: 20px;
  --fontSizeHeader: 16px;
  --fontSizeMain: 14px;
  --fontSizeSmall: 12px;
  --colorDark: #191813;
  --colorBeige: #b5b3a4;
  --colorFaint: #c9c7b8;
  --colorTan: #7a7971;
  --colorOlive: #33332e;
  --colorError: #cb2f30;
  --colorSuccess: #4e832b;
  --colorActionBG: #e7cc9d;
  --colorAction: #FF9900;
  --colorFocusBG: #b2c3ef;
  --colorFocus: #0066FF;
  --colorHealthBG: #fc6060;
  --colorHealth: #EE0000;
}
/** ----------------------------------------- *
 *  Crucible V2 Styles                        *
 * ------------------------------------------ */
.crucible-new {
  font-family: var(--font-body);
  color: var(--color-text);
  font-size: 0.9375rem;
  letter-spacing: 0.5px;
}
.crucible-new h1,
.crucible-new h2,
.crucible-new h3,
.crucible-new h4 {
  font-family: var(--font-h1);
  color: var(--color-h1);
  border: none;
}
.crucible-new h1.divider,
.crucible-new h2.divider,
.crucible-new h3.divider,
.crucible-new h4.divider {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.crucible-new h1.divider::before,
.crucible-new h2.divider::before,
.crucible-new h3.divider::before,
.crucible-new h4.divider::before {
  flex: 1;
  content: "";
  margin-right: 0.5rem;
  border-top: 2px ridge var(--color-h1);
  -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 100%);
  mask-image: linear-gradient(90deg, transparent 0%, black 100%);
}
.crucible-new h1.divider::after,
.crucible-new h2.divider::after,
.crucible-new h3.divider::after,
.crucible-new h4.divider::after {
  flex: 1;
  content: "";
  margin-left: 0.5rem;
  border-top: 2px ridge var(--color-h1);
  -webkit-mask-image: linear-gradient(270deg, transparent 0%, black 100%);
  mask-image: linear-gradient(270deg, transparent 0%, black 100%);
}
.crucible-new strong {
  color: var(--color-h1);
}
.crucible-new a.content-link,
.crucible-new a.inline-roll {
  background: none;
  border: none;
  color: var(--color-link-text);
}
.crucible-new a.content-link i,
.crucible-new a.inline-roll i {
  color: var(--color-link-text);
}
.crucible-new table {
  margin: 1rem 0;
  border: none;
  color: var(--color-secondary);
}
.crucible-new table td,
.crucible-new table th {
  text-align: left;
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-14);
}
.crucible-new table thead {
  background: var(--color-table-row);
  border: none;
}
.crucible-new table th {
  line-height: 1.5rem;
  color: var(--color-text);
  font-family: var(--font-h1);
  font-weight: normal;
  text-align: left;
  text-shadow: none;
}
.crucible-new table tr:nth-child(even) {
  background-color: var(--color-table-row);
}
.crucible-new blockquote {
  margin: 1rem 0;
  border-left: 4px solid var(--color-secondary);
  font-family: var(--font-quote);
  font-size: var(--font-size-18);
  color: var(--color-secondary);
  letter-spacing: 0;
}
.crucible-new .frame-brown {
  background: var(--color-frame);
  border-image: url('../ui/journal/button-border.png');
  border-image-slice: 16;
  border-image-outset: 2;
  border-image-width: 8px;
  color: var(--color-h1);
}
.crucible-new ::-webkit-scrollbar-thumb {
  background: var(--color-frame);
}
.crucible-new code {
  color: #d3caf6;
  border: 1px solid #321e7f;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  font-size: var(--font-size-14);
}
.crucible-new .tags {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-secondary);
}
.crucible-new .tags label {
  flex: 1;
  font-size: var(--font-size-14);
}
.crucible-new .tags .tag {
  padding: 0 3px;
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  font-family: var(--font-sans);
  font-size: var(--font-size-12);
  white-space: nowrap;
}
.crucible-new .tags .tag.unmet {
  border-color: darkred;
  color: red;
}
.crucible-new .tags:empty {
  display: none;
}
.crucible-new section.construction {
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem 1rem 0.5rem 80px;
  border: 1px solid #af6417;
  border-radius: 8px;
  color: var(--color-accent);
}
.crucible-new section.construction::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-family: var(--font-awesome);
  content: "\f7d9";
  font-size: 48px;
  text-align: center;
  line-height: 80px;
  width: 80px;
}
.crucible-new section.foundryvtt {
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem 1rem 0.5rem 120px;
  border: 1px solid #d74e14;
  border-radius: 8px;
}
.crucible-new section.foundryvtt::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 120px;
  height: 100%;
  background: url("/icons/vtt-512.png") no-repeat;
  background-size: 100px;
  background-position: center;
}
.crucible-new section.gameplay {
  position: relative;
  padding: 1rem 1.5rem;
  margin: 1rem 6px;
  background: #21120e;
}
.crucible-new section.gameplay::before,
.crucible-new section.gameplay::after {
  display: block;
  width: calc(100% + 12px);
  height: 12px;
  position: absolute;
  left: -6px;
  content: "";
  background: url("../ui/journal/divider-border.png") no-repeat center;
  background-size: cover;
}
.crucible-new section.gameplay::before {
  top: -6px;
}
.crucible-new section.gameplay::after {
  bottom: -6px;
}
.crucible-new section.gameplay h4 {
  margin-top: 0.5rem;
}
.crucible-new section.gameplay p {
  font-family: var(--font-quote);
  font-size: var(--font-size-18);
  font-style: italic;
  color: var(--color-tertiary);
  line-height: 1.25rem;
  letter-spacing: 0;
}
.crucible-new section.gameplay strong {
  font-family: var(--font-body);
  font-size: var(--font-size-14);
  font-style: normal;
}
.crucible-new section.formula {
  margin: 1rem 0;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  background: url("../ui/journal/math-full.png") no-repeat center left;
  background-size: 100% 100%;
  color: #30030b;
  font-weight: bold;
  line-height: 1.25rem;
  display: flex;
  gap: 0.25rem;
}
.crucible-new section.formula .value,
.crucible-new section.formula .equals {
  flex: none;
}
.crucible-new section.formula .equation {
  flex: 1;
  word-break: break-word;
}
.crucible-new .flexrow {
  align-items: center;
}
.crucible-new .flexcol > * {
  flex: unset;
}
.crucible-new textarea {
  padding: 0.5rem;
  background: var(--color-table-row);
  border: 1px solid var(--color-frame);
  border-radius: 8px;
  font-family: var(--font-body);
  font-size: var(--font-size-15);
  color: var(--color-text);
}
.crucible-new select {
  background: var(--color-frame);
  color: var(--color-text);
  border: none;
}
.crucible-new select::selection {
  background: var(--color-frame);
}
.crucible-new input[type="text"],
.crucible-new input[type="number"],
.crucible-new input[type="password"],
.crucible-new input[type="date"],
.crucible-new input[type="time"],
.crucible-new input[type="search"] {
  color: var(--color-text);
  border-color: var(--color-frame);
}
.crucible-new form .hint {
  margin: 0.5rem 0;
  color: var(--color-tertiary);
}
.crucible-new a.button {
  flex: none;
}
.crucible-new button.icon,
.crucible-new a.button.icon {
  flex: none;
}
.crucible-new button.icon > i,
.crucible-new a.button.icon > i {
  margin: 0;
}
/* ----------------------------------------- */
/*  Early Adoption of V2 Theme Rules         */
/* ----------------------------------------- */
.crucible-new {
  /** Labeled Checkboxes */
}
.crucible-new input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.crucible-new input[type="checkbox"]:disabled {
  cursor: initial;
}
.crucible-new input[type="checkbox"]:focus {
  color: inherit;
  outline: none;
}
.crucible-new input[type="checkbox"]:focus-visible::before {
  outline: 2px solid var(--color-accent);
}
.crucible-new input[type="checkbox"]:checked:focus-visible::before {
  outline: 2px solid var(--color-accent);
}
.crucible-new input[type="checkbox"]::before {
  font-family: var(--font-awesome);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-frame);
  content: "\f0c8";
  border-radius: 3px;
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  outline: 1px solid transparent;
  transition: outline-color 0.5s;
}
.crucible-new input[type="checkbox"]:checked::before {
  color: var(--color-accent);
  font-weight: bold;
  content: "\f14a";
}
.crucible-new input[type="checkbox"]:disabled::before {
  color: var(--color-frame);
}
.crucible-new label.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-12);
}
.crucible-new label.checkbox > input[type="checkbox"] {
  position: unset;
  height: 100%;
}
.crucible-new figure.placeholder {
  position: relative;
}
.crucible-new figure.placeholder::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "PLACEHOLDER";
  color: white;
  text-shadow: 1px 1px #000;
  font-size: 24px;
}
/* ----------------------------------------- */
/*  Apps and Sheets                          */
/* ----------------------------------------- */
.crucible-new.window-app {
  overflow: hidden;
  background: url("../ui/journal/background.png");
  border-radius: 12px;
  /** Line Items - Actions, Talents, etc... */
}
.crucible-new.window-app .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  object-fit: cover;
  object-position: top right;
}
.crucible-new.window-app .window-header {
  border-bottom: none;
  color: var(--color-header);
}
.crucible-new.window-app .window-header .window-title {
  height: 100%;
}
.crucible-new.window-app .window-content {
  padding: 0.5rem 1rem 1rem;
  background: none;
  color: var(--color-text);
}
.crucible-new.window-app .window-content > form {
  height: 100%;
}
.crucible-new.window-app .sheet-header {
  --headerHeight: 80px;
  --titleHeight: 40px;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.crucible-new.window-app .sheet-header img.profile {
  margin: 0;
  border-radius: 8px;
}
.crucible-new.window-app .sheet-header h1 input {
  margin: 0;
  border: none;
  color: var(--color-text);
}
.crucible-new.window-app .sheet-header .header-tags {
  flex: 0 0 100%;
  justify-content: flex-end;
}
.crucible-new.window-app .sheet-header .header-tags label {
  font-weight: bold;
}
.crucible-new.window-app nav.sheet-tabs {
  margin: 1rem 0;
  border-color: var(--color-table-row);
  font-family: var(--font-h1);
  color: var(--color-h1);
}
.crucible-new.window-app .sheet-body.flexcol {
  gap: 1rem;
}
.crucible-new.window-app .sheet-body.flexcol .form-group {
  margin: 0;
}
.crucible-new.window-app .sheet-body.flexcol .form-group.stacked {
  gap: 0.5rem;
}
.crucible-new.window-app .line-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.crucible-new.window-app .line-item > header {
  gap: 0.5rem;
}
.crucible-new.window-app .line-item .icon {
  height: 48px;
  flex: 0 0 48px;
}
.crucible-new.window-app .line-item .title {
  margin: 0;
}
.crucible-new.window-app .line-item .description {
  font-size: var(--font-size-14);
}
.crucible {
  /* Line Items */
}
.crucible .window-content {
  background: url("../ui/parchment.jpg") repeat;
  font-size: 13px;
  color: #191813;
}
.crucible h1 {
  font-family: var(--fontFamilySerif);
  font-size: 32px;
}
.crucible h2 {
  font-family: var(--fontFamilySerif);
  font-size: 24px;
}
.crucible h3 {
  font-family: var(--fontFamilySerif);
  font-size: 18px;
  border: none;
}
.crucible h4 {
  font-family: var(--fontFamilySerif);
  font-size: 16px;
}
.crucible p {
  margin: 0.25em 0;
}
.crucible .flexrow {
  align-items: center;
}
.crucible .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  font-size: var(--font-size-10);
}
.crucible .tags label {
  font-size: var(--font-size-12);
  flex: 1;
}
.crucible .tags .tag {
  flex: none;
}
.crucible span.tag {
  display: inline-block;
  padding: 0 3px;
  font-family: var(--fontFamilySans);
  font-size: var(--font-size-11);
  line-height: var(--font-size-16);
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #b5b3a4;
  border-radius: 4px;
}
.crucible .tags.action,
.crucible .tags.context {
  flex: 0 0 100%;
}
.crucible .tag.unmet {
  border-color: var(--colorError);
  color: var(--colorError);
}
.crucible input,
.crucible select,
.crucible span.input {
  border: 1px solid #b5b3a4;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.crucible input,
.crucible span.input {
  text-align: center;
}
.crucible input[disabled],
.crucible input[readonly] {
  border: none;
  pointer-events: none;
}
.crucible .line-item {
  display: flex;
  align-items: center;
  padding: 2px 0;
  gap: 4px;
}
.crucible .line-item .name {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
}
.crucible .line-item .name h3,
.crucible .line-item .name h4 {
  line-height: 1rem;
  margin: 0;
}
.crucible .line-item .icon {
  flex: 0 0 24px;
  height: 24px;
  border-radius: 4px;
}
/* Tooltips */
#crucible-tooltip,
.crucible .tooltip {
  display: none;
  width: max-content;
  max-width: 320px;
  line-height: 16px;
  position: absolute;
  top: 120%;
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.95);
  font-family: "Signika", serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  text-shadow: none;
  color: #c9c7b8;
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
  z-index: 999;
}
#crucible-tooltip.left,
.crucible .tooltip.left {
  left: 0;
}
#crucible-tooltip.right,
.crucible .tooltip.right {
  right: 0;
}
#crucible-tooltip.center,
.crucible .tooltip.center {
  left: calc(100% - 180px);
}
#crucible-tooltip {
  position: absolute;
}
#crucible-tooltip.active {
  display: block;
}
.crucible .tooltipped {
  position: relative;
}
.crucible .tooltipped:hover > .tooltip {
  display: block;
}
h1.divider,
h2.divider,
h3.divider,
h4.divider {
  display: flex;
  text-align: center;
  border: none;
}
h1.divider label,
h2.divider label,
h3.divider label,
h4.divider label {
  padding: 0 8px;
  white-space: nowrap;
}
h1.divider span,
h2.divider span,
h3.divider span,
h4.divider span {
  flex: 1;
  position: relative;
  top: 12px;
  pointer-events: none;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
h1.divider span:nth-of-type(1),
h2.divider span:nth-of-type(1),
h3.divider span:nth-of-type(1),
h4.divider span:nth-of-type(1) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#33332e));
  background-image: -webkit-linear-gradient(180deg, transparent, #33332e);
  background-image: -moz-linear-gradient(180deg, transparent, #33332e);
  background-image: -o-linear-gradient(180deg, transparent, #33332e);
  background-image: linear-gradient(90deg, transparent, #33332e);
}
h1.divider span:nth-of-type(2),
h2.divider span:nth-of-type(2),
h3.divider span:nth-of-type(2),
h4.divider span:nth-of-type(2) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33332e), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #33332e, transparent);
  background-image: -moz-linear-gradient(180deg, #33332e, transparent);
  background-image: -o-linear-gradient(180deg, #33332e, transparent);
  background-image: linear-gradient(90deg, #33332e, transparent);
}
h1.divider span {
  top: 18px;
}
h2.divider span {
  top: 16px;
}
.crucible.sheet {
  --headerHeight: 50px;
  --profileSize: 50px;
  /** Sheet Header */
  /** Sheet Profile Image */
  /* Highlight Boxes */
  /* Control Buttons */
  /** Incompletion Warnings */
}
.crucible.sheet h1,
.crucible.sheet h2,
.crucible.sheet h3,
.crucible.sheet h4 {
  margin: 0;
}
.crucible.sheet .sheet-header {
  flex: 0 0 var(--headerHeight);
  gap: 4px;
  border-bottom: 1px solid #b5b3a4;
}
.crucible.sheet .sheet-header .title {
  flex: 3;
  height: var(--titleHeight);
  border: none;
}
.crucible.sheet .sheet-header .title input {
  height: 100%;
  width: 100%;
  text-align: left;
  margin: 0;
}
.crucible.sheet .sheet-header .header-tags {
  flex: 0 0 100%;
}
.crucible.sheet .sheet-header .header-tags label {
  font-weight: bold;
  margin-right: 5px;
}
.crucible.sheet nav.sheet-tabs {
  flex: none;
}
.crucible.sheet img.profile {
  flex: 0 0 var(--profileSize);
  width: var(--profileSize);
  height: var(--profileSize);
  margin: 0 5px 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  object-fit: contain;
}
.crucible.sheet .highlight {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #c9c7b8;
  border-radius: 3px;
}
.crucible.sheet .window-content a.button,
.crucible.sheet .window-content a.control {
  display: inline-block;
  min-width: 20px;
  margin: 0;
  padding: 0;
  color: #7a7971;
  text-align: center;
}
.crucible.sheet .window-content a.button.active,
.crucible.sheet .window-content a.control.active {
  color: #191813;
}
.crucible.sheet .window-content a.button.inactive,
.crucible.sheet .window-content a.control.inactive {
  pointer-events: none;
  opacity: 0.5;
}
.crucible.sheet .window-content a.button {
  border: 1px solid transparent;
  border-radius: 3px;
}
.crucible.sheet .window-content a.button:hover {
  border: 1px solid #7a7971;
  box-shadow: 0 0 4px #FFF;
  text-shadow: none;
  color: #191813;
}
.crucible.sheet .incomplete {
  margin-left: 2px;
  font-size: var(--fontSizeMain);
  color: var(--color-text-hyperlink);
  text-shadow: 0 0 4px #FFF;
}
/* ----------------------------------------- */
/*  Actor Sheet                              */
/* ----------------------------------------- */
.crucible.sheet.actor {
  --sidebarWidth: 200px;
  --profileSize: 200px;
  --marginSize: 8px;
  --marginHalfSize: calc(var(--marginSize) / 2);
  --titleHeight: 40px;
  --navHeight: 30px;
  --skillHeight: 24px;
  line-height: 150%;
  /* ----------------------------------------- */
  /*  Sheet Structure                          */
  /* ----------------------------------------- */
  /** Sheet Layout and Structure */
  /** Section Headers */
  /** Labels and Inputs */
  /* ----------------------------------------- */
  /*  Sheet Sidebar                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /** Sheet Title */
  /** Sheet Subtitle */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Resource Tracker                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  --abilityHeight: 32px;
  /* Point Pools */
  /* ----------------------------------------- */
  /*  Defenses                                 */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Damage Resistances                       */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Uncategorized Below                      */
  /* ----------------------------------------- */
  /* Badge Icons */
}
.crucible.sheet.actor .sheet-sidebar {
  flex: 0 0 var(--sidebarWidth);
  height: 100%;
  margin-right: var(--marginSize);
}
.crucible.sheet.actor .sheet-body {
  flex: 1;
  height: 100%;
}
.crucible.sheet.actor h2.section-header {
  position: relative;
  font-size: var(--fontSizeTitle);
  font-weight: bold;
  margin: 0;
}
.crucible.sheet.actor h2.section-header > span {
  top: 12px;
}
.crucible.sheet.actor h3.category-header {
  line-height: 80%;
  text-align: center;
  color: var(--colorOlive);
}
.crucible.sheet.actor h3.category-header > span {
  top: var(--marginSize);
}
.crucible.sheet.actor .flexrow > .section-header {
  flex: 0 0 100%;
  height: 24px;
}
.crucible.sheet.actor .flexcol > .section-header {
  flex: 0;
  width: 100%;
}
.crucible.sheet.actor label {
  font-family: var(--fontFamilySerif);
  color: var(--colorOlive);
}
.crucible.sheet.actor input[type="text"] {
  border: 1px solid var(--colorBeige);
}
.crucible.sheet.actor input[type="number"] {
  border: 1px solid var(--colorBeige);
  text-align: center;
}
.crucible.sheet.actor a.section-lock {
  position: absolute;
  right: 0;
  font-size: var(--fontSizeSmall);
}
.crucible.sheet.actor span.slash {
  flex: 0 0 20px;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, #4b4a44, transparent);
  transform: rotate(280deg);
  position: relative;
}
.crucible.sheet.actor .math {
  flex: none;
  font-size: var(--fontSizeTitle);
  line-height: inherit;
  text-align: center;
}
.crucible.sheet.actor .score {
  flex: 0 0 var(--abilityHeight);
  width: var(--abilityHeight);
  font-size: var(--fontSizeTitle);
  line-height: 150%;
  font-weight: bold;
  text-align: center;
}
.crucible.sheet.actor .overview {
  margin-top: var(--marginSize);
  padding-right: var(--marginSize);
  border-right: 1px solid var(--colorBeige);
  gap: 4px;
  /** Overview Containers */
}
.crucible.sheet.actor .overview .equipment,
.crucible.sheet.actor .overview .actions,
.crucible.sheet.actor .overview .effects {
  flex: none;
  align-items: center;
}
.crucible.sheet.actor .overview .tag.ap {
  background: var(--colorActionBG);
  border-color: var(--colorAction);
}
.crucible.sheet.actor .overview .tag.fp {
  background: var(--colorFocusBG);
  border-color: var(--colorFocus);
}
.crucible.sheet.actor .overview .tag.hp {
  background: var(--colorHealthBG);
  border-color: var(--colorHealth);
}
.crucible.sheet.actor .sheet-header {
  flex-direction: column;
  gap: 0;
}
.crucible.sheet.actor .sheet-header .title {
  width: 100%;
  gap: 0.5rem;
  margin: 0;
  border-bottom: 1px solid var(--colorBeige);
  font-family: var(--fontFamilySerif);
}
.crucible.sheet.actor .sheet-header .title .charname {
  margin: 0;
  border: none;
  height: var(--titleHeight);
}
.crucible.sheet.actor .sheet-header .title .charname input {
  height: 100%;
  background: none;
  border: none;
  padding: 0 0.5rem;
}
.crucible.sheet.actor .sheet-header .title > label {
  flex: none;
  font-size: var(--font-size-28);
}
.crucible.sheet.actor .sheet-header .title input.level {
  flex: none;
  width: var(--titleHeight);
  height: var(--titleHeight);
  font-size: var(--font-size-28);
  line-height: var(--titleHeight);
  margin-bottom: -2px;
  text-align: center;
}
.crucible.sheet.actor .sheet-header .subtitle {
  width: 100%;
  padding: 0.25rem 0;
  gap: 0.25rem;
}
.crucible.sheet.actor .sheet-header .subtitle .tag {
  display: flex;
  flex: none;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  font-size: var(--fontSizeTitle);
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorBeige);
  border-radius: 2px;
}
.crucible.sheet.actor .sheet-header .subtitle .tag[data-action] {
  cursor: pointer;
}
.crucible.sheet.actor .sheet-header .subtitle .tag .control {
  cursor: pointer;
  font-size: var(--font-size-14);
}
.crucible.sheet.actor .sheet-header .subtitle .tag.incomplete {
  border: 2px dashed var(--colorBeige);
}
.crucible.sheet.actor .sheet-navigation {
  flex: 0 0 var(--navHeight);
  justify-content: space-between;
  font-family: var(--fontFamilySerif);
  font-size: var(--fontSizeHeader);
  line-height: var(--navHeight);
  border-bottom: 1px solid var(--colorBeige);
}
.crucible.sheet.actor .sheet-navigation .item {
  flex: auto;
  color: var(--colorOlive);
}
.crucible.sheet.actor .sheet-navigation .item.active {
  color: var(--colorDark);
  font-weight: bold;
  text-shadow: 0 0 5px #FFF;
}
.crucible.sheet.actor .tab.skills,
.crucible.sheet.actor .tab.talents,
.crucible.sheet.actor .tab.inventory,
.crucible.sheet.actor .tab.spells {
  overflow-y: auto;
  padding-right: 4px;
}
.crucible.sheet.actor .resources {
  margin: 4px 0;
  flex: none;
}
.crucible.sheet.actor .resource {
  padding: 0 var(--marginSize);
  border-right: 1px solid var(--colorFaint);
}
.crucible.sheet.actor .resource.action {
  border-right: none;
}
.crucible.sheet.actor .resource .resource-values {
  margin: 3px 0;
}
.crucible.sheet.actor .resource .resource-values input,
.crucible.sheet.actor .resource .resource-values .resource-max {
  height: 24px;
  font-size: var(--fontSizeMain);
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .resource .bar {
  flex: 0 0 100%;
  height: 8px;
  margin: 3px 0 0;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1px;
}
.crucible.sheet.actor .resource .bar .fill {
  height: 4px;
  border-radius: 4px;
}
.crucible.sheet.actor .abilities {
  flex: none;
  margin-bottom: 4px;
}
.crucible.sheet.actor .abilities .ability-scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, var(--abilityHeight));
  grid-gap: var(--marginHalfSize);
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .ability {
  align-items: center;
}
.crucible.sheet.actor .ability h4.label {
  margin: 0;
  font-weight: normal;
  font-size: var(--fontSizeHeader);
  font-family: var(--fontFamilySerif);
  line-height: var(--abilityHeight);
}
.crucible.sheet.actor .ability .score {
  margin: 0 var(--marginSize);
}
.crucible.sheet.actor .ability .controls {
  flex: 0 0 16px;
  height: 100%;
  margin-right: 4px;
}
.crucible.sheet.actor .ability .controls .control {
  flex: 0 0 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .ability .controls .control.inactive {
  color: var(--colorBeige);
  pointer-events: none;
}
.crucible.sheet.actor .ability .controls .increase {
  margin-bottom: 3px;
}
.crucible.sheet.actor .point-pools {
  flex: none;
  justify-content: flex-end;
  gap: 4px;
  text-align: right;
  margin: calc(var(--marginSize) / 2) 0;
  font-size: var(--fontSizeHeader);
  line-height: 24px;
}
.crucible.sheet.actor .point-pools label {
  flex: none;
}
.crucible.sheet.actor .point-pools span.value {
  flex: 0 0 32px;
  height: 24px;
  margin: 0;
  font-size: var(--fontSizeHeader);
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--colorBeige);
}
.crucible.sheet.actor .point-pools .button.reset {
  flex: none;
  padding: 0 0.5rem;
}
.crucible.sheet.actor .defenses {
  flex: none;
  margin-bottom: 0.5rem;
}
.crucible.sheet.actor .defenses .defense {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
}
.crucible.sheet.actor .defenses .defense .flexcol {
  align-items: center;
}
.crucible.sheet.actor .defenses .defense h3,
.crucible.sheet.actor .defenses .defense h4 {
  font-size: var(--fontSizeHeader);
  margin: 0;
  white-space: nowrap;
}
.crucible.sheet.actor .defenses .defense input,
.crucible.sheet.actor .defenses .defense .input {
  margin: 0 var(--marginSize);
  flex: 0 0 32px;
}
.crucible.sheet.actor .defenses .defense .subtitle {
  font-family: var(--fontFamilySerif);
  font-size: var(--fontSizeMain);
  margin: 0;
  white-space: nowrap;
}
.crucible.sheet.actor .defenses .physical-defenses {
  margin: 0.5rem 0;
  gap: var(--marginSize);
}
.crucible.sheet.actor .defenses .physical-defenses .physical-title {
  flex: 1;
}
.crucible.sheet.actor .defenses .physical-defenses .physical-formula {
  flex: 2;
}
.crucible.sheet.actor .defenses .save-defenses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--marginHalfSize);
  margin: 0.5rem 0;
  padding: 0;
}
.crucible.sheet.actor .miscellaneous {
  justify-content: flex-end;
  gap: 1rem;
}
.crucible.sheet.actor .miscellaneous > .flexrow {
  gap: 4px;
}
.crucible.sheet.actor .miscellaneous label {
  line-height: 24px;
  font-size: var(--fontSizeHeader);
}
.crucible.sheet.actor .miscellaneous .input.total {
  flex: 0 0 24px;
}
.crucible.sheet.actor .damage-resistances {
  flex: none;
  align-items: flex-start;
  gap: 0.5rem 1rem;
  font-size: var(--fontSizeHeader);
}
.crucible.sheet.actor .damage-resistances .resistances {
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .damage-resistances .resistances .resistance {
  margin: 0;
  font-size: var(--fontSizeSmall);
  gap: 4px;
}
.crucible.sheet.actor .damage-resistances .resistances label {
  line-height: 24px;
  font-size: var(--fontSizeHeader);
}
.crucible.sheet.actor .damage-resistances .resistances .total,
.crucible.sheet.actor .damage-resistances .resistances input {
  flex: 0 0 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.crucible.sheet.actor .damage-resistances .resistances .total {
  font-weight: bold;
}
.crucible.sheet.actor .badge {
  text-align: left;
  padding-left: 28px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.crucible.sheet.actor .badge.attributes {
  background-image: url("../ui/badges/attributes-inactive.png");
}
.crucible.sheet.actor .badge.attributes.active {
  background-image: url("../ui/badges/attributes-active.png");
}
.crucible.sheet.actor .badge.skills {
  background-image: url("../ui/badges/skills-inactive.png");
}
.crucible.sheet.actor .badge.skills.active {
  background-image: url("../ui/badges/skills-active.png");
}
.crucible.sheet.actor .badge.talents {
  background-image: url("../ui/badges/talents-inactive.png");
}
.crucible.sheet.actor .badge.talents.active {
  background-image: url("../ui/badges/talents-active.png");
}
.crucible.sheet.actor .badge.inventory {
  background-image: url("../ui/badges/inventory-inactive.png");
}
.crucible.sheet.actor .badge.inventory.active {
  background-image: url("../ui/badges/inventory-active.png");
}
.crucible.sheet.actor .badge.spells {
  background-image: url("../ui/badges/spells-inactive.png");
}
.crucible.sheet.actor .badge.spells.active {
  background-image: url("../ui/badges/spells-active.png");
}
.crucible.sheet.actor .badge.biography {
  background-image: url("../ui/badges/biography-inactive.png");
}
.crucible.sheet.actor .badge.biography.active {
  background-image: url("../ui/badges/biography-active.png");
}
.crucible.sheet.actor .badge.strength {
  background-image: url("../ui/badges/strength.png");
}
.crucible.sheet.actor .badge.dexterity {
  background-image: url("../ui/badges/dexterity.png");
}
.crucible.sheet.actor .badge.toughness {
  background-image: url("../ui/badges/toughness.png");
}
.crucible.sheet.actor .badge.intellect {
  background-image: url("../ui/badges/intellect.png");
}
.crucible.sheet.actor .badge.wisdom {
  background-image: url("../ui/badges/wisdom.png");
}
.crucible.sheet.actor .badge.presence {
  background-image: url("../ui/badges/presence.png");
}
.crucible.sheet.actor .badge.physical {
  background-image: url("../ui/badges/physical.png");
}
.crucible.sheet.actor .badge.fortitude {
  background-image: url("../ui/badges/fortitude.png");
}
.crucible.sheet.actor .badge.reflex {
  background-image: url("../ui/badges/reflex.png");
}
.crucible.sheet.actor .badge.willpower {
  background-image: url("../ui/badges/willpower.png");
}
/* -------------------------------------- */
/*  Skills Tab                            */
/* -------------------------------------- */
.crucible.sheet.actor .tab.skills .skills-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.sheet.actor .tab.skills .skill {
  padding: 1px 0;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks {
  display: flex;
  align-items: center;
  gap: 3px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorTan);
  border-radius: 1px 2px;
}
.crucible.sheet.actor .tab.skills .skill .skill-ranks .pip.trained {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px #FFF inset;
  border: 1px solid var(--colorOlive);
}
.crucible.sheet.actor .tab.skills .bonus {
  flex: 0 0 64px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .bonus .active,
.crucible.sheet.actor .tab.skills .bonus .passive {
  height: 24px;
  text-align: center;
  margin: 0 2px;
}
.crucible.sheet.actor .tab.skills .bonus .active {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .bonus .passive {
  color: var(--colorTan);
}
.crucible.sheet.actor .tab.skills .attributes {
  flex: 0 0 72px;
  text-align: center;
}
.crucible.sheet.actor .tab.skills .attributes .tag {
  width: 28px;
}
.crucible.sheet.actor .tab.skills .points {
  flex: 0 0 72px;
}
.crucible.sheet.actor .tab.skills .points .cumulative {
  font-weight: bold;
}
.crucible.sheet.actor .tab.skills .points .next {
  color: var(--colorTan);
}
/* -------------------------------------- */
/*  Biography Tab                         */
/* -------------------------------------- */
.crucible.sheet.actor .tab.biography {
  margin: var(--marginSize) 0;
}
/* -------------------------------------- */
/*  Item Lists                            */
/* -------------------------------------- */
.crucible.actor .items-header {
  flex: 0 0 28px;
  align-items: center;
  margin: 3px 0;
  padding: 0 4px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--colorBeige);
}
.crucible.actor .items-list {
  flex: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.crucible.actor .items-list .controls {
  padding-left: 2px;
  border-left: 1px solid var(--colorBeige);
}
.crucible.actor .talents .point-pools a.button {
  color: var(--colorOlive);
  border: 1px solid var(--colorBeige);
  font-size: var(--font-size-14);
  font-weight: bold;
}
.crucible.actor .unequipped .equipped-state {
  opacity: 0.5;
}
/* -------------------------------------- */
/*  Active Effects                        */
/* -------------------------------------- */
/* ----------------------------------------- */
/*  Hero Sheet                               */
/* ----------------------------------------- */
.crucible.sheet.hero {
  /** Advancement Bar */
  /** Level-Up Button */
  /** Resource Order */
}
.crucible.sheet.hero .advancement {
  flex: 0 0 140px;
}
.crucible.sheet.hero .advancement .bar {
  flex: 0 0 100%;
  height: 10px;
  padding: 1px;
  margin-bottom: 4px;
  background: #2a3247;
  border: 1px solid #191813;
  border-radius: 8px;
}
.crucible.sheet.hero .advancement .bar .fill {
  height: 6px;
  background: #91e5f5;
  border-radius: 8px;
}
.crucible.sheet.hero .advancement input,
.crucible.sheet.hero .advancement span.input {
  height: 20px;
  line-height: 20px;
}
.crucible.sheet.hero a.level-up {
  flex: 0 0 36px;
  height: 36px;
  margin: 0;
  line-height: 36px;
  font-size: var(--font-size-20);
  font-weight: bold;
  color: var(--color-text-hyperlink);
}
.crucible.sheet.hero .resource {
  min-width: 160px;
}
.crucible.sheet.hero .resource.health {
  order: 1;
}
.crucible.sheet.hero .resource.morale {
  order: 2;
}
.crucible.sheet.hero .resource.action {
  order: 3;
}
.crucible.sheet.hero .resource.wounds {
  order: 4;
}
.crucible.sheet.hero .resource.madness {
  order: 5;
}
.crucible.sheet.hero .resource.focus {
  order: 6;
}
/* ----------------------------------------- */
/*  Adversary Sheet                          */
/* ----------------------------------------- */
.crucible.sheet.adversary .sheet-header select {
  flex: 0 0 90px;
}
.crucible.sheet.adversary .sheet-header .threat-icon {
  font-size: var(--font-size-18);
  color: var(--colorTan);
}
.crucible.sheet.adversary .sheet-header .controls {
  flex: none;
}
.crucible.sheet.adversary .sheet-header .controls .control {
  flex: none;
  height: 16px;
}
/* ----------------------------------------- */
/*  Archetype Config                         */
/* ----------------------------------------- */
.crucible.sheet.archetype .sheet-header {
  border-bottom: none;
}
/* ----------------------------------------- */
/*  Taxonomy Config                          */
/* ----------------------------------------- */
.crucible.sheet.taxonomy .sheet-header {
  border-bottom: none;
}
/* ----------------------------------------- */
/*  Armor and Weapons                        */
/* ----------------------------------------- */
.crucible-new.weapon .item-properties,
.crucible-new.armor .item-properties {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.crucible-new.weapon .item-properties label.checkbox,
.crucible-new.armor .item-properties label.checkbox {
  flex: 0 0 80px;
  text-align: left;
}
/** ----------------------------------------- *
 *  Archetype Sheet                           *
 * ------------------------------------------ */
.crucible-new.archetype .abilities,
.crucible-new.taxonomy .abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.crucible-new.archetype .resistances,
.crucible-new.taxonomy .resistances {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.crucible-new.archetype .abilities label,
.crucible-new.taxonomy .abilities label,
.crucible-new.archetype .resistances label,
.crucible-new.taxonomy .resistances label {
  padding: 0.25rem;
  border: 1px solid var(--color-frame);
  border-radius: 6px;
}
.crucible-new.archetype .abilities input,
.crucible-new.taxonomy .abilities input,
.crucible-new.archetype .resistances input,
.crucible-new.taxonomy .resistances input {
  font-size: var(--font-size-20);
  border-color: transparent;
}
.crucible-new.archetype .ability-sum,
.crucible-new.taxonomy .ability-sum,
.crucible-new.archetype .resistance-sum,
.crucible-new.taxonomy .resistance-sum {
  float: right;
}
.crucible-new.archetype .talents,
.crucible-new.taxonomy .talents {
  gap: 1rem;
}
.crucible-new.archetype .droppable,
.crucible-new.taxonomy .droppable {
  padding: 0 1rem;
  border: 1px dashed var(--color-frame);
  border-radius: 6px;
}
/** ----------------------------------------- *
 *  Armor Sheet                               *
 * ------------------------------------------ */
.crucible.sheet.armor .resistance {
  flex: 0 0 50%;
  margin: 0 0 3px;
  padding: 0 6px;
}
.crucible.sheet.armor .resistance > input {
  flex: 0 0 64px;
  text-align: center;
}
/** ----------------------------------------- *
 *  Talent Sheet                              *
 * ------------------------------------------ */
.crucible-new.talent button.delete-hook {
  width: min-content;
  line-height: 1.5rem;
  float: right;
}
/** ----------------------------------------- *
 *  Background Sheet                          *
 * ------------------------------------------ */
.crucible-new.background .skills .form-fields {
  flex-wrap: wrap;
  gap: 0.5rem 0;
}
.crucible-new.background .skills .form-fields label {
  flex: 0 0 25%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.crucible-new.background .skills .form-fields label input {
  width: 16px;
  margin: 0;
}
.crucible-new.background .talents .talent .tags {
  flex: none;
}
.crucible-new.background .talents .droppable {
  padding: 0.5rem 1rem;
  border: 1px dashed var(--color-tertiary);
  border-radius: 8px;
  cursor: pointer;
}
.crucible-new.background .talents .talent + .droppable {
  display: none;
}
/** ----------------------------------------- *
 *  Journal Sheet                             *
 * ------------------------------------------ */
.crucible-new.journal-sheet .journal-entry-content {
  border: none;
  background: none;
}
.crucible-new.journal-sheet .journal-header {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 20px;
  background-image: url("../ui/journal/h1-separator.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.crucible-new.journal-sheet .journal-header .title {
  background: none;
  border: none;
  font-family: var(--font-h1);
  font-size: 2.25rem;
  color: var(--color-h1);
}
.crucible-new.journal-sheet .journal-page-header {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 20px;
  background-image: url("../ui/journal/h2-separator.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.crucible-new.journal-sheet .journal-page-header h1 {
  text-align: center;
}
.crucible-new.journal-sheet .journal-page-content {
  padding: 0 2rem;
  font-size: var(--font-size-15);
  line-height: var(--font-size-20);
}
.crucible-new.journal-sheet .journal-page-content > h2,
.crucible-new.journal-sheet .journal-page-content > h3,
.crucible-new.journal-sheet .journal-page-content > h4 {
  margin: 2rem 0 1rem;
}
.crucible-new.journal-sheet .journal-page-content h4 {
  font-size: var(--font-size-18);
}
.crucible-new.journal-sheet .journal-page-content :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  margin-top: 2rem;
}
.crucible-new.journal-sheet .journal-page-content p {
  text-align: justify;
}
.crucible-new.journal-sheet .journal-sidebar {
  color: var(--color-sidebar);
}
.crucible-new.journal-sheet .journal-sidebar .header-search {
  margin: 0.5rem;
  gap: 0.5rem;
}
.crucible-new.journal-sheet .journal-sidebar .header-search input {
  margin: 0;
  background: var(--color-frame);
  color: var(--color-text);
}
.crucible-new.journal-sheet .journal-sidebar .header-search input::placeholder {
  color: var(--color-h1);
}
.crucible-new.journal-sheet .journal-sidebar .pages-list .headings li:last-child {
  margin: 0;
}
.crucible-new.journal-sheet .journal-sidebar .action-buttons {
  margin: 1rem 0;
  gap: 0.5rem;
}
.crucible-new.journal-sheet .journal-sidebar .action-buttons button.create {
  margin: 0;
}
.crucible-new.journal-sheet .journal-sidebar .action-buttons button.next,
.crucible-new.journal-sheet .journal-sidebar .action-buttons button.previous {
  margin: 0;
  color: transparent;
  border: none;
  background: url("../ui/journal/arrow-left.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.crucible-new.journal-sheet .journal-sidebar .action-buttons button.next {
  background-image: url("../ui/journal/arrow-right.png");
}
.crucible-new.journal-sheet .journal-sidebar.collapsed .action-buttons button.next,
.crucible-new.journal-sheet .journal-sidebar.collapsed .action-buttons button.previous {
  margin: 0;
}
.crucible-new.journal-sheet .journal-entry-pages {
  flex: 1;
}
.crucible-new.journal-sheet .journal-entry-pages .edit-container .editor-edit {
  background: none;
  border: none;
  color: var(--color-text);
}
/** ----------------------------------------- *
 *  Skill Page Sheet                          *
 * ------------------------------------------ */
.crucible-new.skill-sheet .scrollable {
  flex: 1;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden auto;
}
.crucible-new.skill-sheet .scrollable h2.divider,
.crucible-new.skill-sheet .scrollable div.form-group {
  margin: 0;
}
.crucible-new.skill-sheet .form-footer {
  margin: 1rem;
}
.crucible-new.skill figure.right {
  float: right;
  margin: 0 0 1rem 1rem;
}
.crucible-new.skill figure.right img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}
.crucible-new.sheet.skill {
  --headerHeight: 48px;
  --titleHeight: 48px;
}
.crucible-new.sheet.skill .sheet-header {
  margin-bottom: 1rem;
}
.crucible-new.sheet.skill .sheet-header .purchase {
  flex: 0 0 140px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.crucible-new.sheet.skill .sheet-header .purchase .rank {
  flex: 0 0 40px;
  padding: 0 3px;
  border: 1px solid var(--color-tertiary);
  border-radius: 4px;
  font-family: var(--font-h1);
  font-size: 28px;
  text-align: center;
}
.crucible-new.sheet.skill .description {
  font-size: var(--font-size-14);
}
.crucible-new.sheet.skill .sheet-body {
  max-height: 80vh;
  overflow-y: auto;
}
.crucible-new.sheet.skill input.choose-path {
  margin: 0;
  height: 16px;
  position: relative;
  top: 3px;
}
.crucible-new.sheet.skill .skill-ranks .skill-rank {
  padding: 0.5rem 0;
}
.crucible-new.sheet.skill .skill-ranks .skill-rank h3 {
  display: inline;
}
.crucible .action {
  gap: 4px;
  /** Action Header */
  /** Text Description */
}
.crucible .action .action-header {
  flex: none;
}
.crucible .action label.tag-icon {
  flex: none;
}
.crucible .action .action-description {
  padding: 4px 0;
  font-size: var(--font-size-12);
  font-style: italic;
  border-top: 1px solid var(--colorBeige);
  border-bottom: 1px solid var(--colorBeige);
}
.crucible.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  color: var(--colorOlive);
  line-height: 20px;
  margin-top: 0.25rem;
}
.message-metadata .confirmed {
  color: var(--colorSuccess);
}
.message-metadata .unconfirmed {
  color: var(--colorError);
}
#chat-log .message .flavor-text {
  font-family: var(--fontFamilySerif);
  font-size: var(--font-size-16);
}
#chat-log .dice-rolls {
  margin-top: 0.5rem;
}
#chat-log .dice-rolls .dice-roll + .dice-roll {
  border-top: 1px solid #b5b3a4;
  margin-top: 0.5rem;
  padding-top: 0.25rem;
}
.dice-roll.standard-check .dice-pool {
  justify-content: space-between;
  margin: 10px 0;
}
.dice-roll.standard-check .die {
  position: relative;
  flex: 0 0 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 6px #EEE;
  background-size: 48px 48px;
  filter: drop-shadow(0px 0px 6px #EEE);
}
.dice-roll.standard-check .die .denom {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5px;
  color: #33332e;
  font-size: 12px;
  line-height: 16px;
}
.dice-roll.standard-check .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.dice-roll.standard-check .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.dice-roll.standard-check .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.dice-roll.standard-check .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.dice-roll.standard-check .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.dice-roll.standard-check .boons {
  position: relative;
  flex: 0 0 48px;
  text-align: center;
  padding: 8px 0;
}
.dice-roll.standard-check .boons i,
.dice-roll.standard-check .boons span {
  height: 16px;
  line-height: 16px;
  display: block;
}
.dice-roll.standard-check .dice-tooltip .counter {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
.dice-roll.standard-check .dice-tooltip .counter label {
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}
.dice-roll.standard-check .dice-tooltip .counter span {
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .dice-tooltip .boon-details,
.dice-roll.standard-check .dice-tooltip .bane-details {
  gap: 0.25rem;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-bottom: 1px solid #b5b3a4;
}
.dice-roll.standard-check .dice-tooltip .boon-details h4,
.dice-roll.standard-check .dice-tooltip .bane-details h4 {
  font-weight: bold;
  margin: 0;
}
.dice-roll.standard-check .dice-tooltip .boon-details .boon span.label,
.dice-roll.standard-check .dice-tooltip .bane-details .boon span.label,
.dice-roll.standard-check .dice-tooltip .boon-details .bane span.label,
.dice-roll.standard-check .dice-tooltip .bane-details .bane span.label {
  order: 1;
  font-size: 16px;
  font-family: var(--fontFamilySerif);
}
.dice-roll.standard-check .dice-tooltip .boon-details .boon input,
.dice-roll.standard-check .dice-tooltip .bane-details .boon input,
.dice-roll.standard-check .dice-tooltip .boon-details .bane input,
.dice-roll.standard-check .dice-tooltip .bane-details .bane input {
  order: 2;
  flex: 0 0 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #7a7971;
  border-radius: 2px;
  text-align: center;
}
.dice-roll.standard-check .check-result,
.dice-roll.standard-check .damage-result {
  position: relative;
  margin: 5px 0 0;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome,
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  position: absolute;
  color: #33332e;
  font-weight: normal;
  font-size: 14px;
}
.dice-roll.standard-check .check-result .outcome,
.dice-roll.standard-check .damage-result .outcome {
  left: 5px;
}
.dice-roll.standard-check .check-result .target,
.dice-roll.standard-check .damage-result .target {
  right: 5px;
}
.dice-roll.standard-check .check-result .applied:before,
.dice-roll.standard-check .damage-result .applied:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 3px;
  content: "\f00c";
}
.dice-roll.standard-check.success .check-result {
  background: rgba(0, 255, 0, 0.05);
  border: 1px solid green;
}
.dice-roll.standard-check.failure .check-result {
  background: rgba(255, 0, 0, 0.05);
  border: 1px solid red;
}
.dice-roll.standard-check.glance .check-result {
  background: rgba(255, 255, 0, 0.05);
  border: 1px solid yellow;
}
.dice-roll.standard-check.failure.critical .check-result {
  background: rgba(255, 0, 0, 0.05);
  color: red;
  border: 1px solid red;
}
.dice-roll.standard-check.success.critical .check-result {
  background: rgba(0, 255, 0, 0.05);
  color: green;
  border: 1px solid green;
}
/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */
.crucible-new.roll {
  background: url("../ui/journal/grunge.png") no-repeat;
  background-size: cover;
}
.crucible-new.roll .standard-check {
  gap: 0.5rem;
}
.crucible-new.roll .roller {
  flex: 2;
  gap: 0.5rem;
  text-align: center;
}
.crucible-new.roll .roller .boons,
.crucible-new.roll .roller .banes {
  margin: 0;
  flex: 0 0 32px;
  font-family: var(--font-h1);
}
.crucible-new.roll .roller .boons label,
.crucible-new.roll .roller .banes label {
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}
.crucible-new.roll .roller .boons input,
.crucible-new.roll .roller .banes input {
  flex: 0 0 36px;
  height: 36px;
  font-size: 24px;
}
.crucible-new.roll .roller .boons .action-button,
.crucible-new.roll .roller .banes .action-button {
  flex: 0 0 32px;
  margin: 0 3px;
  cursor: pointer;
  font-size: 1.125rem;
}
.crucible-new.roll .roller .boons .action-button.disabled,
.crucible-new.roll .roller .banes .action-button.disabled {
  opacity: 0.25;
}
.crucible-new.roll .roller .boons .action-button:not(.disabled):hover,
.crucible-new.roll .roller .banes .action-button:not(.disabled):hover {
  font-weight: bold;
  text-shadow: 0 0 6px var(--color-link-text);
}
.crucible-new.roll .roller .pool {
  margin: var(--marginSize) 0;
  justify-content: space-evenly;
}
.crucible-new.roll .roller .pool .die {
  flex: 0 0 64px;
  height: 64px;
  line-height: 64px;
  font-family: var(--font-h1);
  color: var(--color-background);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 6px #000);
}
.crucible-new.roll .roller .pool .die.d4 {
  background-image: url("/icons/svg/d4-grey.svg");
}
.crucible-new.roll .roller .pool .die.d6 {
  background-image: url("/icons/svg/d6-grey.svg");
}
.crucible-new.roll .roller .pool .die.d8 {
  background-image: url("/icons/svg/d8-grey.svg");
}
.crucible-new.roll .roller .pool .die.d10 {
  background-image: url("/icons/svg/d10-grey.svg");
}
.crucible-new.roll .roller .pool .die.d12 {
  background-image: url("/icons/svg/d12-grey.svg");
}
.crucible-new.roll .roller .bonuses {
  gap: 0.5rem;
}
.crucible-new.roll .roller .bonuses input {
  line-height: 32px;
}
.crucible-new.roll .target {
  justify-content: space-between;
  border-left: 1px solid #b5b3a4;
  margin-left: var(--marginSize);
  padding-left: var(--marginSize);
}
.crucible-new.roll .target select {
  flex: 0 0 30px;
}
.crucible-new.roll .target label.difficulty {
  flex: 0 0 16px;
  color: #33332e;
  font-family: var(--fontFamilySerif);
  font-size: 20px;
  text-align: center;
}
.crucible-new.roll .target input.dc {
  flex: 0 0 64px;
  width: 64px;
  margin: 0 auto;
}
.crucible-new.roll .details {
  width: 100%;
  flex: none;
  gap: 0.5rem;
}
.crucible-new.roll .details h4 {
  margin: 0;
}
.crucible-new.roll .details .boon-details,
.crucible-new.roll .details .bane-details {
  gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.crucible-new.roll .details .boon-details .boon,
.crucible-new.roll .details .bane-details .boon,
.crucible-new.roll .details .boon-details .bane,
.crucible-new.roll .details .bane-details .bane {
  gap: 0.5rem;
  align-items: center;
}
.crucible-new.roll .details .boon-details .boon input,
.crucible-new.roll .details .bane-details .boon input,
.crucible-new.roll .details .boon-details .bane input,
.crucible-new.roll .details .bane-details .bane input {
  flex: 0 0 32px;
  text-align: center;
}
.crucible-new.roll footer.buttons {
  gap: 0.5rem;
}
.crucible-new.roll footer.buttons button,
.crucible-new.roll footer.buttons select {
  height: 32px;
}
.crucible-new.roll button.place-template {
  flex: 0 0 140px;
  background: none;
  line-height: 20px;
  height: auto;
}
.crucible-new.roll .form-group.spell-component label {
  font-size: var(--font-size-14);
}
.crucible-new.roll .form-group.spell-component .form-fields {
  flex: 2;
}
/* -------------------------------------------- */
/*  Talent Tree Canvas                          */
/* -------------------------------------------- */
#crucible-talent-tree {
  position: absolute;
  z-index: calc(var(--z-index-window) - 1);
}
/* -------------------------------------------- */
/*  Talent Tree HUD                             */
/* -------------------------------------------- */
/** HUD Elements */
.crucible-new.hud,
.crucible-new .hud {
  padding: 1rem;
  background: url("../ui/journal/background.png");
  border: 1px solid var(--color-frame);
  border-radius: 8px;
  z-index: var(--z-index-tooltip);
}
#crucible-talent-hud {
  --iconSize: 60px;
  min-width: 320px;
  width: min-content;
  max-width: 600px;
  text-align: left;
}
#crucible-talent-hud header {
  align-items: center;
  gap: 0.5rem;
}
#crucible-talent-hud header h1,
#crucible-talent-hud header h4 {
  margin: 0;
  line-height: 1.5rem;
}
#crucible-talent-hud .icon {
  flex: 0 0 var(--iconSize);
  height: var(--iconSize);
  border-radius: 8px;
}
#crucible-talent-hud .tags {
  flex: 0 0 100%;
}
#crucible-talent-hud section {
  margin-top: 0.5rem;
}
#crucible-talent-hud .actions .icon {
  --iconSize: 36px;
}
#crucible-talent-hud .actions .description {
  margin: 0.5rem 0;
}
#crucible-talent-hud .actions .description > p:first-child {
  margin-top: 0;
}
#crucible-talent-hud .actions .description > p:last-child {
  margin-bottom: 0;
}
#crucible-talent-hud .effects {
  margin: 0.5rem 0;
  padding: 0;
  list-style: none;
}
#crucible-talent-hud .effects .effect {
  gap: 0.25rem;
}
/* -------------------------------------------- */
/*  Talent Tree Controls                        */
/* -------------------------------------------- */
#crucible-talent-controls {
  position: fixed;
  width: 100%;
  bottom: 50px;
  justify-content: center;
  pointer-events: none;
  font-size: var(--font-size-18);
  color: var(--color-secondary);
  z-index: calc(var(--z-index-tooltip) - 1);
}
#crucible-talent-controls nav {
  width: 100%;
  max-width: 960px;
  align-items: center;
  pointer-events: all;
  padding: 0.5rem 1rem;
}
#crucible-talent-controls .points {
  gap: 0.5rem;
  flex: 0 0 240px;
  align-items: center;
}
#crucible-talent-controls .points span.input {
  flex: none;
  text-align: center;
  font-family: var(--font-h1);
  font-size: var(--font-size-32);
  color: var(--color-text);
}
#crucible-talent-controls header.name {
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
#crucible-talent-controls header.name h2 {
  flex: none;
  margin: 0;
  border: none;
  font-size: var(--font-size-32);
  color: var(--color-text);
}
#crucible-talent-controls header.name span.level {
  flex: none;
}
#crucible-talent-controls div.controls {
  flex: 0 0 240px;
  gap: 0.5rem;
}
