
#chat-log .message .flavor-text {
  font-family: var(--font-body);
  font-size: var(--font-size-16);
}

#chat-log .dice-rolls {
  margin-top: 0.5rem;
  .dice-roll + .dice-roll {
    border-top: 1px solid var(--color-secondary);
    margin-top: 0.5rem;
    padding-top: 0.25rem;
  }
}

.dice-roll.standard-check {
  .dice-pool {
    justify-content: space-between;
    margin: 10px 0;
  }
  .die {
    position: relative;
    flex: 0 0 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 6px #EEE;
    background-size: 48px 48px;
    filter: drop-shadow(0px 0px 6px #EEE);

    .denom {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -5px;
      color: var(--color-tertiary);
      font-size: 12px;
      line-height: 16px;
    }

  }
  .die.d4 { background-image: url("/icons/svg/d4-grey.svg"); }
  .die.d6 { background-image: url("/icons/svg/d6-grey.svg"); }
  .die.d8 { background-image: url("/icons/svg/d8-grey.svg"); }
  .die.d10 { background-image: url("/icons/svg/d10-grey.svg"); }
  .die.d12 { background-image: url("/icons/svg/d12-grey.svg"); }

  .boons {
    position: relative;
    flex: 0 0 48px;
    text-align: center;
    padding: 8px 0;
    i, span {
      height: 16px;
      line-height: 16px;
      display: block;
    }
  }

  .dice-tooltip {
    .counter {
      display: flex;
      justify-content: space-between;
      padding: 2px 0;
      label {
        font-size: 16px;
        font-family: var(--font-body);
      }
      span {
        width: 20px;
        height: 20px;
        background: rgba(0, 0, 0, 0.05);
        border: 1px solid var(--color-tertiary);
        border-radius: 2px;
        text-align: center;
      }
    }

    .boon-details,
    .bane-details {
      gap: 0.25rem;
      padding: 0.25rem 0;
      margin: 0.25rem 0;
      border-bottom: 1px solid var(--color-secondary);
      h4 {
        font-weight: bold;
        margin: 0;
      }
      .boon,
      .bane {
        span.label {
          order: 1;
          font-size: 16px;
          font-family: var(--font-body);
        }
        input {
          order: 2;
          flex: 0 0 20px;
          height: 20px;
          background: rgba(0, 0, 0, 0.05);
          border: 1px solid var(--color-tertiary);
          border-radius: 2px;
          text-align: center;
        }
      }
    }
  }

  .check-result,
  .damage-result {
    position: relative;
    margin: 5px 0 0;
    .outcome, .target {
      position: absolute;
      color: var(--color-tertiary);
      font-weight: normal;
      font-size: 14px;
    }
    .outcome {
      left: 5px;
    }
    .target {
      right: 5px;
    }
    .applied:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      margin-right: 3px;
      content: "\f00c";
    }
  }

  // Success
  &.success .check-result {
    background: rgb(0 255 0 / 5%);
    border: 1px solid green;
  }

  // Failure
  &.failure .check-result  {
    background: rgb(255 0 0 / 5%);
    border: 1px solid red;
  }

  // Deflection
  &.glance .check-result {
    background: rgb(255 255 0 / 5%);
    border: 1px solid yellow;
  }

  // Critical Failure
  &.failure.critical .check-result  {
    background: rgb(255 0 0 / 5%);
    color: red;
    border: 1px solid red;
  }

  // Critical Success
  &.success.critical .check-result {
    background: rgb(0 255 0 / 5%);
    color: green;
    border: 1px solid green;
  }
}

/* ----------------------------------------- */
/*  Roll Dialog                              */
/* ----------------------------------------- */

.crucible.roll {
  background: url("../ui/journal/grunge.png") no-repeat;
  background-size: cover;

  .standard-check {
    gap: 0.5rem;
  }

  .roller {
    flex: 2;
    gap: 0.5rem;
    text-align: center;
    .boons,
    .banes {
      margin: 0;
      flex: 0 0 32px;
      font-family: var(--font-h1);
      label {
        font-size: 20px;
        line-height: 32px;
        text-align: left;
      }
      input {
        flex: 0 0 36px;
        height: 36px;
        font-size: 24px;
      }
      .action-button {
        flex: 0 0 32px;
        margin: 0 3px;
        cursor: pointer;
        font-size: 1.125rem;
        &.disabled {
          opacity: 0.25;
        }
        &:not(.disabled):hover {
          font-weight: bold;
          text-shadow: 0 0 6px var(--color-link-text);
        }
      }
    }

    .pool {
      margin: var(--marginSize) 0;
      justify-content: space-evenly;
      .die {
        flex: 0 0 64px;
        height: 64px;
        line-height: 64px;
        font-family: var(--font-h1);
        color: var(--background);
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        filter: drop-shadow(0px 0px 6px #000);
      }
      .die.d4 { background-image: url("/icons/svg/d4-grey.svg"); }
      .die.d6 { background-image: url("/icons/svg/d6-grey.svg"); }
      .die.d8 { background-image: url("/icons/svg/d8-grey.svg"); }
      .die.d10 { background-image: url("/icons/svg/d10-grey.svg"); }
      .die.d12 { background-image: url("/icons/svg/d12-grey.svg"); }
    }

    .bonuses {
      gap: 0.5rem;
      input {
        line-height: 32px;
      }
    }
  }

  .target {
    justify-content: space-between;
    border-left: 1px solid var(--color-secondary);
    margin-left: var(--marginSize);
    padding-left: var(--marginSize);

    select {
      flex: 0 0 30px;
    }

    label.difficulty {
      flex: 0 0 16px;
      color: var(--color-tertiary);
      font-family: var(--font-body);
      font-size: 20px;
      text-align: center;
    }

    input.dc {
      flex: 0 0 64px;
      width: 64px;
      margin: 0 auto;
    }
  }

  .details {
    width: 100%;
    flex: none;
    gap: 0.5rem;
    h4 {
      margin: 0;
    }
    .boon-details,
    .bane-details {
      gap: 0.25rem;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      .boon,
      .bane {
        gap: 0.5rem;
        align-items: center;
        input {
          flex: 0 0 32px;
          text-align: center;
        }
      }
    }
  }

  footer.buttons {
    gap: 0.5rem;
    button,
    select {
      height: 32px;
    }
  }

  // Template placement prompt
  button.place-template {
    flex: 0 0 140px;
    background: none;
    line-height: 20px;
    height: auto;
  }

  .form-group.spell-component {
    label {
      font-size: var(--font-size-14);
    }
    .form-fields {
      flex: 2;
    }
  }
}
