.crucible.dice-roll {
  .standard-check {
    padding: 1rem;
    gap: 1rem;
  }

  /** Expanded Tooltip */
  .dice-tooltip {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    .dice-formula {
      margin: 0;
      font-size: var(--font-size-12);
      border: 1px solid var(--color-cool-4);
      box-shadow: none;
    }
    .counter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--font-size-12);
      margin: -0.2rem 0;
      label {
        color: var(--color-secondary);
      }
      .hex {
        width: 24px;
        height: 24px;
        border: none;
        color: var(--color-primary);
      }
    }
    &.expanded {
      display: flex !important; // FIXME fight core jquery
    }
  }

  // Check Result
  .dice-total {
    height: 24px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    box-shadow: none;
    .result {
      --hex-bg: url("../ui/elements/hex-plain-filled.svg");
      flex: 0 0 40px;
      height: 40px;
      font-size: var(--font-size-20);
      font-weight: normal;
      z-index: 0;
    }
    .outcome, .dc {
      flex: 1;
      overflow: visible;
      text-wrap: none;
      color: var(--color-secondary);
      font-size: var(--font-size-11);
      font-weight: normal;
    }
    .outcome {
      text-align: right;
    }
    .dc {
      text-align: left;
    }
    .applied:before {
      font-family: var(--font-awesome);
      font-weight: 900;
      margin-right: 3px;
      content: "\f00c";
    }
  }

  // Success
  &.success .dice-total {
    background: rgb(0 255 0 / 3%);
    border: 1px solid var(--color-result-good);
  }

  // Failure
  &.failure .dice-total  {
    background: rgb(255 0 0 / 3%);
    border: 1px solid var(--color-result-bad);
  }

  // Deflection
  &.glance .dice-total {
    background: rgb(255 255 0 / 3%);
    border: 1px solid var(--color-result-warn);
  }

  // Critical Failure
  &.failure.critical .dice-total  {
    background: rgb(255 0 0 / 3%);
    color: #ff3724;
    border: 1px solid var(--color-result-bad);
  }

  // Critical Success
  &.success.critical .dice-total {
    background: rgb(0 255 0 / 3%);
    color: #12cb3f;
    border: 1px solid var(--color-result-good);
  }

  // Hex labels
  .hex .label {
    position: absolute;
    bottom: -1rem;
    margin: 0;
    padding: 2px 6px;
    font-size: var(--font-size-11);
    background: var(--color-frame-bg);
  }

  .roller {
    flex: 2;
    gap: 1rem;
    text-align: center;
  }

  /** Boons and Banes */
  .modifiers {
    padding: 0 0 1rem;
    justify-content: space-between;
    .boons, .banes {
      display: flex;
      justify-content: center;
      align-items: center;
      .hex {
        flex: 0 0 48px;
        height: 48px;
        margin: 0;
        gap: 1rem;
        .value {
          font-family: var(--font-h1);
          font-size: 24px;
          font-weight: normal;
        }
      }
      button {
        width: 32px;
        flex: 0 0 32px;
        font-size: 16px;
        opacity: 1.0;
        &:disabled {
          opacity: 0.25;
        }
      }
    }
  }

  /** Dice Pool Visualization */
  .pool {
    justify-content: space-evenly;
    .die {
      --die-size: 64px;
      position: relative;
      flex: 0 0 var(--die-size);
      height: var(--die-size);
      line-height: var(--die-size);
      font-family: var(--font-h1);
      color: var(--color-primary);
      text-align: center;
      font-size: 24px;
      filter: drop-shadow(0px 0px 6px #000);
      &::before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: var(--die-bg) no-repeat;
        background-size: 100%;
        background-position: center;
        opacity: 0.2;
        z-index: -1;
      }
      h4.label {
        position: absolute;
        bottom: 0;
        margin: 0;
        flex: none;
        width: 100%;
        font-size: var(--font-size-11);
        color: var(--color-secondary);
        line-height: 1em;
      }
    }
    .die.d4 { --die-bg: url("/icons/svg/d4-grey.svg"); }
    .die.d6 { --die-bg: url("/icons/svg/d6-grey.svg"); }
    .die.d8 { --die-bg: url("/icons/svg/d8-grey.svg"); }
    .die.d10 { --die-bg: url("/icons/svg/d10-grey.svg"); }
    .die.d12 { --die-bg: url("/icons/svg/d12-grey.svg"); }
  }

  /** Dice Roll Bonuses */
  .bonuses {
    justify-content: space-evenly;
    padding: 0 0 1rem;
    .bonus {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 48px;
      height: 48px;
      line-height: 48px;
    }
    .value {
      font-size: var(--font-size-20);
    }
  }

  .target {
    justify-content: space-between;
    border-left: 1px solid var(--color-secondary);
    margin-left: var(--marginSize);
    padding-left: var(--marginSize);

    select {
      flex: 0 0 30px;
    }

    label.difficulty {
      flex: 0 0 16px;
      color: var(--color-tertiary);
      font-family: var(--font-body);
      font-size: 20px;
      text-align: center;
    }

    input.dc {
      flex: 0 0 64px;
      width: 64px;
      margin: 0 auto;
    }
  }

  /** Boon and Bane Details */
  .details {
    width: 100%;
    flex: none;
    gap: 0.25rem;
    h4 {
      margin: 0;
      font-size: var(--font-size-16);
    }
    .boon-details,
    .bane-details {
      gap: 0.25rem;
      font-size: var(--font-size-12);
      .boon,
      .bane {
        gap: 0.5rem;
        align-items: center;
        .hex {
          flex: 0 0 24px;
          height: 24px;
        }
        .type {
          flex: none;
          color: var(--color-tertiary);
          font-size: var(--font-size-11);
        }
      }
    }
  }

  // GM Difficulty Selection
  .difficulty .form-fields {
    gap: 0.5rem;
    input {
      flex: 0 0 40px;
    }
  }

  .form-footer {
    gap: 1rem;
    button, select {
      flex: 1;
      height: 32px;
    }
    button {
      opacity: 1.0;
    }
  }
  .standard-form .form-footer {
    flex-wrap: wrap; // FIXME fight core style specificity
  }

  // Template placement prompt
  button.place-template {
    flex: 0 0 140px;
    background: none;
    line-height: 20px;
    height: auto;
  }

  .form-group.spell-component {
    label {
      font-size: var(--font-size-14);
    }
    .form-fields {
      flex: 2;
    }
  }
}
