
crucible-currency {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: var(--font-size-11);
  > label {
    flex: none;
    margin-right: -8px;
  }
  > input {
    flex: 0 0 48px;
    text-align: center;
  }
}
