@import "variables.less";

/* ----------------------------------------- */
/*  All Items                                */
/* ----------------------------------------- */

.crucible.item {
  .item-properties {
    display: grid;
    gap: 0.5rem 1rem;
    multi-checkbox {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* ----------------------------------------- */
/*  Armor and Weapons                        */
/* ----------------------------------------- */

.crucible.weapon,
.crucible.armor {
  .form-group.defense {
    .form-fields {
      flex: 8;
      display: grid;
      grid-template-columns: 1fr 64px 1fr 64px;
    }
  }

  // Equipment Attributes
  .item-equipment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    label {
      font-size: var(--font-size-12);
      font-weight: normal;
      color: var(--color-secondary);
    }
    .slot {
      grid-column: 1 / span 2;
    }
    .reload {
      grid-column: 2;
    }
  }

  // Tabbed descriptions
  .tab[data-tab=description] {
    padding: 0;
    gap: 0;
    .sheet-tabs {
      border-top: none;
    }
    section.tab {
      padding: 1rem;
    }
  }
}

/** ----------------------------------------- *
 *  Archetype Sheet                           *
 * ------------------------------------------ */

.crucible.archetype,
.crucible.taxonomy {
  .abilities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }
  .resistances {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
  }
  .abilities,
  .resistances {
    label {
      padding: 0.25rem;
      border: 1px solid var(--color-frame);
      border-radius: 6px;
    }
    input {
      font-size: var(--font-size-20);
      border-color: transparent;
    }
  }
  .ability-sum,
  .resistance-sum {
    float: right;
  }
  .talents {
    gap: 1rem;
  }
  .droppable {
    padding: 0 1rem;
    border: 1px dashed var(--color-frame);
    border-radius: 6px;
  }
}

/** ----------------------------------------- *
 *  Action Sheet                              *
 * ------------------------------------------ */

.crucible.action {
  button.delete-hook {
    width: 28px;
    line-height: 22px; // 28px height
    float: right;
  }
}

/** ----------------------------------------- *
 *  Talent Sheet                              *
 * ------------------------------------------ */

.crucible.talent {

  // Delete Hook
  button.delete-hook {
    width: 28px;
    line-height: 22px; // 28px height
    float: right;
  }

  // Actions Summary
  .actions {
    .line-item {
      flex-direction: column;
    }
    .action-header h4 {
      flex: none;
    }
  }
}

/** ----------------------------------------- *
 *  Background Sheet                          *
 * ------------------------------------------ */

.crucible.background {
  .talents {
    .talent .tags {
      flex: none;
    }
    .droppable {
      padding: 0.5rem 1rem;
      border: 1px dashed var(--color-tertiary);
      border-radius: 8px;
      cursor: pointer;
    }
    .talent + .droppable {
      display: none;
    }
  }
}
