/** ----------------------------------------- *
 *  Journal Sheet                             *
 * ------------------------------------------ */

.crucible.journal-sheet {
  --background-overlay: url("../ui/journal/overlay-dark.webp");
  --background-texture: url("../ui/journal/background-texture.webp");
  background: var(--background-texture) repeat;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background-overlay) no-repeat;
    background-position: top center;
    background-size: 100% auto;
    opacity: 0.75;
    z-index: -1;
  }

  .journal-entry-content {
    border: none;
    background: none;
  }

  /** Journal Entry Header */
  .journal-header {
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 20px;
    background-image: url("../ui/journal/h1-separator.png"); // TODO convert SVG
    background-repeat: no-repeat;
    background-position: bottom center;

    .title {
      background: none;
      border: none;
      font-family: var(--font-h1);
      font-size: 2.25rem;
      color: var(--color-h1);
    }
  }

  /** Journal Sidebar TOC */
  .journal-sidebar {

    // Category Labels
    .toc li.category strong {
      font-weight: normal;
      font-size: var(--font-size-14);
      line-height: 2rem;
    }

    // Action Buttons
    .action-buttons {
      margin: 1rem 0;
      button.next, button.previous {
        color: transparent;
        border: none;
        background: url("../ui/journal/arrow-left.png") no-repeat; // TODO convert to WEBP/SVG
        background-size: contain;
        background-position: center;
      }
      button.next {
        background-image: url("../ui/journal/arrow-right.png"); // TODO convert to WEBP/SVG
      }
    }
  }
}

/** ----------------------------------------- *
 *  Single Page Styles                        *
 * ------------------------------------------ */

.crucible.journal-sheet .journal-entry-page {
  --font-h1: "AwerySmallcaps", serif;
  --font-h2: "AwerySmallcaps", serif;
  --font-h3: "AwerySmallcaps", serif;

  /* Page Headers */
  .journal-page-header {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-right: -1rem; // Counteract scrollable padding to ensure h2-separator graphic is centered
    background-image: url("../ui/journal/h2-separator.png"); // TODO convert SVG
    background-repeat: no-repeat;
    background-position: bottom center;
    h1 {
      text-align: center;
    }
  }

  /* Page Content */
  .journal-page-content {
    padding: 0 2rem;
    font-size: var(--font-size-14);
    line-height: var(--font-size-20);

    // Immediate child paragraphs are justified
    > p {
      text-align: justify;
    }

    // Embedded items
    document-embed .item-embed {
      margin: 1rem 0;
    }
  }
}

/** ----------------------------------------- *
 *  Skill Page Sheet                          *
 * ------------------------------------------ */

.crucible-skill-page {
  height: 100%;
  overflow: hidden;
  .scrollable {
    flex: 1;
    gap: 1rem;
    padding: 1rem;
    overflow: hidden auto;
    h2.divider,
    div.form-group {
      margin: 0;
    }
  }
  .form-footer {
    flex: none;
    margin: 1rem;
  }
}

.crucible.skill {
  .overview > p {
    text-align: left;
  }
  figure.right {
    float: right;
    margin: 0 0 1rem 1rem;
    img {
      width: 200px;
      height: 200px;
      border-radius: 6px;
    }
  }
}

/* ----------------------------------------- */
/*  Text Enrichers                           */
/* ----------------------------------------- */

enriched-content.skill-check,
enriched-content.passive-check,
enriched-content.hazard-check,
enriched-content.award,
enriched-content.milestone,
enriched-content.counterspell {
  --tag-bg: light-dark(#e8e4dc, #000000);
  --tag-bg-hover: light-dark(#dcd6ca, #000000);
  --tag-border: light-dark(#3f3128, #000000);
  --tag-border-hover: light-dark(#1c1a1a, #000000);

  display: inline-flex;
  height: 1.5em;
  line-height: 0;
  gap: 4px;
  padding: 0 4px;
  margin: -3px 0;
  align-items: center;
  font-size: 90%;
  background: var(--tag-bg);
  color: var(--color-text-emphatic);
  border: 1px solid var(--tag-border);
  border-radius: 2px;
  cursor: var(--cursor-pointer);

  &:before {
    content: "\f6d2";
    font-family: var(--font-awesome);
    opacity: 0.5;
    margin-right: 4px;
    font-size: 80%;
  }

  &:hover {
    background: var(--tag-bg-hover);
    border-color: var(--tag-border-hover);
    &:before {
      opacity: 1.0;
    }
  }

  // Exploration and Talent checks, Counterspell
  &.exp,
  &.talent-check,
  &.counterspell {
    --tag-bg: light-dark(#c0d5af, #2c3921);
    --tag-bg-hover: light-dark(#a7c88c, #365021);
    --tag-border: #5b9e26;
    --tag-border-hover: light-dark(#3f7a14, #81cc44);
  }
  &.talent-check:before {
    content: "\e4e2";
    font-weight: 900;
  }
  &.counterspell:before {
    content: "\f72b";
  }
  // Knowledge Checks
  &.kno,
  &.knowledge-check {
    --tag-bg: light-dark(#e1e1f5, #1a1a37);
    --tag-bg-hover: light-dark(#cfcfee, #242453);
    --tag-border: #4848ac;
    --tag-border-hover: light-dark(#2e2e8a, #6c6cff);
  }

  &.knowledge-check:before {
    content: "\e0c0";
    font-weight: 900;
  }

  // Social and Language checks
  &.soc,
  &.language-check {
    --tag-bg: light-dark(#d4bae1, #3a184a);
    --tag-bg-hover: light-dark(#c7a1da, #4d2368);
    --tag-border: #752f9f;
    --tag-border-hover: light-dark(#5a1f7d, #ab3fe8);
  }
  &.language-check:before {
    content: "\f086";
    font-weight: 900;
  }

  // Trade checks
  &.trade {
    --tag-bg: light-dark(#f7e6c4, #5d3a00);
    --tag-bg-hover: light-dark(#f0d49c, #734800);
    --tag-border: light-dark(#b3771a, #f0a830);
    --tag-border-hover: light-dark(#8a5a0f, #ffc565);
  }

  // Passive Checks
  &.passive-check {
    cursor: var(--cursor-help, help);
  }

  // Hazard Checks
  &.hazard-check {
    --tag-bg: light-dark(#f5dcdc, #2b0606);
    --tag-bg-hover: light-dark(#eec2c2, #681212);
    --tag-border: #9c1212;
    --tag-border-hover: light-dark(#7a0c0c, #d11515);
  }

  // Awards
  &.award,
  &.milestone {
    --tag-bg: light-dark(#e2e8ea, #243437);
    --tag-bg-hover: light-dark(#d0dadd, #163037);
    --tag-border: light-dark(#6b7577, #9ea5a7);
    --tag-border-hover: light-dark(#3f4a4d, #dae7eb);
    &:before {
      content: "\f091";
      font-weight: 900;
    }
  }
}

/* ----------------------------------------- */

enriched-content.rule {
  font-size: 90%;
  color: var(--color-text-emphatic);
  border: 1px dashed light-dark(var(--color-text-subtle), var(--color-border));
  border-radius: 2px;
  padding: 1px 4px;
  margin: -1px 0;
  cursor: var(--cursor-help, help);
  --rule-icon: "\f02e";
  &:before {
    content: var(--rule-icon);
    font-family: var(--font-awesome);
    font-weight: 900;
    opacity: 0.5;
    margin-right: 4px;
    font-size: 80%;
  }
  &.condition {
    --rule-icon: "\e54d"; // standard Foundry effect icon
  }
  &.action,
  &.actions {
    --rule-icon: "\f0e7"; // lightning
  }
  &.basic-rule {
    &.action {
      --rule-icon: "\f02b"; // tag
    }
  }
}

/* ----------------------------------------- */
/*  Currency Display                         */
/* ----------------------------------------- */
.currencies-inline {
  display: inline-flex;
  height: 1.5em;
  line-height: 0;
  gap: 4px;
  align-items: center;
  i.currency {
    width: 16px;
    height: 16px;
    margin-right: -4px;
  }
}

/* ----------------------------------------- */
/*  Actor Embeds                             */
/* ----------------------------------------- */

document-embed.block.actor {
  --actor-embed-border-color: color-mix(in srgb, var(--color-text-primary) 25%, transparent);
  --actor-embed-background: color-mix(in srgb, var(--color-text-primary) 8%, transparent);
  position: relative;
  display: block;
  margin: 1rem 0;
  padding: 1rem 0 0 1rem;

  img.portrait {
    position: absolute;
    top: 0;
    left: 8px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    background: var(--color-cool-4);
    border: 2px solid var(--actor-embed-border-color);
    border-radius: 50%;
    z-index: 1;
  }

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 60px;
    margin-left: 60px;
    padding: 0 1rem 0 50px;
    background: var(--actor-embed-background);
    border: 1px solid var(--actor-embed-border-color);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    h4 {
      flex: 1;
      margin: 0;
    }
    .meta {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-align: right;
      line-height: 1rem;
    }
    .threat {
      font-size: var(--font-size-18);
    }
    .count,
    .category {
      font-size: var(--font-size-14);
      color: var(--color-text-subtle);
    }
  }

  .readaloud {
    padding: 1.5rem;
    background: var(--actor-embed-background);
    border: 1px solid var(--actor-embed-border-color);
    border-radius: 0 0 4px 4px;
    font-family: var(--font-blockquote);
    font-style: italic;
    > p:first-child {
      margin-top: 0;
      text-indent: 3rem;
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
}

/** Special Actor embed rules when inside a `.crucible` environment */
.crucible document-embed.block.actor {
  --actor-embed-border-color: var(--color-frame);
  --actor-embed-background: var(--color-frame-bg);
  margin-left: -1rem;
  img.portrait {
    background: var(--color-frame-bg);
  }
  .readaloud {
    font-family: var(--font-quote);
    font-style: normal;
    color: var(--color-secondary);
  }
}
