
/* ----------------------------------------- */
/*  Font Faces                               */
/* ----------------------------------------- */

@font-face {
  font-family: "CaslonAntique";
  src: url("../fonts/CaslonAntique/CaslonAntique.ttf");
}

@font-face {
  font-family: "Planewalker";
  src: url("../fonts/Planewalker/Planewalker.otf");
}

@font-face {
  font-family: "AwerySmallcaps";
  src: url("../fonts/AwerySmallcaps/AwerySmallcaps.ttf");
}

@font-face {
  font-family: "Constantia";
  src: url("../fonts/Constantia/Constantia.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Constantia";
  src: url("../fonts/Constantia/ConstantiaBold.ttf");
  font-style: normal;
  font-weight: 700;
}

/* ----------------------------------------- */
/*  CSS Variables                            */
/* ----------------------------------------- */

:root {
  --fontFamilySerif: "CaslonAntique", "Palatino Linotype", serif;
  --fontFamilySans: "Signika", sans-serif;
}

.crucible {
  --color-background: #0b0909;
  --color-text: #eee8df;
  --color-primary: var(--color-text);
  --color-secondary: #d7c4a9;
  --color-tertiary: #b6967c;
  --color-header: #cac5ba;
  --color-sidebar: #cfc7bb;
  --color-h1: #cfbea2;
  --color-frame: #3f3128;
  --color-frame-bg: #1c1a1a;
  --color-accent: #cf9356;
  --color-link-text: #f36739;
  --color-border-highlight: var(--color-accent); // Replace core style
  --font-h1: "AwerySmallcaps", serif;
  --font-body: "Constantia", serif;
  --font-quote: "CaslonAntique", serif;
  --font-sans: "Signika", sans-serif;
  --font-size-15: 0.9375rem;

  // V10 Core Overrides
  --color-checkbox-checked: #cf9356;
  --color-bg-option: #3f3128;
}
