<section class="tab sheet-body flexcol scrollable {{tabs.effects.cssClass}}"
         data-group="{{tabs.effects.group}}" data-tab="{{tabs.effects.id}}">
    <button type="button" class="frame-brown" data-action="addEffect">
        <i class="fa-solid fa-plus"></i>
        <span>{{localize "ACTION.EFFECTS.Add"}}</span>
    </button>
    {{#each effects as |effect|}}
    {{> (lookup @root "effectPartial") effect=effect placeholder=@root/action.name
            fields=@root/fields.effects.element.fields
            effectDurations=@root/effectDurations
            effectExpiryEvents=@root/effectExpiryEvents}}
    {{/each}}
</section>
