<section class="tab sheet-body flexcol scrollable {{tabs.hooks.cssClass}}"
         data-group="{{tabs.hooks.group}}" data-tab="{{tabs.hooks.id}}">
    {{#each moduleHooks}}
    {{> (lookup @root "hookPartial")}}
    {{/each}}
    {{#unless moduleHooks.length}}
    <p class="hint">{{localize "HOOKS.NoModuleHooks"}}</p>
    {{/unless}}
</section>
